/* Business
-------------------------------------------------- */
section#business {
  .sales-contact {
    background: white;
    color: @baby-blue;
    font-size: 15px;
    line-height: normal;
    vertical-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    i.glyphicon {
      color: @heading;
    }
  }

  .sale-box {
    background: @baby-blue;
    padding-top: 10px;
    color: white;
    font-weight: 300;
    text-align: center;

    .sale-heading {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      padding-bottom: 5px;
    }

    .sale-chevron {
      font-size: 18px;
    }
  }

  .sale-content {
    font-weight: 300;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    background: @light-blue-soft;

    .sale-points {
      margin-top: 10px;
      padding-left: 20px;
    }

    span {
      color: @heading;
      padding-right: 5px;
    }

    li {
      padding-bottom: 10px;
    }
  }

  /*.business-ingress {
        margin-bottom:20px;

        >p {
            .ingress;
        }
    }*/

  /*.contact-buttons {
        margin:0 auto;
    }

    .business-text {
        margin-bottom:30px;

        p {
            font-weight:400;
        }
    }

    h5 {
        color:#2fa3d3;
        font-weight:600;
    }

    h3 {
        font-weight:600;
        font-size:20px;
    }

    .expander {
        text-align:center;
    }

    .sale-box {
        text-align:left;
    }*/
}
