{% extends 'base.html' %}
{% load chunks %}
{% load render_bundle from webpack_loader %}

{% block title %}
Tidsskriftet Offline - Online
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'offline' 'css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% render_bundle 'offline' 'js' %}
{% endblock %}

{% block submenu %}
    <nav class="subnavbar">
        <div class="container">
            <ul>
                <li class="top-menu-link">
                    <a href="{% url 'events_index' %}">Arrangementer</a>
                </li>
                <li class="top-menu-link">
                    <a href="{% url 'article_archive' %}">Artikler</a>
                </li>
                <li class="top-menu-link active">
                    <a class="active" href="{% url 'offline' %}">Offline</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<section id="offline">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Offline</h1>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3 filterbox pull-right">
            <h3>Filter</h3>
            <ul id="nav-header" class="nav nav-pills nav-stacked">
                <li class="nav-header">År<button id="filter-reset" class="close pull-righ">&times;</button></li>
                {% for year in years %}
                    <li><a class="filter-year" href="#{{ year }}">{{ year }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-9 pull-left">
            <div class="row">
                <p>{% chunk 'offline_ingress' %}</p>
                <div id="offline-wrapper" class="col-md-12">
                 {% for issue in issues %}
                    <div id="offline_{{ issue.id }}" class="offline_issue offline_issue_archive displayable" data-year="{{ issue.release_date.year }}">
                        <a href="{{ MEDIA_URL }}{{ issue.issue }}">{{ issue.title|capfirst }}</a>
                        <a href="{{ MEDIA_URL }}{{ issue.issue }}"><img alt="{{ issue.title }}: {{ issue.description }}" src="{{ issue.image.xs }}"/></a>
                        <a href="{{ MEDIA_URL }}{{ issue.issue }}"><span>{{ issue.release_date_to_string|capfirst }} {{ issue.release_date.year }}</span></a>
                    </div>
                {% endfor %}
                </div>
                <div id="offline-nav" class="col-md-12">
                    <ul class="pagination">
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock content %}
