{% extends 'base.html' %}
{% load chunks %}
{% block content %}

{% block js %}
{{ block.super }}
    <script src="{{ STATIC_URL }}/js/offline-filter.js"></script>
    <script src="{{ STATIC_URL }}/js/libs/jquery.debouncedresize.js"></script>
{% endblock %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h2>OFFLINE</h2>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <div class="span12 ingress">
             <p>{% chunk 'offline_ingress' %}</p>
             </div>
            <div id="offline-wrapper" class="span12">
             {% for issue in issues %}
                <div id="offline_{{ issue.id }}" class="offline_issue offline_issue_archive displayable hide" data-year="{{ issue.release_date.year }}">
                    <a href="{{ MEDIA_URL }}{{ issue.issue }}">{{ issue.title|capfirst }}</a>
                    <a href="{{ MEDIA_URL }}{{ issue.issue }}"><img alt="{{ issue.title }}: {{ issue.description }}" src="{{ MEDIA_URL }}{{ issue.issue }}.thumb.png"/></a>
                    <a href="{{ MEDIA_URL }}{{ issue.issue }}"><span>{{ issue.release_date_to_string|capfirst }} {{ issue.release_date.year }}</span></a>
                </div>
            {% endfor %}
            </div>
            <div id="offline-nav" class="span12">
                <div class="pagination pagination-centered">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span3">
            <ul id="filter-menu" class="nav nav-list">
                <li class="nav-header">År<button id="filter-reset" class="close hide pull-right">&times;</button></li>
                {% for year in years %}
                    <li><a class="filter-year" href="#{{ year }}">{{year}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
                
</div>
{% endblock content %}
