<ul id="controls">
    <li><a href="#sosialt">Sosiale arrangementer</li>
    <li><a href="#bedpres">Bedriftspresentasjoner</li>
    <li><a href="#kurs">Kurs</li>
    <li><a href="#utflukt">Utflukter</li>
    <li><a href="#internt">Internt</li>
    <li><a href="#annet">Andre arrangementer</li>
</ul>
