<div class="row-fluid">
    <div class="span8">
        <h1>Arrangementarkiv</h1>
        <div data-js-event-list></div>
    </div>
    <div id="archive-controls" class="span4">
        <h1>Filter</h1>
        <div data-js-archive-controls></div>
    </div>
</div>
