{% load compress %}
{% load markdown_deux_tags %}
{% load calendar_filters %}

<!DOCTYPE html>
<!-- Er du interessert i kode? Har du lyst å lære en hel del og bli med i en awesome gjeng? DotKom er kanskje stedet for deg! Sjekk ut info om opptak på siden. -->
<html>
<head>
  <title>Online</title>

  <meta charset="utf-8">
  <meta name="description" content="Online, linjeforeningen for informatikk ved NTNU">
  <meta name="keywords" content="linjeforening, online, ntnu, informatikk, student, data, studie, linux, windows, programmering, utvikling, kurs, bedpres">
  <meta name="referrer" content="always">

  <link rel="icon" href="{{ STATIC_URL }}img/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,300" rel="stylesheet" type="text/css">
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/splash/reset.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/splash/main.css">
  {% endcompress css %}

  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/hfgffimlnajpbenfpaofmmffcdmgkllf">
</head>
<body>

  <!--[main section]-->
  <section id="container">

    <div id="content"></div>

    <nav>
      <ul>
        <li><a href="#online" id="link_online" class="on">Online</a></li>
        <li><a href="#fadderukene" id="link_fadderukene">Fadderukene</a></li>
        <li><a href="#cal" id="link_cal">Kalender</a></li>
        <li><a href="#join" id="link_join">Bli med!</a></li>
        <li><a href="#mer" id="link_mer">Mer...</a></li>
        <li><a href="{% url 'home' %}" id="hovedsiden">Hovedsiden &rarr;</a></li>
      </ul>
    </nav>

    <footer>

      <div id="partners">
        <h1>Samarbeidspartnere</h1>
        <div class="gold-partner">
          <a href="http://steria.no/"><img src="{{ STATIC_URL }}img/splash/partners/soprasteria_white.png" alt="Steria" class="partners_steria"></a>
          <a href="http://computas.no/"><img src="{{ STATIC_URL }}img/splash/partners/computas_white.png" alt="Computas" class="partners_computas"></a>
        </div>
        <br/>
        <div class="partners">
          <a href="http://bouvet.no/"><img src="{{ STATIC_URL }}img/splash/partners/bouvet_white.png" alt="Bouvet" class="partners_bouvet"></a>
          <a href="http://knowit.no/"><img src="{{ STATIC_URL }}img/splash/partners/knowit_white.png" alt="knowit" class="partners_knowit"></a>
        </div>
      </div>
    </footer>

  </section>
  <!--/[main section]-->

  <section id="online" class="hidden">
    <div class="online">
      <article>
        <h1>Hvem er Online?</h1>
        <p>Velkommen til Online, linjeforeningen for informatikkstudenter ved <a href="http://ntnu.no/">NTNU</a>.</p>
        <p>Det er vi som sørger for at studietiden blir den beste tiden i ditt liv! Vi i Online arrangerer utflukter, turer, fester, holder kurs og bedriftspresentasjoner gjennom hele året.</p>
        <p>Starter du på informatikk til høsten? Gå videre for å finne ut mer!</p>
      </article>
    </div>
  </section>

  <section id="fadderukene" class="hidden">
    <div class="fadderukene">
    <article>
      <h1>Fadderukene</h1>
      <p>I fadderukene skal du få bli kjent med både linjeforeningen, NTNU og mange medstudenter. Dette er den viktigste portalen for å stifte bekjentskaper som varer studietiden ut. Vi i Online anbefaler alle å ta del i det supre fadderopplegget vårt!</p>
      <p>Fadderukene starter etter immatrikuleringen den 16. august.</p>

      <p>Se også vår <a href="#" onclick="open_window('#student101'); return false;">Ny i Trondheim</a>-guide.</p>
    </article>
    </div>
  </section>

  <section id="cal" class="hidden">
    <article class="cal">
      <div id="export">
        <a href="{% url 'splash_calendar' %}">iCalendar</a>
        <a href="http://www.google.com/calendar/render?cid={{ request.build_absolute_uri|unhttps|urlencode }}events.ics">Google Calendar</a>
      </div>
      <h1>{{ splash_year.title }}</h1>

      <section class="cal-left">
        <ul>
          {% for events in splash_year.events %}
            {% with events|first as firstElement %}
            <li class="" data-date="{{ firstElement.start_time.month }}{{ firstElement.start_time.day }}">
              <span>{{ firstElement.start_time|date:"l" }}<span>{{ firstElement.start_time.day }}</span>{{ firstElement.start_time|date:"F" }}</span>

              <article>
                {% for event in events %}
                  <h2>{{ event.title }} <small class="subtext"> {{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}</small></h2>
                  {{ event.content|striptags|markdown }}
                {% endfor %}
              </article>
            </li>
            {% endwith %}
          {% endfor %}
        </ul>
      </section>

      <section id="cal-content" style="" class="cal-right">
        <h2>Lorem ipsum dolor sit amet</h2>

        <p>consectetur adipiscing elit. Aliquam in scelerisque nisi, a gravida urna. Vestibulum vitae gravida neque, eget adipiscing nulla. Aliquam et eros et lectus blandit accumsan. Fusce vehicula metus eget turpis lobortis, ut convallis est posuere.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent odio sapien, feugiat et placerat sit amet, suscipit id diam. Praesent pellentesque tincidunt pellentesque. Aliquam nec enim sit amet nisl feugiat accumsan. Integer eget velit id elit sodales vestibulum. Etiam vulputate arcu ut felis accumsan commodo. Nunc ultrices ac ante in feugiat.</p>
      </section>

      <div class="clear"></div>
    </article>


  </section>

  <section id="join" class="hidden">
      <div class="join">
      <article>
        <h1>Bli med i linjeforeningen!</h1>
        <p>Alle informatikere er med i linjeforeningen. Gå videre til <a href="https://online.ntnu.no/">hovedsiden</a> for å lage din brukerkonto på Online sine systemer.</p>
        <p>Har du lyst til å gjøre studietiden til informatikere enda bedre? Som komitemedlem i Online blir du del av en familie du aldri vil glemme. Vi tilbyr utfordrende og spennende verv i et meget sosialt miljø med stor takhøyde.</p>
        <p>Les mer om de ulike komiteene, linjeforeningen og mye mer på vår <a href="https://online.ntnu.no/wiki" target="_blank">Wiki</a>.</p>
        <p><a href="#" onclick="open_window('#verv'); return false;">Se søknadsinfo og ulike verv</a></p>
      </article>
      </div>
  </section>

  <section id="mer" class="hidden">

    <article class="mer">
      <h1>Vil du vite mer?</h1>

      <div class="left">
        <h3>Wiki</h3>
        <p>Vil du lese om linjeforeningens historie? Vil du vite mer om komiteene, NTNU, emner, sekkemannen, ugleKom og mye mer? Besøk vår wiki, den utimate kilden til nyttig og unyttig kunnskap! <a href="https://online.ntnu.no/wiki" target="_blank">Gå til wikien</a>.</p>
      </div>

      <div class="mid">
        <h3>Slack</h3>
        <p>Bli med oss på Slack. Send en epost til <a href="mailto:dotkom@online.ntnu.no">dotkom@online.ntnu.no</a> så sender vi deg en invitasjon! </p>

        <h3>Bedrifter</h3>
        <p>Er du bedrift på jakt etter bedriftspresentasjon eller kurs? Klikk <a href="#" onclick="open_window('#bedrifter'); return false;">her</a> for mer informasjon.</p>
      </div>


      <div class="right" id="social">

        <h3>Mer Online</h3>
        <a href="http://facebook.com/linjeforeningenonline/" id="facebook">

        </a>
        <div class="mid_text"></div>
        <a href="http://twitter.com/online_ntnu/"  id="twitter">

        </a>
        <p class="contact">Dersom du lurer på noe, ikke nøl med å ta kontakt! Vi kan også nås per mail, <a href="mailto:kontakt@online.ntnu.no">kontakt@online.ntnu.no</a><br>Gå til <a href="https://online.ntnu.no">Hovedsiden</a></p>

      </div>

    </article>

  </section>

  <!--[mod:Søknadsinfo og verv]-->
  <section id="verv" class="hidden">
    <h2>Søknadsinfo og verv</h2>
    <p>Som komitemedlem i Online får du en unik mulighet til å gjøre studietiden din og andres enda bedre. Ta en titt på de ulike komiteene under og finn ut hva akkurat du kan bidra med!
    Send inn en søknad til <a href="mailto:opptak@online.ntnu.no">opptak@online.ntnu.no</a> hvor du skriver hvem du er, hvorfor du er motivert for vervet og hvofor vi skal velge akkurat deg. Skriv gjerne dine topp tre prioriteringer da noen komitéer har flere søkere enn andre. Det viktigste er å være med å bidra. Lykke til!</p>

    <h5>Arrangementskomiteen</h5>
    <p>Arrangementskomiteen jobber for at informatikkstudentene skal ha sosiale
    tilbud gjennom hele året. Vi arrangerer velkjente arrangement som
    immatrikuleringsball, blåtur, Åre-tur, kryssfest, filmkvelder og mye
    mer! Liker du at andre skal ha det kult? Er du en sosial og sprudlende
    person selv? Da er kanskje Arrangementskomitéen stedet for deg!</p>


    <h5>Bedriftskomiteen</h5>
    <p>Bedriftskomiteens oppgave er å knytte studentene og næringslivet
    sammen. Som medlem vil du være med å arrangere bedriftspresentasjoner
    hvor bedriftene får fortelle om arbeidsmetoder, miljø og prosjekter
    mm. På denne måten vil du opprette en tidlig kontakt med næringslivet
    og potensielle arbeidstakere under studietiden, samtidig som du får et
    innblikk i hvordan bedrifter rekrutterer studenter. Etter en
    bedriftspresentasjon tar gjerne bedriften studentene ut for å mingle
    og bli kjent under et godt måltid. Bedriftskomiteen er også
    knutepunktet til våre samarbeidspartnere i næringslivet ellers.</p>

    <h5>Drifts- og utviklingskomiteen</h5>
    <p>Drifts- og utviklingskomiteen har ansvaret for alle linjeforeningens
    datasystemer. Vi leverer tjenester som nettside, intraweb og wiki,
    e-postsystemer, filområder og mye annet spennende. I en stor
    linjeforening er informasjonsflyt og kvalitet viktig. Drifts- og
    utviklingskomiteen prøver hele tiden å lage smarte løsninger som
    holder en høy standard, slik som i en bedrift. Er du interessert i
    programmering, drifting eller teknologi generelt? Vi kan tilby et
    unikt verv i en meget sosial gjeng som driver med IT på høyt nivå.
    Ingen forkunnskaper er påkrevd annet enn stor lærevilje!</p>

    <h5>Fag- og kurskomiteen</h5>
    <p>Fag- og kurskomitten tilbyr kunnskap om ny og spennende teknologi, gjennom blant annet kurs og foredrag. Disse blir i hovedsak holdt av bedrifter, men også av studenter selv. Vår jobb er å stimulere studentenes faglige interesser. Vi oppsøker kompetansen i næringslivet, og samarbeider tett med bedriftskomiteen for å komme i kontakt med de aktuelle bedriftene. Etter et kurs tar gjerne bedriften med studentene ut for å mingle og bli kjent. Som medlem av Fag- og kurskomiteen vil du få god innsikt i emner utenfor skolen, og samtidig knytte tettere bånd til din fremtidige arbeidsgiver.</p>

    <h5>Profil- og aviskomiteen</h5>
    <p>Profil- og aviskomiteen sørger for at Onlines ansikt utad er
    profesjonelt og konsistent. Alt profileringsmateriale som klær,
    annonser, brev og brosjyrer, plakater, medaljer og andre effekter
    lages av oss. Vi har også en redaksjon som er ansvarlig for
    linjeforeningens tidsskrift, Offline. Har du en designerspire eller en
    skribent i magen? Vi leter etter deg som er interessert i design,
    markedsføring, journalistikk eller skriving!</p>

    <h5>Trivselskomiteen</h5>
    <p>Trivselelskomiteen har ansvaret for trivsel blant informatikkstudentene.
    Dette inkluderer å arrangere små arrangementer i skoletiden,
    for eksempel vaffeldager eller andre ting som skaper trivsel.
    Vi er også ansvarlig for drift av kontoret som vil si å sette opp
    kontorvakter, møter, administrere tilganger og passe på at det er tilstrekkelig med mat, drikke, rekvisitter og lignende.
    Så hvis du har en gledesspreder i deg og liker å spre trivsel til dine medelever er trikom komiteen for deg.
    </p>
    <p style="color:#F00;">Søknadsfrist er søndag 28. august kl. 23:59!</p>
  </section>

  <!--[mod:Samarbeid med næringslivet]-->
  <section id="bedrifter" class="hidden">
    <h2>Samarbeid med næringslivet</h2>
    <p>Linjeforeningen har gjennom flere år opparbeidet seg et repertoar av tjenester som vi tilbyr våre studenter. I samarbeid med næringslivet tilbyr vi kurs og bedriftspresentasjoner for å gi studentene våre en bredere og dypere fagkunnskap samt et innblikk i hverdagen i aktuelle på arbeidsplasser.</p>

    <h5>Bedpres</h5>
    <p>
      <strong>Komite:</strong> Bedriftskomiteen - <a href="mailto:bedkom@online.ntnu.no">bedkom@online.ntnu.no</a><br>
      <strong>Lengde:</strong> 45 minutt<br>
      <strong>Innhold:</strong> Helt valgfritt<br>
    </p>

    <p>Vi får ganske regelmessig besøk fra både små og store IT-bedrifter som har behov for dyktige utviklere, konsulenter og systemarkitekter o.l. En bedriftspresentasjon gir hovedsaklig en mulighet for å opprette kontakt mellom bedrift og aktuelle studenter. Rekruttering gjennom denne kanalen er veldig aktuell og de aller fleste studentene bruker dette som et springbrett for sin karriere.</p>

    <h6>Gjennomføring av presentasjon</h6>

    <p>Dette er et eksempel på hvordan mange bedrifter velger å gjøre det, men er på ingen måte en fasit. Noen bedrifter har valgt å gå utenfor denne «malen» med suksess, så det er alltid rom for nye ideer. Bedriftspresentasjonene blir vanligvis gjennomført på Gløshaugen, med påfølgende servering i en uformell setting, hvor det kan stilles spørsmål og der studentene kan bli kjent med dere og omvendt. Vi stiller med lokaler, markedsføring, påmelding og deltagere. I tillegg tilrettelegger vi servering og eventuell transport etter ønske og behov. Fra deres side håper vi at dere stiller med motiverte ansatte som leverer en informativ og hyggelig presentasjon, og som kan svare på de spørsmål studentene måtte ha.</p>

    <h6>Målgruppe for bedriften</h6>

    <p>Som nevnt består informatikk av både års-, bachelor og masterstudie. De fleste bedrifter henvender seg til masterstudentene våre, men det skal nevnes at bachelorstudentene også har et fullverdig studium.</p>

    <h5 class="kurs">Kurs</h5>

    <p>
      <strong>Komité:</strong> Fagkomiteen - <a href="mailto:fagkom@online.ntnu.no">fagkom@online.ntnu.no</a><br>
      <strong>Lengde:</strong> Individuelt<br>
      <strong>Innhold:</strong> 5 minutter presentasjon av bedriften, resten må vere faginnhold
    </p>

    <p>Studentene ved informatikk har mange ulike interesser og det er alltid gøy å se hva bedrifter holder på med. Det har blitt gjennomført kurs i for eksempel Ruby on Rails, Test Driven Development, Scrum og mye mer.</p>

    <h6>Gjennomføring av kurs</h6>

    <p>I motsetning til bedriftspresentasjoner er det begrensinger på hvor lenge bedriften kan fortelle om seg selv. Det er ment som et faglig tilskudd til studiet og innholdet må gjenspeile dette. Selve kursgjennomføringen er ofte litt mer uformell enn ved en bedriftspresentasjon. Det å få studentene til å vere med er viktig. Som ved en bedriftspresentasjon vil vi ordne det meste, ved spesialbehov gjør vi vårt beste for å ordne dette også.</p>

    <h6>Målgruppe for kurs</h6>

    <p>Da kurs gjerne ikke er direkte rettet for rekruttering er det mye vanligere å åpne for alle årstrinn slik at folk med alle mulige interesser kan delta. Det er selvsagt en del kurs som krever forkunnskaper, men det er bare å spesifisere i eventen.</p>
  </section>
  <!--/[mod:Samarbeid med næringslivet]-->


  <!--[mod:Ny i Trondheim]-->
  <section id="student101" class="hidden">
    <h2>Ny i Trondheim</h2>

    <p>Velkommen til Trondheim og studielivet! Vi har alle vært der, man føler seg som et eneste stort spørsmålstegn, ingenting er hjemmevant og alt er nytt. Nye vennskap skal stiftes, og mange nye opplevelser skal oppleves.</p>

    <p>Linjeforeningen Online skal være din støttepåle gjennom de første ukene som student ved NTNU, og fadderne vil gjøre sitt ytterste for at alle skal føle seg velkomne og ha det gøy!</p>

    <p>For å hjelpe dere nye studentene har vi utformet en liste i prioritert rekkefølge over hvordan dere bør gå frem for å bli en fullverdig student ved NTNU:</p>

    <ul>
      <li>Finn deg et sted å bo</li>
      <li>Betal semesteravgiften</li>
      <li>Søk lån fra Lånekassen</li>
      <li>Ordne brukerkontoer på NTNUs datasystemer</li>
      <li>Møte opp på skolen</li>
      <li>Skaffe studentkort</li>
      <li>Bli integrert</li>
    </ul>

    <h5>Finn deg et sted å bo</h5>

    <p>Dersom du ikke allerede har funnet et permanent sted å bo, begynner det virkelig å haste. Spørsmålet er jo hvor i denne jungelen av forskjellige stedsnavn man finner på finn.no som er best egnet for en stakkars ny student ved Gløshaugen? Det er en god idé å sikte på noe som er innen gang/sykkelavstand fra Gløshaugen, da det er her du kommer til å tilbringe de neste tre til fem årene.</p>

    <p>Ser du annonser for å bo i nærheten av Dragvoll vil du bli skuffet, fordi på Dragvoll finner du få andre informatikere, da du ikke har noe å gjøre der ute i ødemarken. Områder som er fine å se på er Elgeseter, Bakklandet, Lerkendal, Singsaker og Øya. Disse er svært nære både sentrum og Gløshaugen, og har et stort utvalg av forskjellige bomuligheter, mest i privat leie.</p>

    <p>Litt lenger vekk fra Gløshaugen finner du steder som Midtbyen, Solsiden, Møllenberg, Rosenborg, Moholt og Tempe. Disse ligger litt lengre borte, men man kan fint komme seg til og fra skolen enten med apostlenes hester, sykkel eller buss.</p>


    <h5>Betal semesteravgiften og meld deg opp i fag</h5>

    <p>Det er mange som bommer på å få betalt semesteravgiften så tidlig som mulig, og så oppdager at det stikker en planke i hjulet for det meste man har lyst til å foreta seg de første par ukene som ny student i byen. Semesteravgiften er på 510 kr, og før denne er innbetalt får man ikke utbetalt penger fra lånekassen, man får ikke studiebevis eller semesterkort, som igjen fører til at man ikke får studentrabatt på forskjellige ting. Semesteravgiften betales over nettbank, og kontonummer og KID-nummer finner du på <a href="https://studentweb.ntnu.no">studentweb.ntnu.no</a>. For å komme inn her, trenger du fødselsnummeret ditt og en PINkode som du har fått i et av brevene fra NTNU. Slik gjør du:</p>

    <ul>
      <li>Bekreft utdanningsplanen (slapp av, fagvalgene kan du endre på helt frem til 15. september).</li>
      <li>Eksamensmeld og undervisningsmeld deg i alle fagene (fagkombinasjonen som er lagt inn som standard oppfyller alle kravene hvertfall for de to første semestrene).</li>
      <li>Skriv inn studieadressen din</li>
      <li>Under "Betalingstjenester" genererer du et KID-nummer du kan bruke til å betale semesteravgiften. Når du har bekreftet studieplanen din og betalingen er innregistrert, får Lånekassen beskjed om at du er en vaskeekte student, og maskineriet begynner å rulle. Merk at innbetalingen av semesteravgiften kan ta noen dager, spesielt når semesteret er begynt, så ta tak i det så fort som mulig!</li>
    </ul>

    <p>Når betalingen er registrert, vil du få tilsendt semesterkortet ditt til studieadressen du førte på tidligere. Dette trenger du for å få utdelt adgangskort til skolen, for å få rabatter på kollektivtransport og liknende, så dette er et viktig dokument! Heldigvis har NTNU gjort det enkelt å holde styr på, da de vanligvis velger ganske sterke farger på disse kortene.</p>


    <h5>Søk lån hos Lånekassen</h5>

    <p>Da Lånekassen har en enorm pågang rundt semesterstart, er det en god idé å søke om lån så fort du har muligheten. I de første par ukene etter semesterstart har Lånekassen ofte en behandlingstid på opptil åtte uker, så det er lurt å være tidlig ute hvis du trenger pengene fort. Heldigvis får du ikke noe mindre penger dersom du er treig med å søke, men de kan komme godt med i fadderukene. Gå inn på <a href="https://dinesider.lanekassen.no/Nettsoknad/Default.aspx?soknadstype=ST01D3&UndervisningsAr=Innevarende">lanekassen.no</a> for å søke om lån.</p>


    <h5>Ordne brukerkontoer på NTNUs datasystemer</h5>

    <p>Som student ved NTNU vil du få en egen student-epostadresse på formen brukernavn@stud.ntnu.no. Dette vil være adressen som offisiell informasjon fra skolen sendes ut til, så den er det ganske viktig å få tilgang til så fort som mulig. Dersom du foretrekker å bruke en web-basert epostklient, er stud-mailen tilgjengelig på <a href="https://webmail.stud.ntnu.no/">webmail.stud.ntnu.no/</a>, så fort du har aktivert brukerkontoen din.</p>

    <p>Aktivering av brukerkontoer foregår på <a href="https://bas.ntnu.no/activation">bas.ntnu.no/activation</a>. Du trenger pinkoden du fikk tilsendt i posten (den samme du brukte på Studweb tidligere), samt studentnummeret ditt som står på semesterkortet.</p>

    <p>Når du har opprettet brukerkontoen din vil du få tilgang til flere systemer, deriblant NTNUs intranett, Innsida, som kan nås på http://innsida.ntnu.no. Fra denne siden får du direktelink til It's Learning, som er en svært viktig portal for ganske mange av fagene du kommer til å ha.</p>


    <h5>Møte opp på skolen</h5>

    <p>Å finne skolen kan ofte være mye vanskeligere enn man tror, på tross av at den ligger på en høyde over byen, men se etter den store grå steinbygningen kalt Hovedbygget, så går du ikke feil. Busser som går til Gløshaugen er nummer 5 og 52. Buss 63 stopper litt nedenfor, men ikke i frustrerende lang gangavstand fra Gløshaugen. Den første dagen er det immatrikulering, som er en fin tradisjon med masse folk, taler og oppvisninger for å ønske deg velkommen til studieby nummer én i Norge (kanskje til og med i verden, det synes vi hvertfall!).</p>

    <p>Etter immatrikuleringen vil de forskjellige linjene bli delt opp for individuell introduksjon i regi av fakultetet og instituttet du skal studere under. For ordens skyld kan vi fortelle deg at fakultetet du studerer under er IME (Informasjonsteknologi, Matematikk og Elektronikk), og instituttet heter IDI (Institutt for Datateknikk og Informasjonsteknologi).</p>

    <p>Etter denne formelle introduksjonen av instituttet, vil du møte fadderne dine, som skal være dine venner og kontaktpersoner de første par ukene av studiet, og kanskje får du en venn for livet nettopp under fadderukene?</p>


    <h5>Skaffe deg studiebevis</h5>

    <p>Når du først er på Gløshaugen, er det viktig å skaffe seg et studiebevis, som også fungerer som adgangskort til bygninger på skolen etter normal stengetid, samt for å skrive ut på enkelte av datasalene og til som lånekort på bibliotekene.</p>

    <p>Dessverre har Adgangskontrollen også svært stor pågang de første par ukene av semesteret, så det kan være en god idé å møte opp tidlig på dagen for å unngå å stå i milelange køer. Adgangskontrollen finner du vis-a-vis SiT-kiosken på Stripa (det lange innendørs vrimleområdet i Sentralbygget). Vi anbefaler at du skaffer deg et slikt kort så fort som mulig etter oppstart, da dette også er påkrevd for å få rabatter (i samband med semesterkortet) rundt om kring.</p>


    <h5>Resten</h5>

    <p>Når alt det viktigste er unnagjort, har du nå muligheten til å kaste deg ut i alt det spennende som studiebyen Trondheim har å by på, samt bli kjent med dine nye klassekamerater. Her er det linjeforeningen Online kommer inn i bildet, da vi skal være veiledere og hjelpere for å introdusere deg til studentlivet.</p>
    <p>Dagene med arrangement fra skolens side er ganske korte og lite anstrengende, så etter skoletid sørger fadderopplegget fra Online for at man blir bedre kjent med studentlivet samt de andre folkene som tar Informatikk. Fadderuka er en fantastisk mulighet til å få vite mer om de forskjellige tingene byen kan tilby, som fritidsaktiviteter, hobbyer, kulturarrangmeneter, fester og turer, og vi oppforder alle til å henge med på opplegget i fadderukene. Det er _meningen_ at du skal bli sliten i løpet av fadderukene, og derfor er det lagt inn dager i programmet som er roligere enn de andre, slik at man får sjansen til å komme til hektene igjen. </p>
  </section>

  <script src="{{ STATIC_URL }}js/splash/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/splash/iscroll-min.js"></script>
  <script src="{{ STATIC_URL }}js/splash/main.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9905766-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <!-- Allow inline install of Online Notifier -->
  <script src="{{ STATIC_URL }}js/splash/online-notifier.js"></script>
</body>
</html>
