{% extends "base.html" %}
{% load compress %}

{% block title %}
Epostlister - Online
{% endblock title %}

{% block styles %}
	{{ block.super }}
	{% compress css %}
		<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/mailinglists.less">
	{% endcompress %}
{% endblock %}

{% block content %}

	<section id="mailinglists">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h2 id="mailinglists-heading">EPOSTLISTER FOR LINJEFORENINGENE</h2>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12" id="guidelines">
					<h3>Retningslinjer og oversikt</h3>
					<p>
						Epostlistene gjør det enkelt for linjeforeningene, og eksterne, å kontakte foreningene. Hensikten med disse epostlistene er å fremme kommunikasjon mellom foreningene og å skape en kanal for å kunne kontakte alle foreningene på en enkel måte.
					</p>
					<p>
						Det er flere hundre brukere på epostlistene. Epost på listene må begrenses til informasjon som kommer fellesskapet til gode. Dette gjelder gjerne informasjon om hendelser og arrangementer som er interessant å informere om fordi det appellerer til studentmassen eller avgjørelser i de foreningsstyrene som mottar eposten.
					</p>
					<p>
						Gode eksempler:
						<ul>
							<li>Invitasjoner til jubileum, immatrikuleringsball, revy osv.</li>
							<li>Nyheter som påvirker linjeforeningene.</li>
							<li>Invitasjon til ikke-kommersielle foreningskurs.</li>
						</ul>
					</p>
					<p>
						Epost om jobbtilbud, reklame og annen avertering skal ikke sendes til disse listene. Epost uten noe relevant innhold for linjeforeningene som blir sendt til disse listene kan medføre advarsler, utestenging eller annen inndragelse av rettigheter.
						Vi (Online) ønsker ikke å sensurere meldinger, da det kan være vanskelig å bedømme hva andre synes er relevant. Vi ønsker heller ikke at blindkopi (BCC) skal benyttes, ettersom at vi ønsker å fremme åpenhet og muligheter for oppfølging. Vi ber derfor folk tenke seg nøye om før man bruker listene. Disse retningslinjene gjelder epostlistene på denne siden.
					</p>
					<p>
						Følgende er en oversikt over epostlister som overlapper. Øverst har du foreninger-epostlisten som går til alle. Pass på så du ikke sender epost til overlappende lister da du risikerer at flere hundre personer får samme epost to ganger, da vil du oppleve å få frustrasjon rettet mot deg.
						<img id="map" src="{{ STATIC_URL }}img/resourcecenter/mailinglists-map.png" />
					</p>
				</div>
			</div>

			<div class="row" id="mailinglist-items">
				<h3>Lister og medlemmer</h3>
				<div id="masonry">
					

					<!-- masonry used for responsiveness, don't add bootstrap3 -->
					{% for list in lists %}
						<div class="mailinglist">
							<div class="members">
								<span class="title">
									{{ list.name }}@online.ntnu.no
								</span>
								<ul id="{{ list.name }}">
									{% for member in list.members %}
										<li> {{member.name}} </li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endfor %}
				
				</div>
			</div>
		</div>
	</section>

{% endblock content %}

{% block js %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}js/libs/masonry-3.1.2.min.js"></script>
	{% compress js %}
	<script src="{{ STATIC_URL }}js/Mailinglists.js"></script>
	{% endcompress %}
{% endblock js %}
