{% extends 'dashboard_base.html' %}
{% load compress %}
{% block title %}Grupper - {{ group }}{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block page-header %}
    {{ group }}
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/groups/">Grupper</a></li>
<li>{{ group }}</li>
{% endblock %}

{% block content %}
<p>Denne oversikten er kun ment brukt i informasjonssammenheng, og ikke til endring av den faktiske gruppen.
Dette gjøres fortsatt fra Django-admin som kan nås via &laquo;Redigér&raquo; knappen.
{% for h in history %}
    {{ h }}<br /><br />
{% endfor %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Innstillinger for &laquo;{{ group }}&raquo;
                </h3>
            </div>
            <div class="panel-body">
                <a href="/admin/auth/group/{{ group.id }}/" class="btn btn-warning">Redigér</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Medlemmer
                </h3>
            </div>
            <div class="panel-body">
                <p>Oversikt over alle brukere som er med i {{ group }}.</p>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Navn</th>
                </tr>
                {% for user in group_users %}
                    <tr>
                        <td><a href="#">{{ user }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tilganger</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    {% for perm in group_permissions %}
                        <div class="col-md-12">
                            {{ perm }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- Dashboard JS here -->
{% endblock %}
