{% extends 'dashboard_base.html' %}
{% load compress %}
{% block title %}Medlemsregister - {{ member }}{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block page-header %}
    {{ member }}
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/auth/members/">Medlemsregister</a></li>
<li>{{ member }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <p>Stuff</p>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- Dashboard JS here -->
{% endblock %}
