{% extends 'dashboard_base.html' %}
{% load compress %}
{% block title %}Brukerprofiler{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block page-header %}
Brukerprofiler
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/auth/">Autentisering</a></li>
<li>Brukerprofiler</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-condensed tablesorter" id="membership_list">
            <thead>
            <tr>
                <th>NTNU-brukernavn</th>
                <th>Navn</th>
                <th>Ble medlem</th>
                <th>Medlemskap utløper</th>
                <th>Notat</th>
                <th>Aktiv</th>
            </tr>
            </thead>
            <tbody>
            {% for user in object_list %}
                <tr>
                    <td>{{ user.ntnu_username }}</td>
                    <td><a href="{% url 'dashboard_user_detail' user.id %}/">{{ user.get_full_name }}</a></td>
                    <td>{{ member.registered|date:'Y-m-d' }}</td>
                    <td>{{ member.expiration_date|date:'Y-m-d' }}</td>
                    <td>{{ member.note }}</td>
                    <td>{% if member.is_active %}Ja{% else %}Nei{% endif %}</td>
                </tr>
            {% endfor %}
            {% for member in members %}{# backwards compatability for medlemsregister for the time being #}
                <tr>
                    <td>{{ member }}</td>
                    <td>{{ member.full_name }}</td>
                    <td>{{ member.registered|date:'Y-m-d' }}</td>
                    <td>{{ member.expiration_date|date:'Y-m-d' }}</td>
                    <td>{{ member.note }}</td>
                    <td>{% if member.is_active %}Ja{% else %}Nei{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- Dashboard JS here -->
    <script src="{{ STATIC_URL }}js/dashboard/authentication.js"></script>
{% endblock %}
