{% extends 'dashboard_base.html' %}
{% load compress %}
{% block title %}Brukerprofiler{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block page-header %}
Brukerprofiler
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/auth/">Autentisering</a></li>
<li>Brukerprofiler</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">Søk</span>
            <input type="text" class="form-control" placeholder="Søkeord..." id="search_input">
            <span class="input-group-btn">
                <a href="#" class="btn btn-success">
                    <i class="fa fa-search fa-lg"></i>
                </a>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-condensed tablesorter" id="membership_list">
            <thead>
            <tr>
                <th>Navn</th>
                <th>NTNU-brukernavn</th>
                <th>Ble medlem</th>
                <th>Medlemskap utløper</th>
                <th>Notat</th>
                <th>Aktiv</th>
            </tr>
            </thead>
            <tbody id="userlist_body">
            {% for user in object_list %}
                <tr>
                    <td><a href="{% url 'dashboard_user_detail' user.id %}">{{ user.get_full_name }}</a></td>
                    <td>{% if user.ntnu_username %}{{ user.ntnu_username }}{% else %}-{% endif %}</td>
                    {% if user.member %}
                    <td>{{ user.member.registered|date:'Y-m-d' }}</td>
                    <td>{% if user.member.is_active %}{{ user.member.expiration_date|date:'Y-m-d' }}
                        {% else %}<i>{{ user.member.expiration_date|date:'T-m-d' }}</i>{% endif %}
                    </td>
                    <td>{{ user.member.note }}</td>
                    <td>{% if user.member.is_active %}Ja{% else %}Nei{% endif %}</td>
                    {% else %}
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- Dashboard JS here -->
    <script src="{{ STATIC_URL }}js/dashboard/authentication.js"></script>
{% endblock %}
