body {
    background-image: url("/static/img/splash_bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    color: #efefef;
    padding-top: 55px;
    @media (max-width: 767px) {
        padding-top: 100px;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 90px;
    }
}

h1 {
    color: #ee7810;
    font-weight: 200;

}

#event_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

button {
    margin-bottom: 15px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

th {
    background: #004b80;
}

.dropdown a {
    color: #efefef;
}

.navbar-fixed-top .navbar-nav>.open>a, .navbar-fixed-top .navbar-nav>.open>a:hover, .navbar-fixed-top .navbar-nav>.open>a:focus {
    color: #efefef;
    background-color: #004b80;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #efefef;
    background-color: #004b80;
}

.navbar-default .navbar-nav>li>a {
    color: #efefef;
}

.navbar, dropdown-toggle {
    background: #004b80;
    color: #efefef;
}

#nav a:hover {
    text-decoration: underline;
}

.navbar-header {
    vertical-align: middle;
}

img#onlinelogo {
    height: 35px;
    width: 140px;
    margin-right: 10px;
    margin-top: 7px;
}

