body {
    background-image: url("/static/img/splash_bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    color: #efefef;
    padding-top: 45px;
}

h1 {
    color: #ee7810;
    font-weight: 200;

}

button {
    margin-bottom: 15px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar, #nav a {
    background: #004b80;
    color: #efefef;
}

#nav a:hover {
    text-decoration: underline;
}

.navbar-header {
    vertical-align: middle;
}

img#onlinelogo {
    height: 35px;
    width: 140px;
    margin-right: 10px;
    margin-top: 7px;
}

#nav .active {
    background: red;
}

