{% extends 'base.html' %}

{% load compress %}
{% load markdown_deux_tags %}

{% block title %}Webshop - Online{% endblock title %}

{% block content %}
<section id="webshop">
    <div class="container">
        <div class="webshop-cart pull-right">
            <a href="{% url 'webshop_checkout' %}"><span class="glyphicon glyphicon-shopping-cart"></span>
            {% with count=order_line.orders.count %}
            {{ count }} ordre{{ count|pluralize:'r' }} i handlevognen.</a>
            {% endwith %}
        </div>
        {% block webshop_content %}
        <ul>
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
        {% endfor %}
        </ul>
        {% endblock %}
    </div>
</section>
{% endblock %}
