{% extends 'base.html' %}

{% load compress %}
{% load markdown_deux_tags %}

{% block title %}Webshop - Online{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/webshop.less">
    {% endcompress %}
{% endblock %}

{% block content %}
<section id="webshop">
    <div class="container">
        <div class="col-md-12">
            <div class="page-header">
                <h2 id="heading">{% block header%}Webshop{% endblock %}</h2>
            </div>
            <div class="webshop-cart pull-right">
                <a href="{% url 'webshop_checkout' %}"><span class="glyphicon glyphicon-shopping-cart"></span>
                {% with count=order_line.count_orders %}
                {{ count }} ordre i handlevognen.</a>
                {% endwith %}
            </div>
        </div>
        

        {% block webshop_content %}
    
        {% for category in categories %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="row">   
            {% endif %}
                <div class="col-xs-12 col-sm-6 col-md-6">
                    
                    {% with category.products.all|first as shown_product %}
                        {% with shown_product.images.all|first as thumb %}
                        <div class="col-md-5 item-bg" style="background-image: url('{{ thumb.image.url }}');">
                        </div>
                        {% endwith %}
                    {%endwith%}
                    
                    <div class="col-md-7 itemdescription">
                        <h3><a href="{{ category.get_absolute_url }}">{{ category }}</a></h3>
                        <p>
                            Category description, like what it contains and why you should buy
                            <ul>
                                {% for product in category.products.all %}
                                    <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:2 %}
            </div>
            {% endif %}
        {% endfor %}

        {% endblock %}


    </div>
</section>
{% endblock %}
