{% extends 'webshop/base.html' %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block title %}Webshop - Online{% endblock title %}

{% block webshop_content %}
{% if order_line.orders.all %}
<table class="table">
<thead>
    <tr>
        <th></th>
        <th></th>
        <th>Pris</th>
        <th>Antall</th>
        <th></th>
    </tr>
</thead>
{% for order in order_line.orders.all %}
    <tr>
        <td>
            {% with order.product.images.all|first as thumb %}
                <div class="col-md-5 item-bg hidden-xs" style="background-image: url('{{ thumb.image_xs.url }}');">
                </div>
            {% endwith %}
        </td>
        <td>
            <p><a href="{{order.product.get_absolute_url}}">{{ order.product }} {% if order.size %} ({{ order.size }}) {% endif %}</a></p>
            <p>{{ order.product.short }}</p>
        </td>
        <td>
            {{ order.product.price }}
        <td>
            {{ order.quantity }}
        </td>
        <td>
            <form method="POST" action="{% url 'webshop_remove_orders' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ order.id }}">
                <button class="btn btn-danger" type="submit">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </form>
        </td>
    </tr>
{% endfor %}
    {% with count=order_line.count_orders %}
    <tr class="order-total">
        <td>Total</td>
        <td></td>
        <td>{{ order_line.subtotal }}</td>
        <td>{{ count }}</td>
        <td>
            <a href="https://beta.online.ntnu.no/payments/webshop/" target="_blank" rel="noopener noreferrer" class="btn btn-success">Gå til betalingssiden</a>
            <!--
            <button id="stripe-button" class="btn btn-success">Betal</button>
            -->
        </td>
    </tr>
    {% endwith %}
</table>

{% else %}
    <p class="ingress">Handlekurven din er tom</p>
{% endif %}

{% endblock %}
</div>

{% block js %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="{{ STATIC_URL }}js/webshop.js"></script>
{% endblock %}
