{% extends 'webshop/base.html' %}

{% load compress %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block title %}Webshop - Online{% endblock title %}
{% block header %}
<a href="..">Webshop /</a> 
Checkout
{% endblock header %}

{% block webshop_content %}
{% if order_line.orders.all %}
<table class="table">
<thead>
    <tr>
        <th></th>
        <th></th>
        <th>Pris</th>
        <th>Antall</th>
    </tr>
</thead>
{% for order in order_line.orders.all %}
    <tr>
        <td>
            {% if order.product.images.all %}
            <img width="100" src="{{ order.product.images.first.image.url }}">
            {% endif %}
        </td>
        <td>
            <p><a href="{{order.product.get_absolute_url}}">{{ order.product }} ({{ order.size }})</a></p>
            <p>{{ order.product.short }}</p>
            <form method="POST" action="{% url 'webshop_remove_orders' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ order.id }}">
                <p><button class="btn btn-primary" type="submit">Fjern</button></p>
            </form>
            <p>
        </td>
        <td>
            {{ order.product.price }},-
        <td>
            {{ order.quantity }}
        </td>
    </tr>
{% endfor %}
</table>

{% with count=order_line.count_orders %}
<p><b>Delsum ({{ count }} ordre{{ count|pluralize:'r' }})</b>: {{ order_line.subtotal }},-</p>
{% endwith %}

<button id="stripe-button" class="btn btn-success">Betal</button>
<script src="{{ STATIC_URL }}js/libs/jquery-2.1.3.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="{{ STATIC_URL }}js/webshop.js"></script>

<form method="POST" action="{% url 'webshop_remove_orders' %}">
    {% csrf_token %}
    <p><button class="btn btn-primary" type="submit">Tøm handlekurv</button></p>
</form>

{% else %}
Handlekurven din er tom
{% endif %}

{% endblock %}
</div>
