{% extends 'webshop/base.html' %}

{% load compress %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block title %}Webshop {{ product }} - Online{% endblock title %}
{% block header %}
<a href="../..">Webshop /</a> 
<a href="..">{{ product.category }}</a> / 
{{product}}
{% endblock header %}

{% block webshop_content %}

<div class="row">
    <div class="col-sm-7">
        <div id="carousel-product" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            {% for image in product.images.all %}
            <li data-target="#carousel-product" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
          </ol>

          <div class="carousel-inner">
            {% for image in product.images.all %}
            <div class="item{% if forloop.first %} active{% endif %}">
              <img src="{{ image.image_lg.url }}" alt="Produktbilde">
            </div>
            {% endfor %}
          </div>

          <a class="left carousel-control" href="#carousel-product" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-product" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
    </div>
    <div class="col-sm-5">
        {{ product.price|default:0|floatformat:2 }},-
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="control-label">
              Antall
              <input class="form-control" min="1" name="quantity" type="number" value="1">
            </label>
            {% if sizes %}
              <select id="size" name="size" class="form-control">
                {% for size in sizes %}
                  <option value="{{ size.pk }}">{{ size.size }} {% if size.description %} - {{size.description }} {% endif %}</option>
                {% endfor %}
              </select>
            {% endif %}

          </div>
          <input type="submit" class="btn btn-lg btn-default" value="Legg til">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        {{ product.description }}
    </div>
    <div class="col-sm-5">
        {% for related_product in product.related_products %}
        <div class="thumbnail">
            <img src="{{ related_product.images.first.image.url }}">
            <div class="caption">
                <h3>{{ related_product }}</h3>
                <p>{{ related_product.short }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
