{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Ny artikkel - Online Dashboard
{% endblock title %}

{% block page-header %}
Artikler
{% endblock %}

{% block breadcrumbs %}
	{% if edit %}
		<li>Endre artikkel</li>
	{% else %}
    	<li>Ny artikkel</li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Lagre</button>
        </form>
    </div>
</div>
{% endblock content %}