{% load addcss %}
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.auto_id }}"{% if field.errors %} class="red"{% endif %}>{{ field.label }}</label>
                {% if field.name != 'featured' %}
                    {{ field|addclass:"form-control" }}
                {% else %}
                    <div class="checkbox">
                        <label>{{ field }} Fremhev denne artikkelen</label>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-success" type="submit">
                <i class="fa fa-save fa-lg"></i> Lagre
            </button>
        </form>
        {% include 'gallery/formwidget.html' %}
    </div>
</div>
