{% extends 'dashboard_base.html' %}
{% load markdown_deux_tags %}
{% load addcss %}

{% block title %}
Tags - Online Dashboard
{% endblock title %}

{% block page-header %}
Tags
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard_tag_index' %}">Tags</a></li>
	{% if edit %}
		<li>Endre tag</li>
	{% else %}
    	<li>Ny Tag</li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.auto_id }}"{% if field.errors %} class="red"{% endif %}>{{ field.label }}</label>
                {{ field|addclass:"form-control" }}
            </div>
            {% endfor %}
            <button class="btn btn-success" type="submit">
                <i class="fa fa-save fa-lg"></i> Lagre
            </button>
        </form>
    </div>
</div>
{% endblock content %}
