{% extends "base.html" %}
{% load fb_versions %}
{% block content %}

    <section id="profile">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="page-header">
                        <h2>Mine side</h2>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#myprofile" data-toggle="tab">Brukerinformasjon</a></li>
                            <li><a href="#myevents" data-toggle="tab">Mine events</a></li>
                            <li><a href="#privacy" data-toggle="tab">Personvern</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="myprofile" class="tab-pane active">
                                <h3>Min profil</h3>
                            </div>
                            <div id="myevents" class="tab-pane">
                                <h3>Mine events</h3>
                            </div>
                            <div id="privacy" class="tab-pane">
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}