{% extends "dashboard_base.html" %}
{% load compress %}

{% block title %}
{{ company.name }} - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    <!-- Add css here -->
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <!-- Add js here -->
    {% endcompress %}
{% endblock js %}

{% block page-header %}
{{ company.name }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/company/">Bedrifter</a></li>
    <li>{{ company.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Todo replace with namespaced reverse url lookup -->
        <a href="/company/{{ company.id }}/" class="btn btn-primary"><i class="fa fa-play"></i> Vis</a>
        <a href="#modal-delete-company" id="inventory-delete-item" data-toggle="modal" class="btn btn-danger pull-right">
            <i class="fa fa-times fa-lg"></i> Slett
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rediger bedrift</h3>
            </div>
            <div class="panel-body">
                {% include "company/dashboard/edit.html" %}
            </div>
        </div>
    </div>
</div>

<!-- Modals -->

<div id="modal-delete-company" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Bekreft sletting av bedrift!</h3>
            </div>
            <div class="modal-body">
                <p>Er du sikker på at du vil fjerne bedriften?</p>
            </div>
            <div class="modal-footer">
                <form method="POST" action="delete/">
                    {% csrf_token %}
                    <button class="btn btn-danger confirm-delete-company pull-left" aria-hidden="true">
                        <i class="fa fa-times"></i> Slett
                    </button>
                </form>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
