{% extends "dashboard_base.html" %}
{% load compress %}
{% load addcss %}

{% block title %}
Legg til ny bedrift - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    {% endcompress %}
{% endblock js %}

{% block page-header %}
Ny bedrift
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/company">Company</a></li>
    <li>Ny bedrift</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.auto_id }}"{% if field.errors %} class="red"{% endif %}>{{ field.label }}</label>
                {{ field|addclass:"form-control" }}
            </div>
            {% endfor %}
            <button class="btn btn-success">
                <i class="fa fa-save fa-lg"></i> Lagre
            </button>
        </form>
        {% include 'gallery/widget.html' %}
    </div>
</div>
{% endblock content %}
