{% extends "dashboard_base.html" %}
{% load compress %}

{% block title %}
Legg til ny bedrift - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    {% endcompress %}
{% endblock js %}

{% block page-header %}
Ny bedrift
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/company">Company</a></li>
    <li>Ny bedrift</li>
{% endblock %}

{% block content %}
{% include "company/dashboard/edit.html" %}
{% endblock content %}
