.ropeproject/
*.pyc
*.swp
*.cache
*.project
*.settings
*.pydevproject
.nfs*
.idea*
.vscode*
.ropeproject
.coverage
*.db*
static/*
collected_static
sqlite/
local.py
feedme.py
*.coverage
.sass-cache/
.bundle
*.log
*.swn
*.swm
*~
.DS_Store
*.egg
*.egg-info
.installed.cfg
.mr.developer.cfg
*.swo
filedump
_tmp
*.vagrant
uploaded_media/*
build/*
node_modules
.tox
coverage
coverage.xml
setuptools-*.zip
# django-webpack-loader
bundles/
webpack-stats.json
webpack-stats-test.json
.drone-secrets.yml*
jest/
venv/
oidc.key
zappa_settings.py
requirements.txt
.env
.venv
