[tool.poetry]
name = "onlineweb4"
version = "1.0.0"
description = "Web pages for Online, Linjeforeningen for Informatikk at NTNU"
authors = ["dotkom <dotkom@online.ntnu.no>"]
license = "MIT"

[tool.poetry.dependencies]
python = "~3.7"
Django = "~3.0"
djangorestframework = "~3.12"
django-filter = "~2.3"
pillow = "~7.2"
markdown2 = "~2.3"
pytz = "^2020.1"
python-memcached = "~1.59"
stripe = "~2.56"
icalendar = "~4.0"
google-api-python-client = "~1.10"
celery = "~4.4"
PyMuPDF = "~1.17"
django-filebrowser = "~3.13"
django-chunks = { git = "https://github.com/dotkom/django-chunks.git", rev = "e6bf109d4fd286964024c140ac1b8f3d86713540" }
django-crispy-forms = "^1.11"
django-extensions = "^3.1"
django-dynamic-fixture = "^3.1"
django-recaptcha = "~2.0"           # Google ReCaptcha
django-oauth-toolkit = "~1.3"       # OAuth2 authentication support
django-watson = "~1.5.5"            # Indexed model search lib
django-reversion = "~3.0"           # Model version history with middleware hooks to all post_save signals
django-guardian = "~2.3"            # Per Object permissions framework
django-taggit = "~1.3"              # Generic multi-model tagging library
django-taggit-serializer = "~0.1"   # REST Framework serializers for Django-taggit
APScheduler = "~3.6"                # Scheduler
redwine = { git = "https://github.com/dotkom/redwine.git", rev = "1.3.2" }
reportlab = "~3.5"
pdfdocument = "~4.0"
Unidecode = "~1.2"                  # Translates every unicode symbol to the closest ascii. online_mail_usernames
django-markdown-deux = "~1.0"
django-cors-headers = "~3.4"        # Enable CORS for Nibble
django-datetime-widget = { git = "https://github.com/oleast/django-datetime-widget.git", rev = "95a5ba4738853d1ed4081e1e33e1600cba984aad" }
django-webpack-loader = "~0.7"      # Integration with webpack
dj-database-url = "~0.5"            # Allows to configure databases using URLs
python-decouple = "~3.3"            # Configuration and settings management
django-oidc-provider = "~0.7"       # OpenID Connect Provider
docutils = "~0.16"                  # Allows django-admindocs to generate documentation
requests-oauthlib = "~1.3"          # Simplify OAuth2 connections to external apps
oic = "~1.2"			            # OpenID Connect Client
python-dateutil = "~2.8"            # Simplify date parsing
coreapi = "~2.3"                    # API Documentation
requests = { version = "~2.24", extras = [ "security" ] }
# Wiki
wiki = "0.6b1"

# Django 1.9 support
django-appconf = "~1.0"

# non-pip
# imagemagick                   # From package repository. Tested with version == 8:6.7.7.10.
# libjpeg-dev					# From package repository.
# libpq-dev						# From package repository.

# Monitoring
sentry-sdk = { version = "~0.16", extras = [ "django", "celery" ] }

django-js-reverse = "~0.9"

psycopg2-binary = { version = "~2.8", optional = true }
uwsgi = { version = "~2.0", optional = true }
redis = "~3.5"

# Docs
sphinx = { version = "*", optional = true }
sphinx-rtd-theme = { version = "*", optional = true }
pyyaml = "^5.3.1"
pywebpush = "^1.11.0"


[tool.poetry.dev-dependencies]
# Testing
pytest = "~6.2"
pytest-cov = "~2.10"
pytest-django = "~4.1"
factory-boy = "~3.0"
freezegun = "~1.1"
mock = "~4.0"
tox = "~3.19"

# Linting
flake8 = "~3.8"
isort = "~5.4"
pycodestyle = "~2.6"
black = "19.10b0"

[tool.poetry.extras]
prod = ["psycopg2-binary", "uwsgi"]
docs = ["sphinx", "sphinx-rtd-theme"]

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = tests, flake8, isort, black
skipsdist = True
basepython = python3

[testenv]
basepython = python3
whitelist_externals =
    npm
    py.test
    isort
    flake8
    black
commands =
    isort: isort -c apps middleware scripts utils
    flake8: flake8 apps middleware scripts utils
    black: black --check apps middleware scripts utils onlineweb4

[testenv:tests]
passenv =
    DATABASE_URL
    OAUTH2_*
    OW4_*
setenv =
    DATABASE_URL = sqlite:///db.db
    DJANGO_SETTINGS_MODULE = onlineweb4.settings
    PYTHONPATH = {toxinidir}:{toxinidir}
    OW4_WEBPACK_LOADER_STATS_FILE = webpack-stats-test.json
commands =
    npm run build:test
    py.test --cov=apps --cov-report xml --ignore=src/
"""

[tool.isort]
profile = "black"
skip = [ ".tox", "onlineweb4/settings/__init__.py", "migrations" ]
default_section = "THIRDPARTY"
known_first_party = [ "apps", "utils" ]

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "onlineweb4.settings"
norecursedirs = [ ".*",  "env*", "tmp*" ]
python_files = [ "tests.py", "*_tests.py" ]
addopts = "--nomigrations"

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"

