Django>=1.9.0,<1.10.0
Pillow==3.3.1                   # PIL fork (Python Imaging Library)
django-tastypie==0.13.3         # API v0 - Use git master until django 1.9 release   v
djangorestframework>=3.4.3,<3.5.0 # API v1
django-filter==0.13.0           # Filtering for DRF
# python-memcached==1.57          # Memcache. Used by Mailinglists to fetch from Sympa.
# Upstream is missing Python 3 patches
git+https://github.com/JelteF/python-memcached@patch-1#egg=python-memcached==1.58
markdown2==2.3.1                # textarea text formatting
pytz                            # Timezone lib
stripe==1.37.0                  # Stripe payment
icalendar==3.10                # iCalendar generation

# third party deps
# django-filebrowser==3.5.4     # File uploading
# Missing django 1.9 patches
git+https://github.com/cXhristian/django-filebrowser.git@django-1.9#egg=django-filebrowser==3.6.2
django-grappelli==2.8.1         # Admin template set
git+https://github.com/dotKom/django-chunks.git@e6bf109d4fd286964024c140ac1b8f3d86713540#egg=django-chunks==0.4
django-crispy-forms==1.6.0      # nice forms
django-extensions==1.7.2        # nice extra commands for debugging, etc
django-dynamic-fixture==1.9.0   # Dynamic fixtures for models
django-recaptcha==1.0.5         # Google ReCaptcha
django-oauth-toolkit==0.8.1     # OAuth2 authentication support
django_compressor==2.1          # Compiles less and minifies js
django-watson==1.2.3            # Indexed model search lib
django-reversion==2.0.6         # Model version history with middleware hooks to all post_save signals
django-guardian==1.4.5          # Per Object permissions framework
django-taggit==0.21.1           # Generic multi-model tagging library
django-taggit-serializer==0.1.5 # REST Framework serializers for Django-taggit
APScheduler==3.2.0              # Scheduler
feedme==1.9.5
git+https://github.com/dotKom/redwine.git@1.2.4#egg=redwine==1.2.4
reportlab==3.3.0
pdfdocument==3.1
Unidecode==0.4.19               # Translates every unicode symbol to the closest ascii. online_mail_usernames
django-markdown-deux==1.0.5
django-formset-js==0.5.0        # used to dynamically create new formsets
django-cors-headers==1.1.0      # Enable CORS for Nibble
django-datetime-widget==0.9.3   # Datetime widget for forms

#test tools
django-nose>=1.4,<1.5           # We use this test runner locally
nose==1.3.7                     # We use this test runner locally

# Frigg
requests[security]==2.11.1

# Wiki
wiki==0.1

# Django 1.9 support
sorl-thumbnail>12.2
django-appconf>=1.0
django-mptt>=0.8.0
django-sekizai>=0.9

# non-pip
# imagemagick                   # From package repository. Tested with version == 8:6.7.7.10.
# libjpeg-dev					# From package repository.
# libpq-dev						# From package repository.
