Django>=1.8.0,<1.9.0
Pillow==2.7.0                   # pillow
django-tastypie==0.12.2         # API v0
djangorestframework>=3.3.0,<3.4.0 # API v1
django-filter==0.11.0           # Filtering for DRF
python-memcached==1.53          # Memcache. Used by Mailinglists to fetch from Sympa.
wsgiref==0.1.2
markdown2==2.3.0                # textarea text formatting
psycopg2                        # Postgres adapter
pytz                            # Timezone lib. Obsolete?
gunicorn==19.0
icalendar==3.8.4
stripe==1.20.2

# third party deps
django-filebrowser==3.5.4 		# File uploading
django-grappelli==2.6.3         # Admin template set
git+git://github.com/clintecker/django-chunks.git@0.2# Chunks, or reusable key:content for templates.
django-crispy-forms==1.4.0      # nice forms
django-extensions==1.5.9        # nice extra commands for debugging, etc
django-dynamic-fixture==1.8.1   # Dynamic fixtures for models
django-recaptcha==1.0.4         # Google ReCaptcha
django-oauth-toolkit==0.8.1     # OAuth2 authentication support
django_compressor==1.4          # Compiles less and minifies js
django-watson==1.1.8            # Indexed model search lib
django-reversion==1.9.3         # Model version history with middleware hooks to all post_save signals
django-guardian==1.3            # Per Object permissions framework
django-taggit==0.17.3           # Generic multi-model tagging library
django-taggit-serializer==0.1.5 # REST Framework serializers for Django-taggit
APScheduler==2.1.1              # Scheduler
feedme==1.9.4
git+https://github.com/dotKom/redwine.git@1.2.2#egg=redwine==1.2.2
reportlab==3.1.44
pdfdocument==3.1
Unidecode==0.4.17               # Translates every unicode symbol to the closest ascii. online_mail_usernames
django-markdown-deux==1.0.5
django-formset-js==0.4.3
werkzeug==0.10.4
django-cors-headers==1.1.0      # Enable CORS for Nibble
django-datetime-widget==0.9.3   # Datetime widget for forms

#test tools
cov-core==1.7
coverage==4.0.1
django-nose>=1.4,<1.5
factory-boy==1.1.3
lettuce==0.2.20
nose==1.3.4
nose-cov==1.6
teamcity-messages==1.16
flake8==2.4.1
pepper8>=1.0.4                  # Transforms flake8 output to HTML report + TC messages

# Frigg
requests[security]==2.8.0

# Wiki
git+https://github.com/django-wiki/django-wiki.git@525cf620200b92ba63df5639b5279a2ec8375c20#egg=wiki==0.1.dev2


# non-pip
# imagemagick                   # From package repository. Tested with version == 8:6.7.7.10.
# libjpeg-dev					# From package repository.
# libpq-dev						# From package repository.

