Django==1.4
South==0.7.5                    # DB migration tool. 
PIL==1.1.7                      # Python Imaging Library. Used by filebrowser.
django-tastypie==0.9.11         # API
mimeparse==0.1.3
python-dateutil==1.5
python-memcached==1.45			# Memcache. Used by Mailinglists to fetch from Sympa.
wsgiref==0.1.2
Markdown==2.0.3                 # textarea text formatting

# third party deps
django-filebrowser==3.5.0   # File uploading
django-grappelli==2.4.2     # Admin template set
django-chunks               # Chunks, or reusable key:content for templates.
django-crispy-forms==1.2.3  # nice forms
django-extensions==1.0.3    # nice extra commands for debugging, etc
django-dynamic-fixture==1.6.4   #Dynamic fixtures for models

#test tools
cov-core==1.7
coverage==3.5.2
django-nose==1.0
factory-boy==1.1.3
fuzzywuzzy==0.1
lettuce==0.2.10
nose==1.1.2
nose-cov==1.5
sure==1.0.6
unittest2==0.5.1

# non-pip
# imagemagick               # From package repository. Tested with version == 8:6.7.7.10.
