{% extends 'dashboard_base.html' %}
{% load compress %}
{% block title %}Prikker - Online Dashboard{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block page-header %}
Detaljer om prikk: {{ mark.title }}
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/marks">Prikker</a></li>
<li>{{ mark.title }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <p>Details here</p>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- Dashboard JS here -->
{% endblock %}
