{% extends 'dashboard_base.html' %}
{% load compress %}
{% block title %}Ny prikk - Online Dashboard{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block page-header %}
Ny prikk
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/marks">Prikker</a></li>
<li>Ny prikk</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <p>Derp</p>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- Dashboard JS here -->
{% endblock %}
