{% extends 'dashboard_base.html' %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% load addcss %}

{% block title %}Ny prikk - Online Dashboard{% endblock %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'dashboardMarks' 'css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% render_bundle 'dashboardMarks' 'js' %}
{% endblock %}

{% block page-header %}
Ny prikk
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/marks">Prikker</a></li>
<li>Ny prikk</li>
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lagre</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon">Navn</span>
                                {{ field|addclass:"form-control" }}
                                {% if field.errors %}
                                <p>{{ field.errors }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
