{% extends "dashboard_base.html" %}
{% load compress %}

{% block title %}
{{ app.name }} - Ekstern tilgang - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}

    {% endcompress %}
{% endblock js %}

{% block page-header %}
{{ app.name }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/auth/">Autentisering</a></li>
    <li><a href="{% url 'sso:index' %}">Ekstern tilgang</a></li>
    <li>{{ app.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'sso:new_app' %}" class="btn btn-primary pull-left">
            <i class="fa fa-plus"></i> Ny App-klient
        </a>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete">
            <button type="submit" class="btn btn-danger pull-right">
                <i class="fa fa-times"></i> Slett
            </button>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Applikasjonsoversikt</h3>
            </div>
            <div class="panel-body">
                <p>App detaljer</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
