.photo_edit {
	max-height: 300px;
	max-width: 500px;
}

.chosen {
	border: 2px solid green;
}

.hidden_checkbox {
	visibility: none
}

.tag {
	background-color: #80808061;
	border-radius: 6px;
	margin: 4px;
	padding: 0 10px;
}

.album_photo.small{
	max-width: 150px;
	margin: 10px;
	max-height: 200px;
}

.album_photo.big {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.navigation_pointer {
	position: absolute;
	top: 50%;
	bottom: 50%;
}

.left {
	left: 30px;
}

.right {
	right: 30px;
}

.big_photo_box {
	position: relative;
}