table.attendees > tbody > tr > td > a > i {
  color: red;
}

table.attendees > tbody > tr > td > a > i.checked {
  color: green;
}

// Forms for editing
.edit-form {
  textarea, input[type="text"], input[type="email"], input[type="url"], input[type="number"] {
    margin-bottom: 7px;
  }

  .row {
    margin: 10px 0;
  }

}

#attendance {
  select[multiple] {
    height: 425px;
  }
}
