/* Stuff */
@grey-background:#0E3559;

/* Orange heading */
@heading: #ee7810;

/* Committee colors */
@fagkom-color: #a1d40a;
@bedkom-color: #3366AA;
@arrkom-color: #B70000;


/* Classes which apply text color */
.fagkom { color:@fagkom-color; }
.bedkom{ color:@bedkom-color; }
.arrkom { color:@arrkom-color; }
.orange { color:@heading; }



@baby-blue:#027BBB;
@baby-blue-medium:#49A0CC;
@baby-blue-light:#32AFFF;
@light-blue-soft:#D6EAFF;


@light-orange:#EE974F;
@skin-orange:#FFD2A5;




/* RANDOM SHIT (throw?) */
@content-bg:#FFF;
@sidebar-heading:#b3b2b2;
@sidebar-bg:#f0f8fd;

