
/* Debug */

@debug: 1pt;
.debugred {border: @debug solid red;}
.debuglime {border: @debug solid lime;}
.debugpink {border: @debug solid pink;}

/* Vars */

// Todo

/* Mixins */

// TODO

/* Mailinglists */

#mailinglist-items {
    .debugred;
    width: 100%;
    text-align: center;

    .mailinglist {
    	.debuglime;
    	width: 200pt;
    	float: left;

    	.title {
    		.debugpink;

    	}
    	.members {
    		.debugpink;

    	}
    }
}
