
@debug: 0pt;
.debugred {border: @debug solid red;}
.debuglime {border: @debug solid lime;}
.debugpink {border: @debug solid pink;}

/* Help mixin */
.transition_easer(@seconds: 0.2s) {
    -webkit-transition: all @seconds ease-in-out;
    -moz-transition: all @seconds ease-in-out;
    -o-transition: all @seconds ease-in-out;
    -ms-transition: all @seconds ease-in-out;
}

/* ResourceCenter */

#resourcecenter-items {
    .debugred;
    width: 100%;
    text-align: center;

    .item {
        .debuglime;
        .transition_easer;
        display: inline-block;
        margin: 0 15pt 20pt 15pt;
        padding: 0 0 5pt 0;
        // opacity: .9;

        &:hover {
            // opacity: 1;
        };
        
        img {
            .debugred;
            .transition_easer;
            box-shadow: 0 0 0 #fff;
            width: 200pt;
            height: 200pt;
            // padding: 5pt;
            
            &:hover {
                box-shadow:
                    0pt 0pt 10pt #555,
                    0pt 0pt 20pt #555,
                    0pt 0pt 30pt #555,
                    0pt 0pt 40pt #555;
                // width: 200pt;
                // height: 200pt;
                // padding: 0pt;
            };
        }
        .textwrapper {
            .debugpink;
            margin: 0 10pt;
            padding: 5pt 0;

            .title {
                font-size: 18pt;
                font-weight: bold;
                color: #000;
            }
            .subtitle {
                font-size: 12pt;
            }
        }
    }

}
