/* Help mixin */
.transition_easer(@seconds: 0.2s) {
    -webkit-transition: all @seconds ease-in-out;
    -moz-transition: all @seconds ease-in-out;
    -o-transition: all @seconds ease-in-out;
    -ms-transition: all @seconds ease-in-out;
}

/* ResourceCenter */

#resourcecenter {
    width: 100%;
    padding: 10pt 20pt;
    border: 2pt solid red; // debug

    img {
    	width: 100pt;
    	height: 100pt;
    }
}
