/* Career Opportunity
-------------------------------------------------- */

#career img {
    width: 100%;
}

#career article h1 {
    font-size: 20px;
    font-weight: 400;
    color: #ee7810;
    margin-top: 0;
}

#career article .ingress {
  margin-bottom: 10px;
  line-height: 1.625em;
}

section#careeropportunities {

	.career-ingress {
		font-weight:300;
	}

	.career-title {
		font-size:20px;
	}
}

section#careeropportunity {
    .careerdescription {
        margin-bottom: 40px;
    }
	.company {
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        box-sizing: border-box;
		color:white;
		background:@baby-blue-medium;

		h3 {
			color:white;
			font-size:19px;
		}

		.company-ingress p {
			color:white;
			font-weight:300;
			font-size:14px;
		}

		.company-image-caption {
			font-weight:300;
			font-size:11px;
			color:white;
			text-transform: uppercase;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

#opportunity-company-name h3 {
    text-align: center;
    margin-top: -10px;
}
