.feedback-answer-label label {
    font-size:20px;
    margin-top:10px;
}

#feedbackanswer {
	h2 {
		text-transform: uppercase;
	}
}

#feedback{
    textarea{
        width: 50%;
    }
    label {
        display: block;
        clear: both;
    }

    ul {
    	margin-left: 0px;
    	padding-left: 0px;
    }
    li {
    	list-style: none;
    	float: left;
    	margin-left: 0px;
    }
    input[type=radio] {
        padding-top: 0px;
        margin-left: 20px;
        float:left;
    	margin-right: 10px;
    	display: inline-block;
    	font-size: 12px;
        margin-bottom: 30px;
    }
    select {
        width: 50%;
    }
    div{ /*TODO, create clearfix mixin*/
        *zoom: 1;
        &:before,
        &:after {
            display: table;
            content: "";
        }
        &:after {
            clear: both;
        }
    }
}

.control-label {
    font-size:18px;
}

.barChartText {
    stroke:@heading;
    fill:@heading;
    font-size:20px;
}

#feedback-results
{
    .rating-chart
    {
        margin-bottom: 25px;
        margin-left: -10px;
    }
    .panel-heading
    {
        font-weight: 600;
        color: #004b80;
    }
    .answer:hover
    {
        cursor: pointer;
        //border-style:outset;
    }
    .answer:hover .icon
    {
        visibility:visible;
    }

    .icon
    {
        visibility: hidden;
        color: red;
        padding-right: 10px;
    }

}

.errorlist
{
    color: red;
    margin-bottom: 30px;
}

.whitespaceFix:nth-child(even)
{
    float: right;
}

.infonumber
{
    font-size: 14px;
    font-weight: 600;
    color: #004b80;
    float: right;
}
