.feedback-answer-label label {
    font-size:20px;
    margin-top:10px;
}

#feedbackanswer {
	h2 {
		text-transform: uppercase;
	}
}

#feedback{
    textarea{
        width: 100%;
	border: 1px solid #aaa;
	border-radius: 4px;
    }

    ul {
	margin-left: 0px;
	padding-left: 0px;
    }
    li {
	list-style: none;
	float: left;
	margin-left: 0px;
    }
    input[type=radio] {
        padding-top: 0px;
        margin-left: 20px;
        float:left;
	margin-right: 10px;
	display: inline-block;
	font-size: 12px;
    }
    select {
	display: block;
	border-radius: 4px;
	border: 1px solid #aaa;
    }
    div{ /*TODO, create clearfix mixin*/
        *zoom: 1;
        &:before,
        &:after {
            display: table;
            content: "";
        }
        &:after {
            clear: both;
        }
    }
}

.control-label {
    font-size:18px;
}

.barChartText {
    stroke:@heading;
    fill:@heading;
    font-size:20px;
}

#feedback-results
{
    .rating-chart
    {
        margin-bottom: 25px;
    }
    .panel-heading
    {
        font-weight: 600;
        color: #004b80;
    }
}
