/* Navbar
-------------------------------------------------- */
nav.navbar {
    background: #004b80;
    border: 0;
    margin-bottom: 0;

    .logo {
        margin-bottom:-17px;
        margin-top:-21px;
    }

    li {
        border-top: 5px solid rgba(255, 255, 255, 0.1);
        margin-right: 1px;
        font-size: 13px;
        font-weight:400;

        text-transform: uppercase;

        &.active {
            border-top: 5px solid rgba(255, 255, 255, 1);
        }
        a {
            padding-left: 13px;
            padding-right: 13px;
        }
    }

    .navbar-right {
        li {
            border-color: transparent;

            &.top-menu-img a:hover {
                background: none;
            }
        }
    }

    #login_menu {
        li {
            border: none;
        }
    }
}

nav.subnavbar {
    top: 62px;
    left: -30px;
    background: #bbb;
    z-index: 1000;

    a {
        color: #ccc;
        height: 35px;
        line-height: 35px;
        padding-top: 0;
    }

    li {
        font-size: 12px;

        a.active {
            background: #d0d0d0;
        }
    }
}

/* Controls gap between navbar and content */

.subnavbar + section {
    padding: 87px 0 0 0;
}
.navbar + section {
    padding: 52px 0 0 0;
}