#sso-container {
  width: 480px;
  margin: 0 auto;
}
#sso-panel {
  background-color: #eee;
  margin-top: 60px;
}
#sso-panel-header {
  background-color: #004b80;
  padding: 20px;

  h3 {
    line-height: 30px;
    font-size: 30px;
    vertical-align: middle;
    color: #fff;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }
}
#sso-panel-body {
  h4 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 18px;
  }
  padding: 20px;
  border: 1px solid #004b80;
}
#sso-authorization-form {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #aaa;
}
