#sso-container {
  width: 480px;
  margin: 0 auto;
}
#sso-panel {
  border: 1px solid #004b80;
  background-color: #eee;
  margin-top: 60px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.15), 0 6px 10px 0 rgba(0,0,0,0.11);
}
#sso-panel-header {
  background-color: #004b80;
  padding: 20px;

  h3 {
    line-height: 30px;
    font-size: 30px;
    vertical-align: middle;
    color: #fff;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }
}
#sso-panel-body {
  h4 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
  }
  padding: 20px 20px 15px 20px;
}
#sso-authorization-form {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #aaa;
}
