#wiki {
    padding: 87px 0 0;
    .page-header {
        margin-top: 0px;
    }
}
.navbar-fixed-top {
    .login-btn {
        border-radius: 5px;
    }
}
.navbar.navbar-fixed-top > .container .navbar-brand {
    margin-right: 0px;
}
