#wiki {
    padding: 87px 0 0;
    .page-header {
        margin-top: 0px;
    }
    .wiki-article table {
        border: 1px solid #bbb;
        padding: 4px;
    }
    .wiki-article table th {
        font-weight: bold;
    }
}
.navbar-fixed-top {
    .login-btn {
        border-radius: 5px;
    }
}
.navbar.navbar-fixed-top > .container .navbar-brand {
    margin-right: 0px;
}
.navbar-fixed-top {
	padding-left: 0px;
	padding-right: 0px;
}