{% extends "base.html" %}
{% load markup %}
{% block content %}
    
    <section id="careeropportunity">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="page-header">
                        <h2 id="careeropportunity-heading">{{opportunity.title}}</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="span8">
                    <div class="row-fluid" id="opportunity-description">
                        <div class="span10 ingress">
                            <p>{{opportunity.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="row-fluid" id="opportunity-company">
                        <a href="{{opportunity.company.site}}" target="_blank">
                            <div id="company-name">
                                <h3>{{opportunity.company.name}}</h3>
                            </div>
                            <div id="company-image">
                                <img src="" />
                            </div>
                        </a>
                        <hr />
                        <div class="ingress">
                            <div id="company-description ingress">
                                <p>{{opportunity.company.long_description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{%endblock content %}
