{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load group_membership %}

{% block title %}
{{ opportunity.title }} - Online
{% endblock title %}

{% block content %}

<section id="careeropportunity">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>
                        {{opportunity.title}}
                            {% if user.is_authenticated %}
                                {% in_group "Komiteer" as in_komiteer %}
                                {% if in_komiteer %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'careeropportunity_dashboard_edit' opportunity.id %}">Edit</a></li>
                                        </ul>
                                    </div>
                            {% endif %}
                        {% endif %}
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-7 careerdescription">
                {{ opportunity.description|striptags|markdown }}
            </div>
            <div class="col-md-4 col-sm-5">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'company_details' opportunity.company.id %}">
                            <picture>
                                <source srcset="{{ opportunity.company.image.lg }}" media="(max-width: 992px)">
                                <img src="{{ opportunity.company.image.md }}" width="100%" alt=""/>
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="company"><!-- Start company style wrapper -->
                    <a href="{% url 'company_details' opportunity.company.id %}">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{ opportunity.company.name }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="company-ingress">{{ opportunity.company.short_description|striptags|markdown }}</div>
                                <p class="pull-right company-image-caption">Trykk for mer info</p>
                                <div/>
                            </div>
                        </a>
                    </div><!-- End company style wrapper -->
                </div>
            </div>
        </div>
    </section>
    {%endblock content %}
