{% extends "base.html" %}
{% load fb_versions %}
{% block content %}
    
    <section id="careeropportunities">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="page-header">
                        <h2>KARRIEREMULIGHETER</h2>
                    </div>
                </div>
            </div>
{% for opportunity in opportunities %}
    {% if forloop.counter0|divisibleby:"4" %}
            <div class="row-fluid row-space">
    {% endif %}
                <div class="span3">
                    <a href="{% url 'careeropportunity_details' opportunity.id %}">
                        <div class="row-fluid">
                            <div class="span12">
                                <img src="{% version opportunity.company.image 'companies_medium' %}" alt=""/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <h3 class="career-title">{{opportunity.title}}</h3>
                            </div>
                        </div>
                    </a>
                    <div class="row-fluid">
                        <div class="span12">
                            <p class="career-ingress">{{opportunity.ingress}}</p>
                        </div>
                    </div>
                </div>
    {% if forloop.counter|divisibleby:"4" and not forloop.last%}
            </div>
    {% endif %}
    
    {% if forloop.last %}
            </div>
    {% endif %}
{% endfor %}
        </div>
    </section>
{%endblock content %}
