{% extends "base.html" %}
{% load fb_versions %}

{% block title %}
Karrieremuligheter - Online
{% endblock title %}

{% block content %}
    
    <section id="careeropportunities">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>KARRIEREMULIGHETER</h2>
                    </div>
                </div>
            </div>

            {% if opportunities %}
{% for opportunity in opportunities %}
    {% if forloop.counter0|divisibleby:"4" %}
            <div class="row row-space">
    {% endif %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="{% url 'careeropportunity_details' opportunity.id %}">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{% version opportunity.company.old_image 'companies_medium' %}" width="100%" alt=""/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="career-title">{{opportunity.title}}</h3>
                            </div>
                        </div>
                    </a>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="career-ingress">{{opportunity.ingress}}</p>
                        </div>
                    </div>
                </div>
    {% if forloop.counter|divisibleby:"4" and not forloop.last%}
            </div>
    {% endif %}
    
    {% if forloop.last %}
            </div>
    {% endif %}
{% endfor %}
        </div>
        {% else %}
        <p class="ingress">Ingen karrieremuligheter funnet.</p>
        {% endif %}
    </section>
{%endblock content %}
