#article_archive_container .span12 {
    margin-left: 0px;
    padding-bottom: 25px;
}
#article_archive_container .span12 > div {
    margin-left: 0px;
}
#article_wrapper .flex-video {
    text-align: center;
}