@background:#FBFBFB;
@content-bg:#FFF;
@heading:#ee7810;
@sidebar-heading:#b3b2b2;
@sidebar-bg:#f0f8fd;
@event-padding:20px;
@nav-height: auto;
@media-desktop-min: 1240px;


html {
overflow-x: hidden;

}

body {
    background:#FFF;
    color:#555;
    font:13px "Open Sans",arial,sans-serif;
    font-weight:400;
    margin:0;
    overflow: hidden;
    padding:57px 0 0 0;
}

@media all and (max-width: 980px) {
    body {
        margin-top: 0px;
        padding-top: 0px;
    }
}

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}

.flex-video.widescreen { padding-top: 0; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article-details-ingress {
    margin-bottom:20px;
    
}

.article-latestnews {
    font-size:18px;
    font-weight:500;
}

.article-details-ingress > p {
    .ingress;
    font-size:20px;
}

.article-details-content {
    font-size:18px;
    font-weight:400;
    margin:0;
}



@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video { padding-top: 0; }
}

/* Desktop */
@media all and (min-width: @media-desktop-min) {
    .container-fluid {
        margin:0 auto;
        width:1200px;
    }
}

/* Mobil e.l. */
@media all and (max-width: @media-desktop-min) {
    .container-fluid {
        margin: 0px 20px;
        /*background: green;*/
    }
}

span.dates {
    color:#2fa3d3;
    float: right;
}

/* Mobil e.l. */
@media all and (max-width: 756px) {
    #articles {
        .row-fluid {
            .span2 {
                display: inline-block;
                vertical-align: top;
                width: 100%;
                text-align: center;
            }
        }
    }
}


/* Globals
-------------------------------------------------- */


section {
    margin-bottom:20px;
}

.messages {
    padding:0;
}

.alert { 
    margin-top:10px; 
}

.grayed {
    background:@background; 
}

.dark-grayed {
    background:#666;
}

.footer {
    padding:20px;
    color:#fbfbfb;
}

.ingress {
    font-size:16px;
    color:#777;
    font-weight:300;
}

h2{
    font-weight:700;
    color:@heading;
    font-size:24px;
}   
    
h3 {
    font-weight:400;
}

h4 {
    text-align:center;
    font-weight:500;
    font-size:14px;
}

p {
    color:#666;
    line-height:1.6em;
}

.centered {
    text-align: center;
}

/* Events
-------------------------------------------------- */
.list-items {
    font-size:14px;
    padding:10px 0px 10px 34px;
    font-weight:400;
    border-bottom: 1px dashed lighten(#333333, 70%);
}
.event-list :last-child {
    border-bottom: 0px;
}

.event-list li {
    .list-items
}

.event-list li > img {
    margin-right:5px;
    margin-top: -4px;
}

.bullet-1 {
    background:url("../img/arrkom_bullet.png") no-repeat 0;
}
.bullet-2 {
    background:url("../img/bedkom_bullet.png") no-repeat 0;
}
.bullet-3 {
    background:url("../img/fagkom_bullet.png") no-repeat 0;
}

.event-list-dates li {
    color:#2fa3d3;
    padding-bottom:7px;
    .list-items
    
}

.filter > li {
    display:inline;
    padding:0 0 0 5px;
}

.sidebar {
padding:80px 20px 20px 20px;

}


/* Business
-------------------------------------------------- */
.business-ingress {
    margin-bottom:20px;
}

.contact-buttons {
    margin:0 auto;
}



.business-ingress > p {
    .ingress
}

.business-text {
    margin-bottom:30px;
}

.business-text > p {
    font-weight:400;
}

section#business h5 {
    color:#2fa3d3;
    font-weight:600;
}

section#business h3 {
    
    font-weight:600;
    font-size:20px;
}

.expander {
    text-align:center;
    
}

.sale-box {
text-align:left;

}

/* Logos
-------------------------------------------------- */
.online-logo {
    width: 140px; 
    margin: -10px 45px 0 0;
}

.sponsor-logo {
    width: 110px;
    margin: -10px 0 0 0;
}

/* Offline
-------------------------------------------------- */
#offlineCarousel .item a:not(:first-child) {
    margin-left: 2em;
}

/* Navbar
-------------------------------------------------- */

.navbar a { text-transform: uppercase; }

.navbar .nav {
    height: @nav-height;
    
}
.navbar-inner {
    background: transparent url('../img/top_bar.jpg') repeat-x;
    height:@nav-height;

}

.top-menu-positioning {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 15px 18px 15px;
    float: none;
}

.top-menu-font {
    font-weight:400;
    font-size:13px;
    color:#FFF;
}

.navbar .nav  li.top-menu-link a {
    .top-menu-positioning;
    .top-menu-font;
}

.navbar .nav li.top-menu-img a {
    .top-menu-positioning;
}

.navbar .nav li a.login {
    .top-menu-font;
}
.navbar .nav.menu-elements li a {
    padding-top: 15px;
}
.navbar .nav.menu-elements li {
    border-top: 5px solid rgba(255, 255, 255, 0.1);
    margin-right: 1px;
}
.navbar .nav.menu-elements li a:last-child {
    margin-left: 0;
}

.navbar a.brand {
    padding-bottom: 0!important;
}
.navbar-inner li.divider-vertical {
    height: 30px;
    border-color: rgba(255,255,255,0.2);
    border-right: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover  {
    color: #FFF;
}

div.nav-collapse.in.collapse {
    margin-top: 52px;
    background-color: #FAFAFA;
}

div.nav-collapse.in.collapse ul.nav.menu-elements li.top-menu-link a {
    color: black;
    width: 100%;
}

div.nav-collapse.in.collapse ul.nav.pull-right li.dropdown a.login-btn.dropdown-toggle.dropdown-signin.login {
    color: black;
}


/* Login button
-------------------------------------------------- */
.login-btn {
    margin: 15px 0 0 0;
    padding: 4px 10px!important;
    border-radius: 5px;
    display: block;
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
}
.login-box {
    padding: 15px;
}

.dropdown-form li > form > .login-extra > a {
    padding:20px 0 0 0;
    display:block;
}

#feedback{
    textarea{
        width: 90%;
    }
    .radio {
        padding-top: 0px;
        margin-left: 20px;
        float:left;
    }
    div{ /*TODO, create clearfix mixin*/
        *zoom: 1;
        &:before,
        &:after {
            display: table;
            content: "";
        }
        &:after {
            clear: both;
        }
    }
}
