@background:#FBFBFB;
@content-bg:#FFF;
@heading:#ee7810;
@sidebar-heading:#b3b2b2;
@sidebar-bg:#f0f8fd;
@event-padding:20px;
@nav-height: auto;
@media-desktop-min: 1240px;


html {
overflow-x: hidden;

}

body {
    background:#FFF;
    color:#555;
    font:13px "Open Sans",arial,sans-serif;
    font-weight:400;
    margin:0;
    overflow: hidden;
    padding:57px 0 0 0;
}

@media all and (max-width: 980px) {
    body {
        margin-top: 0px;
        padding-top: 0px;
    }
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Desktop */
@media all and (min-width: @media-desktop-min) {
    .container-fluid {
        margin:0 auto;
        width:1200px;
    }
}

/* Mobil e.l. */
@media all and (max-width: @media-desktop-min) {
    .container-fluid {
        margin: 0px 20px;
        /*background: green;*/
    }
}

span.dates {
    color:#2fa3d3;
    float: right;
}

/* Mobil e.l. */
@media all and (max-width: 768px) {
    #articles {
        .row-fluid {
            .span2 {
                display: inline-block;
                vertical-align: top;
                width: 100%;
                text-align: center;
            }
        }
    }
    
/* Careeropportunities title goes left */
    #careeropportunities img, h4, p  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


/* Globals
-------------------------------------------------- */


section {
    margin-bottom:20px;
}

.messages {
    padding:0;
}

.alert { 
    margin-top:10px; 
}

.grayed {
    background:@background; 
}

.dark-grayed {
    background:#666;
}

.footer {
    padding:20px;
    color:#fbfbfb;
}

.ingress {
    font-size:16px;
    color:#777;
    font-weight:300;
}

h2{
    font-weight:700;
    color:@heading;
    font-size:24px;
}   
    
h3 {
    font-weight:400;
}

h4 {
    text-align:center;
    font-weight:500;
    font-size:14px;
}

p {
    color:#666;
    line-height:1.6em;
}

.centered {
    text-align: center;
}

/* Events
-------------------------------------------------- */


section#events {

    .event-row {
        margin-bottom:20px;
    }

    .event-title {
        font-size:17px;
        margin-bottom:5px;
    }

    .event-ingress {
        font-size:12px;
        color:#777;
        font-weight:300;
    }

    @fagkom-color:#a1d40a;
    @bedkom-color:#3366AA;
    @arrkom-color:#B70000;

    .event-calendar-box {
        padding:3px 3px 4px 3px;
        text-align:center;
        font-weight:400;
        font-size:19px;
        /*-webkit-box-shadow: 3px 3px 8px 2px #AAA;*/
    }

    .event-arrkom {
        .event-calendar-box();
        background:@arrkom-color;
        color:@arrkom-color;
    }
    .event-fagkom {
        .event-calendar-box();
        background:@fagkom-color;
        color:@fagkom-color;
    }
    .event-bedkom {
        .event-calendar-box();
        background:@bedkom-color;
        color:@bedkom-color;
    }
    
    /* Gets overridden belowi if needed */
    [class*='event-type-'] {
        .event-arrkom;
    }

    .event-type-1 {
        .event-arrkom;
    }

    .event-type-2 {
        .event-bedkom;
    }

    .event-type-3 {
        .event-fagkom;
    }

    

    .event-calendar-date {
        display:block;
        background:#FFF;
        padding:3px;
    }

    .event-calendar-month {
        color:#FFF;
        font-size:13px;
        font-weight:400;
        text-transform:uppercase;
    }
}


/* Business
-------------------------------------------------- */
.business-ingress {
    margin-bottom:20px;
}

.contact-buttons {
    margin:0 auto;
}



.business-ingress > p {
    .ingress
}

.business-text {
    margin-bottom:30px;
}

.business-text > p {
    font-weight:400;
}

section#business h5 {
    color:#2fa3d3;
    font-weight:600;
}

section#business h3 {
    
    font-weight:600;
    font-size:20px;
}

.expander {
    text-align:center;
    
}

.sale-box {
text-align:left;

}

/* Logos
-------------------------------------------------- */
.online-logo {
    width: 140px; 
    margin: -10px 45px 0 0;
}

.sponsor-logo {
    width: 110px;
    margin: -10px 0 0 0;
}

/* Offline
-------------------------------------------------- */
#offlineCarousel {
    text-align: center;

    .item {
        a:not(:first-child) {
            margin-left: 10px;
        }
    }

}

/* Career Opportunity
-------------------------------------------------- */

#opportunity-company-name h3 {
    text-align: center;
    margin-top: -10px;
}

/* Navbar
-------------------------------------------------- */

.navbar a { text-transform: uppercase; }

.navbar .nav {
    height: @nav-height;
    
}
.navbar-inner {
    background: transparent url('../img/top_bar.jpg') repeat-x;
    height:@nav-height;

}

.top-menu-positioning {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 15px 18px 15px;
    float: none;
}

.top-menu-font {
    font-weight:400;
    font-size:13px;
    color:#FFF;
}

.navbar .nav  li.top-menu-link a {
    .top-menu-positioning;
    .top-menu-font;
}

.navbar .nav li.top-menu-img a {
    .top-menu-positioning;
}

.navbar .nav li a.login {
    .top-menu-font;
}
.navbar .nav.menu-elements li a {
    padding-top: 15px;
}
.navbar .nav.menu-elements li {
    border-top: 5px solid rgba(255, 255, 255, 0.1);
    margin-right: 1px;
}
.navbar .nav.menu-elements li a:last-child {
    margin-left: 0;
}

.navbar a.brand {
    padding-bottom: 0!important;
}
.navbar-inner li.divider-vertical {
    height: 30px;
    border-color: rgba(255,255,255,0.2);
    border-right: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover  {
    color: #FFF;
}

div.nav-collapse.in.collapse {
    margin-top: 52px;
    background-color: #FAFAFA;
}

div.nav-collapse.in.collapse ul.nav.menu-elements li.top-menu-link a {
    color: black;
    width: 100%;
}

div.nav-collapse.in.collapse ul.nav.pull-right li.dropdown a.login-btn.dropdown-toggle.dropdown-signin.login {
    color: black;
}


/* Login button
-------------------------------------------------- */
.login-btn {
    margin: 15px 0 0 0;
    padding: 4px 10px!important;
    border-radius: 5px;
    display: block;
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
}
.login-box {
    padding: 15px;
}

.dropdown-form li > form > .login-extra > a {
    padding:20px 0 0 0;
    display:block;
}

.feedback-answer-label label {
    font-size:20px;
    margin-top:10px;
}

#feedback{
    textarea{
        width: 100%;
    }
    .radio {
        padding-top: 0px;
        margin-left: 20px;
        float:left;
    }
    div{ /*TODO, create clearfix mixin*/
        *zoom: 1;
        &:before,
        &:after {
            display: table;
            content: "";
        }
        &:after {
            clear: both;
        }
    }
}

.control-label {
    font-size:18px;
}

.barChartText {
    stroke:@heading;
    fill:@heading;
    font-size:20px;
}
/* HACKING
#background:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top,  rgba(93,99,101,0) 0%, rgba(93,99,101,1) 100%);    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(93,99,101,0)), color-stop(100%,rgba(93,99,101,1)));

    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
    background: -o-linear-gradient(top,  rgba(93,99,101,0) 0%,rgba(93,99,101,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(93,99,101,0) 0%,rgba(93,99,101,1) 100%); 
    background: linear-gradient(to bottom,  rgba(93,99,101,0) 0%,rgba(93,99,101,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005d6365', endColorstr='#5d6365',GradientType=0 );
}
*/
