{% extends "pizza/base_pizzasystem.html" %}
{% load admin_tags %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <div class="content">
        <h1>{{ form.name|title }}</h1>
        {% admin_tabs form.name  %}
        {% for field in form %}
        <div class="fieldWrapper clearfix">
            <label>{{ field.label_tag }}</label>
            <div class="input">{{ field }}</div>
            <div class="error">{{ field.errors }}</div>
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
</form>
{% endblock content %}
