{% extends "dashboard_base.html" %}
{% load addcss %}
{% load crispy_forms_tags %}
{% load compress %}

{% block title %}
    {{ item.name }} - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/dashboard/inventory.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
    Endre {{ item.name }}
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/inventory/">Varelager</a></li>
<li>{{ item.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="#" id="inventory-add-batch" class="btn btn-primary"><i class="fa fa-plus"></i> Legg til batch</a>
        <a href="#modal-delete-item" id="inventory-delete-item" data-toggle="modal" data-id="{{ item.id }}" class="btn btn-danger pull-right">
            <i class="fa fa-times fa-lg"></i> Slett vare
        </a>
    </div>
    <div class="col-md-12" style="display:none" id="inventory-add-batch-form">
        <hr />
        <p>Vennligst spesifiser vareantall og en eventuell utløspsdato (ikke påkrevet).</p>
        <div class="row row-space">
        <form method="POST" action="{% url 'dashboard_inventory_batch_new' item.id %}">
            {% csrf_token %}
            {% for field in new_batch_form %}
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group {% if field.errors %}has-error{% endif %} {% ifequal field.name 'expiration_date' %}dp{% endifequal %}">
                            <span class="input-group-addon">{{ field.label }}</span>
                            {{ field|addclass:"form-control" }}
                            {% ifequal field.name 'expiration_date' %}
                                <span class="input-group-btn">
                                    <a href="#" class="btn btn-primary datepickerbutton">
                                        <i class="fa fa-calendar fa-lg"></i>
                                    </a>
                                </span>
                            {% endifequal %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-2">
                <button type="submit" class="btn btn-success pull-right">
                    <i class="fa fa-save fa-lg"></i> Legg til</i>
                </button>
            </div>
        </form>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Vare</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    {% include "inventory/dashboard/edit.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Batch</h3>
            </div>
            <div class="panel-body">
                {% for pk, form in batch_forms %}
                <div class="row row-space">
                    <form method="POST" action="{% url 'dashboard_inventory_batch' item.id pk %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {% ifnotequal field.name 'item' %}
                        <div class="col-md-5">
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <div class="input-group {% ifequal field.name 'expiration_date' %}dp{% endifequal %}">
                                    <span class="input-group-addon">{{ field.label }}</span>
                                    {{ field|addclass:"form-control" }}
                                    {% ifequal field.name 'expiration_date' %}
                                    <span class="input-group-btn datepickerbutton">
                                        <a href="#" class="btn btn-primary">
                                            <i class="fa fa-calendar fa-lg"></i>
                                        </a>
                                    </span>
                                    {% endifequal %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {{ field.as_hidden }}
                        {% endifnotequal %}
                    {% endfor %}
                    <div class="col-md-2">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save fa-lg"></i>
                            </button>
                            <a href="#modal-delete-batch" data-toggle="modal" data-id="{{ pk }}" class="btn btn-danger deletebatch">
                                <i class="fa fa-times fa-lg"></i>
                            </a>
                        </div>
                    </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
<input type="hidden" id="item_id" value="{{ item.id }}" />
<div id="modal-delete-batch" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Bekreft sletting av batch!</h3>
            </div>
            <div class="modal-body">
                <p>Er du sikker på at du vil fjerne batchen fra {{ item.name }}?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
                <button class="btn btn-danger confirm-delete-batch" data-dismiss="modal" aria-hidden="true">Slett</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-delete-item" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Bekreft sletting av {{ item.name }}</h3>
            </div>
            <div class="modal-body">
                <p>Er du sikker på at du vil slette {{ item.name }}? Alle tilknyttede batcher vil også bli slettet.</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
                <button class="btn btn-danger confirm-delete-item" data-dismiss="modal" aria-hidden="true">Slett</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
