{% extends "dashboard_base.html" %}
{% load addcss %}
{% load crispy_forms_tags %}
{% load compress %}

{% block title %}
    {{ item.name }} - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/dashboard/inventory.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
    Endre {{ item.name }}
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/inventory/">Varelager</a></li>
<li>{{ item.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="#" id="inventory-add-batch" class="btn btn-primary"><i class="fa fa-plus"></i> Legg til batch</a>
        <a href="{% url 'dashboard_inventory_delete' item.id %}" id="inventory-delete-item" class="btn btn-danger pull-right"><i class="fa fa-times fa-lg"></i> Slett vare</a>
    </div>
    <div class="col-md-12" style="display:none" id="inventory-add-batch-form">
        <hr />
        <p>Vennligst spesifiser vareantall og en eventuell utløspsdato (ikke påkrevet).</p>
        <div class="row row-space">
        <form method="POST" action="{% url 'dashboard_inventory_batch_new' item.id %}">
            {% csrf_token %}
            {% for field in new_batch_form %}
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group {% if field.errors %}has-error{% endif %}">
                            <span class="input-group-addon">{{ field.label }}</span>
                            {{ field|addclass:"form-control" }}
                            {% ifequal field.name 'expiration_date' %}
                                <span class="input-group-btn">
                                    <a href="#" class="btn btn-primary datepicker">
                                        <i class="fa fa-calendar fa-lg"></i>
                                    </a>
                                </span>
                            {% endifequal %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-2">
                <button type="submit" class="btn btn-success pull-right">
                    <i class="fa fa-save fa-lg"></i> Legg til</i>
                </button>
            </div>
        </form>   
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Vare</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form method="POST" action="{% url 'dashboard_inventory_details' item.id %}">
                        <div class="row row-space">
                            {% csrf_token %}
                            {% for field in item_form %}
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">{{ field.label }}</span>
                                    {{ field|addclass:"form-control" }}
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa fa-save fa-lg"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Batch</h3>
            </div>
            <div class="panel-body">
                {% for pk, form in batch_forms %}
                <div class="row row-space">
                    <form method="POST" action="{% url 'dashboard_inventory_batch' item.id pk %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {% ifnotequal field.name 'item' %}
                        <div class="col-md-5">
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <div class="input-group">
                                    <span class="input-group-addon">{{ field.label }}</span>
                                    {{ field|addclass:"form-control" }}
                                    {% ifequal field.name 'expiration_date' %}
                                    <span class="input-group-btn">
                                        <a href="#" class="btn btn-primary datepicker">
                                            <i class="fa fa-calendar fa-lg"></i>
                                        </a>
                                    </span>
                                    {% endifequal %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {{ field.as_hidden }}
                        {% endifnotequal %}
                    {% endfor %}
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save fa-lg"></i>
                        </button>
                        <a href="{% url 'dashboard_inventory_batch_delete' item.id pk %}" class="btn btn-danger deletebatch">
                            <i class="fa fa-times fa-lg"></i>
                        </a>
                    </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
