{% load addcss %}
<form method="POST">
    {% csrf_token %}
    {% for field in item_form %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for="{{ field.auto_id }}"{% if field.errors %} class="red"{% endif %}>{{ field.label }}</label>
        {{ field|addclass:"form-control" }}
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">
        <i class="fa fa-save fa-lg"></i> Lagre
    </button>
    {% include 'gallery/formwidget.html' %}
</form>
