{% extends "dashboard_base.html" %}
{% load fb_versions %}
{% load addcss %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}
{% load compress %}

{% block title %}
    {{ item.name }} - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/dashboard/inventory.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
    {{ item.name }}
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/inventory/">Varelager</a></li>
<li>{{ item.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="#" class="btn btn-success"><i class="fa fa-save"></i> Lagre</a>
        <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Legg til batch</a>
        <a href="#" class="btn btn-danger pull-right"><i class="fa fa-times fa-lg"></i> Slett</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Vare</h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field|addclass:"form-control" }}
                    {% if field.errors %}
                    <p>{{ field.errors }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Batch</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <label>Antall</label>
                    </div>
                    <div class="col-md-5">
                        <label>Utløpsdato</label>
                    </div>
                    <div class="col-md-2">
                        <label class="pull-right">Fjern</label>
                    </div>
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    {% for batch in item.batches.all %}
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input class="form-control" type="number" value="{{ batch.amount }}"></input>

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    {% if batch.expiration_date %}
                                    <input class="form-control" type="text" value="{{ batch.expiration_date|date:'Y-m-d' }}"></input>
                                    {% else %}
                                    <input class="form-control" type="text" value="Ingen utløpsdato" disabled></input>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="btn btn-danger pull-right"><i class="fa fa-times fa-lg"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
