{% extends "dashboard_base.html" %}
{% load compress %}
{% load addcss %}
{% load crispy_forms_tags %}

{% block title %}
Ny vare - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/dashboard/inventory.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
Ny vare
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/inventory/">Varelager</a></li>
    <li>Ny vare</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include "inventory/dashboard/edit.html" %}
        </div>
    </div>
{% endblock content %}
