{% extends "dashboard_base.html" %}
{% load render_bundle from webpack_loader %}
{% load addcss %}
{% load crispy_forms_tags %}

{% block title %}
Ny vare - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'dashboardInventory' 'css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% render_bundle 'dashboardInventory' 'js' %}
{% endblock %}

{% block page-header %}
Ny vare
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/inventory/">Varelager</a></li>
    <li>Ny vare</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include "inventory/dashboard/edit.html" %}
        </div>
    </div>
{% endblock content %}
