{% extends "dashboard_base.html" %}
{% load compress %}
{% load addcss %}
{% load crispy_forms_tags %}

{% block title %}
Ny vare - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/dashboard/inventory.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
Ny vare
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/inventory/">Varelager</a></li>
    <li>Ny vare</li>
{% endblock %}

{% block content %}
    <form method="POST" action="">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lagre</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Varedetaljer</h3>
                    </div>
                    <div class="panel-body">
                        {% for field in form %}
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                <div class="input-group">
                                    <span class="input-group-addon">Navn</span>
                                    {{ field|addclass:"form-control" }}
                                    {% if field.errors %}
                                    <p>{{ field.errors }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
