{% extends "dashboard_base.html" %}
{% load compress %}

{% block title %}
Varelager statistikk - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block page-header %}
Varelager statistikk
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/inventory/">Varelager</a></li>
<li>Statistikk</li>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% compress js %}
        <script src="{{ STATIC_URL }}js/dashboard/InventoryStats.js"></script>
    {% endcompress %}
{% endblock js %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="columnchart_values""></div>
    </div>
</div>
{%  endblock %}
