{% extends "dashboard_base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
Varelager statistikk - Online Dashboard
{% endblock title %}

{% block page-header %}
Varelager statistikk
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/inventory/">Varelager</a></li>
<li>Statistikk</li>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% render_bundle 'dashboardInventory' 'js' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="columnchart_values""></div>
    </div>
</div>
{%  endblock %}
