{% extends "dashboard_base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
Søknadsgodkjenning - Online
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'dashboard_approval' 'css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% render_bundle 'dashboard_approval' 'js' %}
{% endblock js %}

{% block page-header %}
Søknadsgodkjenning
{% endblock %}

{% block breadcrumbs %}
    <li>Approvals</li>
{% endblock %}

{% block content %}
    <h4>Ubehandlede søknader</h4>
    <section id="approval-list">
    {% if membership_applications %}
    <div class="row row-space headings">
        <div class="col-md-3">
            <span><div class="visible-xs visible-sm">1. </div>Navn på søker</span>
        </div>
        <div class="col-md-3">
            <span><div class="visible-xs visible-sm">2. </div>Utløpsdato for medlemskap</span>
        </div>
        <div class="col-md-6">
            <span><div class="visible-xs visible-sm">3. </div>Detaljer for søknad om ny studieretning</span>
        </div>
    </div>
    {% for app in membership_applications %}
    <div class="row application">
        <div class="col-md-3 cell">
            <div class="visible-xs visible-sm">1. </div>{{ app.applicant.get_full_name }}
        </div>
        <div class="col-md-3 cell">
            <div class="visible-xs visible-sm">2. </div>
            {% if app.is_membership_application %}
                {{ app.new_expiry_date }}
            {% else %}
                -
            {% endif %}
        </div>
        <div class="col-md-4 cell">
            <div class="visible-xs visible-sm">3. </div>
            {% if app.is_fos_application %}
                {{ app.get_field_of_study_display }} (startet: {{ app.started_date }})
            {% else %}
                -
            {% endif %}
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-success approve" value="{{ app.id }}">Godkjenn</button>
                <button type="button" class="btn btn-danger decline" value="{{ app.id }}">Avslå</button>
            </div>

        </div>
    </div>
    <div id="confirm{{ app.id }}" class="row confirm">
        <div class="col-md-6">
            <textarea rows="6">Skriv litt om hvorfor søknaden avslås.</textarea>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-warning cancel">Lukk</button>
                <button type="button" class="btn btn-danger sendDecline" value="{{ app.id }}">Avslå</button>
            </div>
        </div>

    </div>
    {% endfor %}
    </section>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <p>Ingen ubehandlede søknader.</p>
        </div>
    </div>
    {% endif %}
    <br />
    <h4>Sist behandlede søknader</h4>
    {% if processed_applications %}
    <div class="row row-space">
        <div class="col-md-12">
            <table class="table table-striped table-condensed tablesorter" id="previous_approvals_list">
                <thead>
                    <tr>
                        <th>Søknad</th>
                        <th>Behandlet</th>
                        <th>Resultat</th>
                        <th>Behandlet av</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in processed_applications %}
                    <tr>
                        <td>{{ p }}</td>
                        <td>{{ p.processed_date|date:'Y-m-d H:i:s' }}</td>
                        <td>{% if p.approved %}Godkjent{% else %}Avslått{% endif %}</td>
                        <td>{{ p.approver }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row row-space">
        <div class="col-md-12">
            <p>Ingen behandlede søknader.</p>
        </div>
    </div>
    {% endif %}
{% endblock content %}
