/* Vars */
/* HobbyGroups */

#hobbygroups {
    .hobbydescription {
        margin-bottom: 20px;
    }
    img {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
    }
    h3 {
        margin-top: 0px;
    }
}

#introduction {
    margin-bottom: 40px;
}
