{% extends 'dashboard_base.html' %}
{% load addcss %}
{% load chunks %}
{% load compress %}

{% block breadcrumbs %}
  <li><a href="{% url 'chunk-dashboard:list' %}">Chunks</a></li>
  <li>{% if chunk %}{{ chunk.key }}{% else %}Ny Chunk{% endif %}</li>
{% endblock %}

{% block content %}
{% if chunk %}
<div class="col-sm-12">
  <a class="btn btn-danger pull-right" href="#modal-delete-chunk" data-toggle="modal">Slett</a>
</div>
{% endif %}
<div class="col-md-8">
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field|addclass:"form-control" }}
    {% endfor %}
    <button type="submit" class="btn btn-success">Lagre</button>
  </form>
</div>
<div class="col-md-4">
  <h1>{{ chunk.key }}</h1>
  <h2>{{ chunk.description }}</h2>
  <p id="chunk-content">{{ chunk.content }}</p>

</div>

{% if chunk %}
<div id="modal-delete-chunk" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h3>Bekreft sletting av Chunk</h3>
      </div>
      <div class="modal-body">
        <p>Er du sikker på at du vil slette chunken {{ chunk.key }}?</p>
        <p>
            Vær obs på at dersom denne vises et sted på nettsiden vil den ikke vises lengre, men
            lenker som peker til den vil fortsatt eksistere. Ta kontakt med <a href="mailto:dotkom@online.ntnu.no">dotkom</a>
            for å fjernet eventuelle slike lenker.
        </p>
      </div>
      <div class="modal-footer">
        <form action="{% url 'chunk-dashboard:delete' chunk.id %}" method="POST">
          {% csrf_token %}
          <div class="btn-group">
            <button type="submit" class="btn btn-danger">Slett</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
  {{ block.super }}
  {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/showdown.min.js"></script>
    <script>
      function run() {
        var previousSourceText = sourceText | ''
        var sourceText = document.getElementById('id_content').value
        if (previousSourceText === sourceText) return
        var target = document.getElementById('chunk-content')
        var converter = new showdown.Converter()
        var output = converter.makeHtml(sourceText)
        target.innerHTML = output
      }
      // Run once initially to render it first time.
      run()
      // Render for changes to the data
      $('#id_content').on('change keyup', run)
    </script>
  {% endcompress %}
{% endblock %}
