section#articles {
  img {
    width: 100%;
  }

  h3, h4 {
    color:#666;
    text-align: left;
    word-wrap: break-word;
  }

  #article-frontpage-normal {
    @media (max-width: 991px) {
      .article-widget-mobile-view-separator {
        clear: both;
      }
    }
  }
}
