{% load thumbnail %}

<div class="row">
    <div class="col-md-12">
        <h2>Behandle fuckings bilder</h2>
        {% for image in unhandled_images %}

            <img src="{{ image.thumbnail.url }}">

{#            {% thumbnail image.image "x300" as im %}#}
{#                <img src="{{ im.url }}">#}
{#            {% endthumbnail %}#}

            {#            <img id="yourImageId9"  class="bttrlazyloading"#}
            {#                 data-bttrlazyloading-xs-src="http://i.imgur.com/BvYBjHb.png"#}
            {#                 data-bttrlazyloading-sm-src="http://i.imgur.com/BvYBjHb.png"#}
            {#                 data-bttrlazyloading-md-src="http://i.imgur.com/BvYBjHb.png"#}
            {#                 data-bttrlazyloading-lg-src="http://i.imgur.com/BvYBjHb.png"#}
            {#                 data-bttrlazyloading-transition="rotatedIn"#}
            {#                    />#}
        {% endfor %}
    </div>
</div>