<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2>Ubehandlede bilder</h2>
            </div>
        </div>
        <div class="row tabbable">
            <div class="col-md-12">
                <div id="gallery__edit-tab" class="tab-content">
                    <div class="tab-pane fade in active" id="gallery__thumbnail-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12" id="gallery__thumbnail-view"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="gallery__edit-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#gallery__thumbnail-pane" class="btn btn-primary" role="tab" data-toggle="tab">
                                    <i class="fa fa-chevron-left"></i> Tilbake
                                </a>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-8 col-md-9 col-md-12 col-xs-12">
                                <div id="gallery__image-edit-container"></div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-md-12 col-xs-12">
                                RIGHT SIDE MENU
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">Bottom side stuff</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
