<!-- IMAGE UPLOAD TEMPLATE FRAGMENT -->

{% load responsive_image_url %}

<div id="image-widget">
    <div id="image-upload-wrapper">
    <section id="gallery">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2 id="image-gallery-title">Bildegalleri</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <a href="#upload-pane" class="menu-button" id="upload-button" data-toggle="tab">
                        <div class="row">
                            <i class="fa fa-upload fa-3x fa-align-center"></i>
                        </div>
                        <div class="row caption">
                            Last opp
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#manage-pane" class="menu-button" id="edit-button" data-toggle="tab">
                        <div class="row">
                            <i class="fa fa-edit fa-3x fa-align-center"></i>
                        </div>
                        <div class="row caption">
                            Behandle
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div id="messages"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane fade" id="gallery-pane">
                        {% include "gallery/gallery.html" %}
                    </div>
                    <div class="tab-pane fade in active" id="upload-pane">
                        {% include "gallery/upload.html" %}
                    </div>
                    <div class="tab-pane fade" id="manage-pane">
                        {% include "gallery/edit.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
