{% extends "base.html" %}
{% load compress %}

{% block title %}
    Galleri
{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cropper/cropper.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dropzone/dropzone.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bttrlazyloading/bttrlazyloading.css" />
{% endblock %}

{% block content %}
    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Gallery</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <a href="#gallery__upload-pane" class="menu-button" id="gallery__upload-button" data-toggle="tab">
                            <div class="row">
                                <i class="fa fa-upload fa-3x fa-align-center"></i>
                            </div>
                            <div class="row caption">
                                Last opp
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#gallery__manage-pane" class="menu-button" id="gallery__manage-button" data-toggle="tab">
                            <div class="row">
                                <i class="fa fa-edit fa-3x fa-align-center"></i>
                            </div>
                            <div class="row caption">
                                Behandle
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div id="messages"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="gallery__upload-pane">
                            {% include "gallery/upload.html" %}
                        </div>
                        <div class="tab-pane fade in active" id="gallery__manage-pane">
                            {% include "gallery/edit.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/blazy/blazy.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/cropper/cropper.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/bttrlazyloading/jquery.bttrlazyloading.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/dropzone/dropzone.min.js"></script>
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/dashboard.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/gallery.js"></script>
    {% endcompress %}
{% endblock %}
