{% extends "base.html" %}
{% load compress %}

{% block title %}
    Galleri
{% endblock title %}

{% block content %}
<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Gallery</h2>
               </div>
            </div>
        </div>
        <div class="row">
            {% for image in images %}
            <div class="col-md-3">
                <a href="{{ MEDIA_URL}}{{ image.image_original.name }}">
                    <img src="{{ MEDIA_URL }}{{ image.thumbnail.name }}" alt="{{ image.name }}" title="{{ image.name }}" /></a>
                <br />
                <p>Uploaded at {{ image.timestamp }}</p>
            </div>
            {% endfor %}
       </div>
    </div>
</section>
{% endblock %}
