{% extends "base.html" %}
{% load compress %}

{% block title %}
    Galleri
{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cropper/cropper.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dropzone/dropzone.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bttrlazyloading/bttrlazyloading.css" />
{% endblock %}

{% block content %}
<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Gallery</h2>
               </div>
            </div>
        </div>
        <div class="row">
            {% for image in images %}
            <div class="col-md-3">
                <a href="{{ MEDIA_URL}}{{ image.image_original.name }}">
                    <img src="{{ MEDIA_URL }}{{ image.thumbnail.name }}" alt="{{ image.name }}" title="{{ image.name }}" /></a>
                <br />
                <p>Uploaded at {{ image.timestamp }}</p>
            </div>
            {% endfor %}
       </div>
    </div>
</section>


{% endblock content %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/dropzone/dropzone.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/blazy/blazy.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/cropper/cropper.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/bttrlazyloading/jquery.bttrlazyloading.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
{% endblock %}
