<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oppmøteregistrering</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/rfid.css">
</head>
<body>
<div class="pull-left"><img src="/static/img/online_logo.png" alt="Image" id="event_image"></div>
<div class="pull-right"><img src="/static/img/online_logo.png" alt="" id="logo"/></div>
<div class="container">
    <h1 id="title">Oppmøteregistrering</h1>
    <div class="row">
        <div class="col-md-12">
            <div id="topmessage"></div>
        </div>
    </div><!-- end row -->
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="text" id="input" autofocus placeholder="Skriv inn RFID eller brukernavn..." /><br />
            <p id="total_attendees"></p>
            <button class="btn btn-default" id="toggle_options">Alternativer</button>
        </div><!-- end col -->
    </div><!-- end row -->
    <div class="row" id="options">
        <div class="col-md-12">
            <div class="page-header">
                <h4>Arrangementer</h4>
            </div>
        </div>
        <ul class="nav nav-pills" id="nav">
            
        </ul>
        <div class="col-md-12">
            <h4>Registrerte deltakere</h4>
            <table class="table table-condensed" id="attendees">

            </table>
        </div><!-- end col -->
    </div><!-- end row -->
</div>
</body>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="/static/js/rfid/main.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</html>
