<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oppmøteregistrering</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/rfid.css">
</head>
<body>
<div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a href="/"><img src="/static/img/online_logo.png" alt="" id="onlinelogo" /></a>
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>    
    </div>
    <div class="row">
	<div class="col-md-12">
	    <div id="topmessage"></div>
	</div>
    </div>
    <h1 id="title">Oppmøteregistrering</h1>
    <input class="form-control" type="text" autofocus placeholder="Skriv inn RFID eller brukernavn..." /><br />
    <button class="btn btn-success">Registrer</button>
    <img src="" alt="Image" id="event_image">
    <p id="total_attendees"></p>
    <div>
	<table class="table table-condensed" id="attendees">
	    
	</table>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="/static/js/rfid/main.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</html>
