{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
Interessegrupper - Online
{% endblock title %}

{% block styles %}
	{{ block.super }}
	{% render_bundle 'hobbygroups' 'css' %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% render_bundle 'hobbygroups' 'js' %}
{% endblock %}

{% block content %}

<section id="hobbygroups">
	<div class="container">
		<div class="col-md-12">
			<div class="page-header">
				<h1 id="resourcecenter-heading">Interessegrupper</h1>
			</div>
		</div>

		<div class="row" id="introduction">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-12">
                    <p>
                        På denne siden finner du informasjon om alle de forskjellige interessegruppene i online.
                        Ser du noe som ser interessant ut? Ta kontakt og møt noen med samme interesser som deg.
                        Interessegruppene i Online er grupper for alle mulige slags interesser.
                        Har du og en kompis eller to en sær/stilig/fantastisk interesse? Opprett en interessegruppe!
                    </p>
                </div>
			</div>
		</div>

        <div class="row" id="economic_support">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-12">
                    <h4>Hvordan opprette interessegruppe?</h4>
                    <p>
                        Dersom du har en ide til en interessegruppe sender du en mail til
                        <a href="mailto:seniorkom@online.ntnu.no">seniorkom@online.ntnu.no</a> og melder interesse.<br>
						Det trenger ikke være en lang mail, bare en kort forklaring på hva gruppen skal gjøre. Eneste kravet er at gruppen skal være åpen for alle Onlinere.
                        Du kan lese mer hvordan opprette en interessegruppe
                        <a href="https://online.ntnu.no/wiki/online/info/innsikt-og-interface/interessegrupper/">her</a>.
                    </p>
                    <hr>
					<h4>Hvordan søke om støtte til din interessegruppe?</h4>
                    <p>
                        Du kan søke om økonomisk støtte til din interessegruppe ved å sende en mail til
                        <a href="mailto:seniorkom@online.ntnu.no">seniorkom@online.ntnu.no</a><br>
                        Mer informasjon om hvordan dette gjøres finnes
                        <a href="https://online.ntnu.no/wiki/online/info/innsikt-og-interface/interessegrupper/">her</a>.
                    </p>
                    <hr>
                </div>
			</div>
		</div>

        <div class="row">
        {% for hobby in hobbygroups %}
            {% if not forloop.counter|divisibleby:2 %}
                <div class="row">
            {% endif %}
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="col-md-5">
                        {% if hobby.image %}
                        <img src="{{ hobby.image.md }}" alt="{{ hobby.title }}" />
                        {% endif %}
                    </div>
                    <div class="col-md-7 hobbydescription">
                        <h3>{{ hobby.title }}</h3>
                        <p>
                            {{ hobby.description }}

                        {% if hobby.read_more_link %}
                            <ul>
                                <li><a href="{{ hobby.read_more_link }}">Les mer om oss her!</a></li>
                            </ul>
                        {% endif %}
                        </p>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
            {% endif %}
        {% endfor %}
        </div>

	</div>
</section>

{% endblock content %}
