{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
Interessegrupper - Online
{% endblock title %}

{% block styles %}
	{{ block.super }}
	{% render_bundle 'hobbygroups' 'css' %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% render_bundle 'hobbygroups' 'js' %}
{% endblock %}

{% block content %}

<section id="hobbygroups">
	<div class="container">
		<div class="col-md-12">
			<div class="page-header">
				<h1 id="resourcecenter-heading">Interessegrupper</h1>
			</div>
		</div>

		<div class="row" id="introduction">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-12">
                    <p>
                        På denne siden finner du informasjon om alle de forskjellige interessegruppene i online.
                        Ser du noe som ser interessant ut? Ta kontakt og møt noen med samme interesser som deg.
                        Interessegruppene i Online er grupper for alle mulige slags interesser.
                        Har du og en kompis eller to en sær/stilig/fantastisk interesse? Opprett en interessegruppe!
                        Da kan du finne flere som deler din interesse og har mulighet til å søke om støtte fra hovedstyre.
                    </p>
                    <hr>
                </div>
			</div>
		</div>

		<div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/info.png" alt="Infosider" />
				</div>
				<div class="col-md-7 hobbydescription">
					<h3>Cachekom</h3>
					<p>
						Cachekom er en samlingsarena for onlinere som er interessert i geocaching.
                        Det kreves ingen forkunnskaper for å være med, kun at du liker å lete etter geocacher eller har lyst til å lære.
                        <ul>
							<li><a href="#">Les mer om oss her!</a></li>
					    </ul>
					</p>
				</div>
			</div>
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/hobbygroups/kobkom.png" alt="Brettspill" />
				</div>
				<div class="col-md-7 hobbydescription">
					<h3>Kobkom</h3>
                    <p>
                        Kobkom står for den analoge underholdningen i Online ved å organsiere kort- og brettspillkvelder for informatikere.
                        Disse finner sted sporadisk, og til tider spontant så følg med på facebookgruppen vår!
						<ul>
							<li><a href="https://www.facebook.com/groups/357002807821891/">Besøk facebookgruppen vår her!</a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>

		<div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/hobbygroups/sushi.png" alt="sushi" />
                    <!-- Sushi by slgckgc (2011) https://www.flickr.com/photos/slgc/5644911096/
                         Creative Commons license 2.0 -->
				</div>
				<div class="col-md-7 hobbydescription">
					<h3>Sushikom</h3>
					<p>
						SushiKom, eller Online Stipendsushi, er en nodekomité for alle onlinere som liker sushi.
                        Rundt den 15. hver måned arrangeres det felles tur til et spisested i byen som serverer sushi.
						<ul>
							<li><a href="https://www.facebook.com/groups/394422394075947/">Kom i kontakt med oss her!</a></li>
						</ul>
					</p>
				</div>
			</div>
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/hobbygroups/smash.png" alt="Super Smash" />
				</div>
				<div class="col-md-7 hobbydescription">
					<h3>Smashkom</h3>
					<p>
						Interessegruppa for de som liker å spille Super Smash Bros!
                        Gruppa er spesielt siktet inn mot de som spiller spillet på kontoret på Onlines Wii-U.
						<ul>
							<li><a href="/wiki/online/info/innsikt-og-interface/interessegrupper/smashkom/">Les mer om oss på wikien!</a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/hobbygroups/makrellgutta.jpg" alt="makrell" />
				</div>
				<div class="col-md-7 hobbydescription">
					<h3>Makrellgutta</h3>
					<p>
                        Makrellgutta er interessegruppen for alle som liker markell, tomat eller deres edlere kombinasjon!
                        <ul>
							<li><a href="/wiki/online/info/innsikt-og-interface/interessegrupper/makrellgutta/">Les mer om oss her!</a></li>
					    </ul>
                    </p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/hobbygroups/sport.png" alt="sport" />
				</div>
				<div class="col-md-7 hobbydescription">
					<h3>X-Sport</h3>
					<p>
						Hovedoppgaven til interessegruppen er å få samlet mennesker for å spille squash, dra å kite, låne hall for å spille håndball osv.
                        Dvs. sporter/idretter der man gjerne trenger å være flere for å kunne drive med. Vi skal etterstrebe å ha et arrangement i uken.
                        <ul>
							<li><a href="/wiki/online/info/innsikt-og-interface/interessegrupper/x-sport/">Les mer om oss her!</a></li>
                            <li><a href="https://www.facebook.com/groups/xsportonline/">Du finner oss også på facebook</a></li>
					    </ul>
                    </p>
				</div>
			</div>
		</div>

        <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/hobbygroups/c_sharp.jpeg" alt="c#" />
				</div>
				<div class="col-md-7 hobbydescription">
					<h3>Linjekoret C#</h3>
					<p>
						Linjekoret C# er Online interessegruppen for de som liker å synge, som også er eneste kravet for å være med.
                        Koret er en delt interessegruppe med linjeforeningen Abakus så hvis du har lyst til å
                        bli kjent med personer fra Abakus er dette en gylden mulighet.
                        <ul>
                            <li><a href="/wiki/online/info/innsikt-og-interface/interessegrupper/koret/">Les mer om oss her!</a></li>
					    </ul>
                    </p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/hobbygroups/ontap.png" alt="ontap" />
				</div>
				<div class="col-md-7 hobbydescription">
					<h3>Ontap</h3>
					<p>
                        Vi er en gjeng bryggeinteresserte informatikkstudenter på NTNU!
                        Har du lyst til å være med å brygge Onlines beste øl?
                        <ul>
							<li><a href="/wiki/online/info/innsikt-og-interface/interessegrupper/ontap/">Les mer om oss her!</a></li>
					    </ul>
                    </p>
				</div>
			</div>
		</div>

        <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/hobbygroups/strikk.png" alt="Strikk og Drikk" />
				</div>
				<div class="col-md-7 hobbydescription">
					<h3>Strikk & drikk</h3>
					<p>
						Strikk og drikk er interessegruppen for de strikkeglade sjelene i Online.
                        Om du er mest glad i strikking eller drikking spiller ingen rolle, i denne interessegruppen er det rom for alle og enhver.
                        <ul>
							<li><a href="/wiki/online/info/innsikt-og-interface/interessegrupper/strikkogdrikk/">Les mer om oss her!</a></li>
					    </ul>
                    </p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/hobbygroups/quiz.png" alt="quiz" />
				</div>
				<div class="col-md-7 hobbydescription">
					<h3>Quizline</h3>
					<p>
						Quizline er onlines interessegruppe for quiz.
                        Vi drar på quiz sammen, arrangerer quiz når vi føler for det og har en slack-kanal der vi diskuterer quiz.
                        Bli gjerne med ved å joine #quizline.
                        <ul>
							<li><a href="/wiki/online/info/innsikt-og-interface/interessegrupper/quizline/">Les mer om oss her!</a></li>
					    </ul>
                    </p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}
