{% extends "dashboard_base.html" %}

{% block title %}
    Opprett arrangement | Online Dashboard
{% endblock %}

{% block page-header %}
    Opprett arrangement
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard_events_index' %}">Arrangementer</a></li>
    <li>Nytt arrangement</li>
{% endblock %}


{% block content %}
<div class="col-md-12">
    {% include 'events/dashboard/event_form.html' %}
</div>
{% endblock content %}

{% block js %}
    {{ block.super }}
{% endblock %}
