<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reservasjoner</h3>
            </div>
            <div class="panel-body">
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Hurr </h3>
            </div>
            <div class="panel-body">
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- col-lg-8 -->
</div>
