{% extends "dashboard_base.html" %}
{% load compress %}
{% load crispy_forms_tags %}

{% block title %}
{{ event }} - Dashboard - Online
{% endblock title %}

{% block page-header %}
Arrangementsdetaljer
{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {{ change_event_form.media.css }}
    {{ change_attendance_form.media.css }}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/dashboard/events.less" />
    {% endcompress %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard_events_index' %}">Events</a></li>
    <li>{{ event }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3>{{ event }}</h3>
    </div>
</div>

 <div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#attendees" aria-controls="attendees" role="tab" data-toggle="tab">Påmeldte ({{ event.attendance_event.number_of_seats_taken }})</a>
            </li>
            {% if event.attendance_event.waitlist %}
                <li role="presentation">
                    <a href="#waitlist" aria-controls="waitlist" role="tab" data-toggle="tab">Venteliste ({{ event.attendance_event.number_on_waitlist }})</a>
                </li>
            {%  endif %}
            {%  if event.attendance_event.has_reservation %}
                <li role="presentation">
                    <a href="#reservees" aria-controls="reservees" role="tab" data-toggle="tab">Reservasjoner ({{ event.attendance_event.number_of_reserved_seats }})</a>
                </li>
            {%  endif %}
            {%  if event.attendance_event.has_extras %}
                <li role="presentation">
                    <a href="#extra" aria-controls="extra" role="tab" data-toggle="tab">Ekstra</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

<br />

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="attendees">
        {%  include "events/dashboard/details/attendees.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="waitlist">
        {%  include "events/dashboard/details/waitlist.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="reservees">
        {%  include "events/dashboard/details/reservation.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="extra">
        {%  include "events/dashboard/details/extra.html" %}
    </div>
</div>

{% endblock content %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    {{ change_event_form.media.js }}
    {{ change_attendance_form.media.js }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/hogan-2.0.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/typeahead.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/events.js"></script>
    {% endcompress %}
{% endblock %}
