{% extends "dashboard_base.html" %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}
{{ event }} - Dashboard - Online
{% endblock title %}

{% block page-header %}
Arrangementsdetaljer
{% endblock %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'dashboardEvents' 'css' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard_events_index' %}">Arrangementer</a></li>
    <li>{{ event }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3>{{ event }}</h3>
    </div>
</div>

 <div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Detaljer</a>
            </li>
            {% if event.attendance_event %}
                <li role="presentation">
                    <a href="#attendees" aria-controls="attendees" role="tab" data-toggle="tab">Påmelding ({{ event.attendance_event.number_of_seats_taken }}/{{ event.attendance_event.max_capacity }})</a>
                </li>
            {% else %}
                <li role="presentation">
                    <a href="#create-attendance" aria-controls="create-attendance" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Legg til påmelding</a>
                </li>
            {% endif %}
            {% if event.attendance_event.waitlist %}
                <li role="presentation">
                    <a href="#waitlist" aria-controls="waitlist" role="tab" data-toggle="tab">Venteliste ({{ event.attendance_event.number_on_waitlist }})</a>
                </li>
            {%  endif %}
            {%  if event.attendance_event.has_reservation %}
                <li role="presentation">
                    <a href="#reservees" aria-controls="reservees" role="tab" data-toggle="tab">Reservasjoner ({{ event.attendance_event.number_of_reserved_seats }})</a>
                </li>
            {% elif event.attendance_event and not event.attendance_event.has_reservations and False %}
                <li role="presentation">
                    <a href="#create-reservation" aria-controls="create-reservation" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Legg til reservasjoner</a>
                </li>
            {%  endif %}
            {%  if event.attendance_event.has_extras %}
                <li role="presentation">
                    <a href="#extra" aria-controls="extra" role="tab" data-toggle="tab">Ekstra</a>
                </li>
            {% endif %}
            {% if event.attendance_event and not event.attendance_event.has_feedback %}
                <li role="presentation">
                    <a href="#create-feedback" aria-controls="create-feedback" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Legg til tilbakemeldingsskjema</a>
                </li>
            {% elif event.attendance_event and event.attendance_event.has_feedback %}
                <li role="presentation">
                    <a href="#feedback" aria-controls="feedback" role="tab" data-toggle="tab">Tilbakemeldingsskjema</a>
                </li>
            {% endif %}
            {%  if payment_prices %}
                <li role="presentation">
                    <a href="#payment-summary" aria-controls="payment-summary" role="tab" data-toggle="tab">Betalingsoppsumering</a>
                </li>
            {% elif event.attendance_event and not payment_prices and False %} {# Not ready to be implemented yet. #}
                <li role="presentation">
                    <a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">{% if not event.attendance_event.get_payment %}<i class="fa fa-plus"></i> Legg til betaling{% else %}Betalingsoversikt{% endif %}</a>
                </li>
            {% endif %}
            <li role="presentation">
                <a href="#company" aria-controls="company" role="tab" data-toggle="tab">Bedrifter</a>
            </li>
        </ul>
    </div>
</div>

<br />

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="detail">
        {%  include "events/dashboard/details/details.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="attendees">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#attendance-form">Påmeldingsinformasjon <i class="fa fa-chevron-down"></i></a>
              </h4>
            </div>
            <div id="attendance-form" class="panel-collapse collapse">
              <div id="update-attendance-view" class="panel-body"></div>
            </div>
          </div>
        </div>
        {%  include "events/dashboard/details/attendees.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="create-attendance">
        <div id="create-attendance-view"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="waitlist">
        {%  include "events/dashboard/details/waitlist.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="reservees">
        {%  include "events/dashboard/details/reservation.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="feedback">
        {% include "events/dashboard/details/feedback.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="create-feedback">
        <div id="add-feedback-view"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="extra">
        {%  include "events/dashboard/details/extra.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="payment-summary">
        {%  include "events/dashboard/details/payment_summary.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="payment">
        {% if event.attendance_event.get_payment %}
            {% include "events/dashboard/details/payment_prices.html" %}
        {% endif %}
        <p>
            Du trenger kun å fylle ut ett av feltene "Frist" og "Utsettelse". Hvilket du fyller ut avhenger av betalingstypen du velger.
            Velger du "frist" må du sette en betalingsfrist.
            Velger du "utsettelse" må du oppgi antall dager utsettelse deltakeren får i antall dager etter deltakeren melder seg på arrangementet.
        </p>
        <div id="add-payment-view"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="company">
        {% include "events/dashboard/details/company.html" %}
        <div id="add-company-view"></div>
    </div>
</div>

{% endblock content %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {{ block.super }}
    {% render_bundle 'dashboardEvents' 'js' %}
    <script>
        // Update details view form with action attribute
        $('#create-event-form').attr('action', "{% url 'dashboard_events_edit' event.id %}")
        // Fetch the form used for creating an attendanceevent
        $('#create-attendance-view').load("{% url 'dashboard_event_create_attendance' event.id %}", function() {
          // Update create attendanceevent form with action attribute
          $('#create-attendance-form').attr('action', "{% url 'dashboard_event_create_attendance' event.id %}")
          window.dispatchEvent(new Event('activateDateTimePickers'));
        })
        $('#update-attendance-view').load("{% url 'dashboard_events_edit_attendance' event.id %}", function() {
          $('#update-attendance-view').find('form').attr('id', 'update-attendance-form')
          // Update create attendanceevent form with action attribute
          $('#update-attendance-form').attr('action', "{% url 'dashboard_events_edit_attendance' event.id %}")
          window.dispatchEvent(new Event('activateDateTimePickers'));
        })
        $('#add-company-view').load("{% url 'dashboard_events_add_company' event.id %}", function() {
          $('#add-company-view').find('form').attr('id', 'add-company-form')
          $('#add-company-form').attr('action', "{% url 'dashboard_events_add_company' event.id %}")
          window.dispatchEvent(new Event('activateDateTimePickers'));
        })
        $('#add-feedback-view').load("{% url 'dashboard_events_add_feedback' event.id %}", function() {
          $('#add-feedback-view').find('form').attr('id', 'add-feedback-form')
          $('#add-feedback-form').attr('action', "{% url 'dashboard_events_add_feedback' event.id %}")
          window.dispatchEvent(new Event('activateDateTimePickers'));
        })
        {% if not event.attendance_event.get_payment and False %}
        $('#add-payment-view').load("{% url 'dashboard_events_add_payment' event.id %}", function() {
          $('#add-payment-view').find('form').attr('id', 'add-payment-form')
          $('#add-payment-form').attr('action', "{% url 'dashboard_events_add_payment' event.id %}")
          window.dispatchEvent(new Event('activateDateTimePickers'));
        })
        {% elif False %}
        $('#add-payment-price-view').load("{% url 'dashboard_events_add_payment_price' event.id event.attendance_event.get_payment.pk %}", function() {
          $('#add-payment-price-view').find('form').attr('id', 'add-payment-price-form')
          $('#add-payment-price-form').attr('action', "{% url 'dashboard_events_add_payment_price' event.id event.attendance_event.get_payment.pk %}")
        })
        {% endif %}
    </script>
{% endblock %}
