{% extends "dashboard_base.html" %}
{% load compress %}

{% block title %}
Event index - Dashboard - Online
{% endblock title %}

{% block page-header %}
Arrangementsoversikt
{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/dashboard/events.less" />
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/dashboard/events.js"></script>
    {% endcompress %}
{% endblock js %}

{% block breadcrumbs %}
    <li>Arrangementer</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <p>
          <a href="{% url 'dashboard_event_create' %}" class="btn btn-success">Opprett arrangement</a>
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Arrangement</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed tablesorter" id="upcoming_events_list">
                    <thead>
                        <tr>
                            <th>Tittel</th>
                            <th>Plasser</th>
                            <th>Starttid</th>
                            <th>Påmeldingsstart</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td><a href="{% url 'dashboard_event_details' event.id %}">{{ event }}</a></td>
                            <td>
                                {% if event.is_attendance_event %}
                                    {{ event.attendance_event.number_of_seats_taken }}/{{ event.attendance_event.max_capacity }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {{ event.event_start|date:"Y-m-d H:i" }}
                            </td>
                            <td>
                                {% if event.is_attendance_event %}
                                    {{ event.attendance_event.registration_start|date:"Y-m-d H:i" }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ event.get_event_type_display }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
