{% extends 'base.html' %}

{% load sekizai_tags %}
{% load i18n wiki_tags %}
{% load compress %}

{% block title %}
{% block wiki_pagetitle %}{% endblock %}
{% endblock title %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script src="{{ STATIC_URL }}wiki/js/core.js"></script>
    {% endcompress %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/wiki.less" />
    {% endcompress %}
{% endblock %}

{% block content %}
    <section id="wiki">
        {% block wiki_body %}
            <div class="container">
                <div class="row" id="topbar">
                    <div class="col-xs-8">
                        {% block wiki_breadcrumbs %}{% endblock %}
                    </div>
                    <div class="col-xs-4">
                        <form action="/wiki/_search">
                            <div class="input-group">
                                <input name="q" type="text" class="form-control" placeholder="Søk...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"><span class="fa fa-search"></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                {% block wiki_contents %}{% endblock %}
            </div>
        {% endblock %}
    </section>
{% endblock %}
