{% extends 'base.html' %}

{% load static %}
{% load sekizai_tags %}
{% load i18n wiki_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}
{% block wiki_pagetitle %}{% endblock %}
{% endblock title %}

{% block js %}
    {{ block.super }}
    <script src="{% static "wiki/js/jquery.min.js" %}"></script>
    <script src="{% static "wiki/js/core.js" %}"></script>
    <script src="{% static "wiki/bootstrap/js/bootstrap.min.js" %}"></script>
    {% render_bundle 'wiki' 'js' %}
    {% render_block "js" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
     <link href="{{ STATIC_URL }}wiki/bootstrap/css/wiki-bootstrap.min.css" rel="stylesheet">
    {% render_bundle 'wiki' 'css' %}
    {% render_block "css" %}
{% endblock %}

{% block content %}
    <section id="wiki">
        {% block wiki_body %}
            <div class="container">
                <div class="row" id="topbar">
                    <div class="col-xs-8">
                        {% block wiki_breadcrumbs %}{% endblock %}
                    </div>
                    <div class="col-xs-4">
                        <form action="/wiki/_search">
                            <div class="input-group">
                                <input name="q" type="text" class="form-control" placeholder="Søk...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"><span class="fa fa-search"></span></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                {% block wiki_contents %}{% endblock %}
            </div>
        {% endblock %}
    </section>
{% endblock %}
