body {
  font: 15px/23px 'Ubuntu', arial, serif;
  font-weight: 300;
  background: #001932 url(/static/img/splash/splash.jpg) no-repeat center center fixed;
  color: #e5e5e5;
}

/* Headers
------------------------------------------------------------ */
h1 { font-size: 25px; font-weight: bold; margin: 0 0 4px 0; color: #fff; }
h2 { font-size: 16px; font-weight: bold; line-height: 18px; }
h3 { font-weight: bold; font-size: 14px; color: #FFF; margin: 0 0 5px 0; }
h5 { font-weight: bold; margin: 0 0 8px 0; font-size: 14px; }
h5.kurs { border-top: 1px dotted #888; padding: 15px 0; }
h6 { font-weight: bold; margin: 0 0 5px 0; }


p {
  margin: 0 0 15px 0;
}
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #72afec;
}
a:hover {
  color: #2f6397;
}
#container {
  width: 960px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


nav {
  clear: both;
  margin: 0 0 0 55px;
  font-size: 11px;
  height: 10px;

}
nav li {
  float: left;
  margin: 0 25px 0 0;
  text-align: center;
}
nav li a {
  border-top: 2px solid #888;
  width: 120px;
  display: block;
  color: #888;
  text-decoration: none;
}
nav a.on,
nav a:hover {
  color: #ddd; /* #ddd */
  border-color: #ddd; /* #ddd */
  cursor: pointer;
}
nav #hovedsiden {
  color: orange;
  border-color: orange;
  font-weight: bold;
}

nav #hovedsiden:hover {
  color: #fff;
  border-color: #fff;
}

article {
  height: 420px;
  width: 600px;
  float: right;
}
p.top {
  margin-top: 120px;
}

article h1 {
  margin-top: 140px;
  margin-bottom: 10px;
}

body {

}
img.logo {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -150px;
}

.hidden {
  display: none;
}

footer {
  margin: 45px 0 0 0;
  clear: both;
  text-align: center;
}

footer p {
  font-size: 11px;
  color: #314d63;
}





.online {
  background: url(/static/img/splash/logo3.png) no-repeat 0 100px;
  background-size: 350px;
  height: 370px;
}
.join {
  background: url(/static/img/splash/blimed.png) no-repeat 0 40px;
  height: 400px;
}
.fadderukene {
  background: url(/static/img/splash/fadderukene.png) no-repeat 0 30px;
  height: 400px;
}
.mer {
  background: url(/static/img/splash/mer.jpg) no-repeat 0 100px;
  background-size: 350px;
  width: 890px;
}

.mer .left,
.mer .mid,
.mer .right,
.bedrift {
  font-size: 12px;
}
.mer .left,
.mer .mid {
  width: 200px;
}

.mer .left {
  float: left;
}
.mer .mid {
  float: left;
  margin: 0 0 0 15px;
}
.mer .right {
  float: left;
  margin: 0 0 0 15px;
}

.mer p {
  line-height: 20px;
}






#social {
  padding: 0 20px 20px 20px;
  font-size: 12px;
  margin: 0 0 0 10px;
}

#social p.contact {
  width: 380px;
  padding: 15px 0;
  clear: both;
  border-top: 1px dotted #888;
  margin: 85px 0 0 0;
}


#facebook,
#twitter {
  float: left;

}

#facebook p,
#twitter p {

  text-transform: uppercase;
  font-weight: bold;
  color: #eee;
  font-size: 11px;
}

a#facebook {
  width: 160px;
  height: 55px;
  background: transparent url(/static/img/splash/facebook.png) no-repeat;
  margin-right: 20px;
}

#facebook_inner,
#twitter_inner {
  padding: 10px 10px 10px 20px;
  color: #FFF;
}

a#twitter {
  width: 160px;
  height: 55px;
  background: transparent url(/static/img/splash/twitter.png) no-repeat;
}
a:hover#twitter {
  background: transparent url(/static/img/splash/twitter_hover.png) no-repeat;
}

a:hover#facebook {
  background: transparent url(/static/img/splash/facebook_hover.png) no-repeat;
}

.mid_text {
  float: left;
  margin: 15px 18px 0 0;
}





article.cal {
  width: 900px;
}

.cal-left,
.cal-right {
  height: 360px;
}
.cal-left {
  margin: 50px 0;
  float: left;
  width: 279px;
  font-size: 11px;
  font-weight: 100;
  font-family: helvetica, sans-serif;
}
.subtext {
  float: right;
  font-size: 12px;
}
.cal-right {
  margin: 50px 0;
  box-sizing: border-box;
  padding: 0 20px 0 21px;
  font-size: 12px;
  line-height: 20px;
  overflow-y: auto;
  overflow-x: hidden;
    width: 580px;
}

.cal-left ul {
  font-size: 12px;
  position: absolute;
  width: 279px;

}
.cal-left ul li {
  background: url(/static/img/splash/gradient.png);
  height: 78px;
  width: 92px;
  float: left;
  margin: 0 1px 1px 0;
  font-weight: bold;
  padding: 4px 0 0 0;
  box-sizing: border-box;
}
.cal-left ul li span {
  text-align: center;
  display: block;
  color: #ff7800;
}
.cal-left ul li span span {
  font-size: 38px;
  margin: 1px 0 0 0;
  color: #FFF;
}
.cal-left ul li:last-child,
.cal-left ul li.inactive {
  border: none;
}
.cal-left ul li.active {
  background: rgba(0, 0, 0, 0.8);

}
.cal-left ul li.inactive,
.cal-left ul li.inactive:hover {
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0);
  cursor: auto;
}


.cal-left ul li:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.cal-right h2 {
  padding: 35px 0 0 0;
  margin: 0 0 10px 0;
  color: #FFF;
}

.cal li article {
  display: none;
}

article.cal h1 {
  position: absolute;
  top: -100px;
  right: 40px;
  font-size: 32px;
  margin-top: 110px;
}

article.cal h4 {
  color: #ff7800;
}

/* Calendar export */
#export {
  position: absolute;
  margin-top: 5px;
}

#export a {
  margin: 3px;
}


#guide_background {
  font: 11px/18px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


#guide {
  width: 800px;
  height: 500px;

  position:absolute;
    z-index:1;
    overflow: auto;

  top: 50%;
  left: 50%;
  margin: -250px 0 0 -400px;
  background: #FFF url(/static/img/splash/concrete.png);
}
.guide_inner {
  padding: 40px 40px;
  color: #444;
  font-size: 12px;
  line-height: 18px;

}
.guide_inner ul li {
  list-style: disc;
  margin: 0 0 0 15px;
}

.guide_inner ul{
  margin-bottom: 15px;
}

.guide ul {
  margin: 0 0 15px 0;
}
.guide_close {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -262px -410px 0 0;
  cursor: pointer;
  z-index: 10;
}


/* Footer
------------------------------------------------------------ */
#footer_online {
  font-size: 23px;
  position: relative;
  top: 43px;
  left: 300px;
  width: 200px;
}
#footer_online span {
  display: block;
  font-size: 12px;
}
#footer_online img { float: right; }
#footer_online a {
  color: #FFF;
}
#footer_online a:hover {
  color: #AAA;
}
.visma {
  margin: 0 0 0 0;
}
#main-partner {

}

/* Utils
------------------------------------------------------------ */
.clear { clear: both; }


#cal-content::-webkit-scrollbar {
    -webkit-appearance: none!important;
    width: 7px!important;
}
#cal-content::-webkit-scrollbar-thumb {
    border-radius: 4px!important;
    background-color: rgba(0,0,0,.5)!important;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5)!important;
}






#partners {
  margin: 30px 0 0 0;
  position: relative;
}
#partners h1 {
  font-size: 11px;
  font-weight: 100;
  margin: 0 0 20px 0;
}
#partners img {
  padding: 0 20px;
}
#partners a img {
  opacity: 0.5;
}
#partners a:hover img {
  opacity: 1.0;
}

.gold-partner {
  position: relative;
  top: -15px;
}
.gold-partner img {
  height: 50px;
}
.partners_steria {
  height: 35px!important;
  margin-bottom: -5px;
}

.partners {
  position: relative;
  top: -20px;
  margin-bottom: -20px;
}

.partners img {
  height: 120px;
}

.partners_knowit {
  height: 30px;
}
.partners_computas {
  height: 40px;
}
.partners_makingwaves{
  height: 30px;
}

.partners_bouvet {
  height: 30px;
}

