{% extends "dashboard_base.html" %}
{% load render_bundle from webpack_loader %}
{% load addcss %}
{% load crispy_forms_tags %}

{% block title %}
Slett - Online Dashboard
{% endblock title %}

{% block page-header %}
Webshop - Slett
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard-webshop:index' %}">Webshop</a></li>
    <li>Slett</li>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger"><i class="fa fa-times"></i> Slett</button>
    <a href="javascript:history.back()" class="btn btn-primary">Gå tilbake</a>
</form>
{% endblock content %}
