{% extends "dashboard_base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
Webshop - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'dashboardWebshop' 'css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% render_bundle 'dashboardWebshop' 'js' %}
{% endblock %}

{% block page-header %}
Webshop
{% endblock %}

{% block breadcrumbs %}
    <li>Webshop</li>
{% endblock %}

{% block content %}
Webshop oversikt kommer her™
{% endblock content %}
