{% extends "dashboard_base.html" %}
{% load compress %}

{% block title %}
Bestillinger - Online Dashboard
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block page-header %}
Webshop
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard-webshop:index' %}">Webshop</a></li>
    <li>Bestillinger</li>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Bestillinger</h3>
    </div>
    <div class="panel-body">
        <p>Oversikt over bestillinger</p>
        <table class="table table-striped table-condensed tablesorter" id="webshop_order_list">
            <thead>
                <tr>
                    <th>Produkter</th>
                    <th>Kunde</th>
                    <th>Antall produkter</th>
                    <th>Pris</th>
                    <th>Tidspunkt</th>
                    <th>Utlevert</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{% url 'dashboard-webshop:order' pk=order.pk %}">
                    {% for product in order.orders.all %}
                        {{ product }}
                    {% endfor%}
                    </a></td>
                    <td>{{ order.user }}</td>
                    <td>{{ order.count_orders }}</td>
                    <td>{{ order.subtotal }}</td>
                    <td>{{ order.datetime }}</td>
                    <td>{{ order.delivered|yesno:"Ja,Nei" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
