{% extends "base.html" %}

{% block content %}

	<section id="album">
            <div class="container">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>{{ album.title}}</h1>
                    </div>
                </div>

                {%  for photo in photos %}
		            A photo here

                     <img src="{{ MEDIA_URL }}" alt="{{ photo.photo }}" style="width: 150px">
		        {% endfor  %}

                <img src="onlineweb4/uploaded_media/images/photo_album/dog1.jpeg" style="width: 150pc">
            </div>
    </section>
{% endblock content %}
