{% extends "base.html" %}

{% block content %}

	<section id="album">
            <div class="container">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>{{ album.title}}</h1>
                    </div>
                </div>

                {%  for photo in photos %}
                     <img src="{{MEDIA_URL}}{{ photo.photo}}" alt="{{ photo.photo }}" style="width: 150px">
		        {% endfor  %}
            </div>
    </section>
{% endblock content %}
