{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load render_bundle from webpack_loader %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'photoalbum' 'css' %}
{% endblock %}

{% block content %}
 	<section id="create_album">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <ul class="nav nav-pills">
              <li class="pull-left">
                <h1>Lag nytt album</h1>
              </li>
              <li class="pull-right active">
                <a href="{% url 'albums_list' %}">
                  <span class="fa fa-edit">
                     Tilbake
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
      	<div class="col-md-6">
		      <form enctype="multipart/form-data" action="{% url 'create_album' %}" method="post">
            {% csrf_token %}

            <div class="form-group">
              {{ form.title.label_tag }}
              {% render_field form.title class="form-control" %}
            </div>
            <div class="form-group">
              {{ form.tags.label_tag }}
              {% render_field form.tags class="form-control" %}
            </div>
            <div class="form-group">
              <label class="btn btn-default">
                Last opp bilder
                {% render_field form.photos class="form-control hidden" %}
              </label>
            </div>

            <button class="btn btn-success" type="submit">
            	Opprett album
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
