{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block styles %}
		{{ block.super }}
		{% render_bundle 'photoalbum' 'css' %}
{% endblock %}

{% block js %}
		{{ block.super }}
		{% render_bundle 'photoalbum' 'js' %}
{% endblock %}

{% block content %}
	<section id="create_album">
		<div class="container">
      <div class="row">
  			<div class="col-md-12">
  				<div class="page-header">
  					<ul class="nav nav-pills">
              <li class="pull-left">
                  <h1> Endre album</h1>
              </li>
              <li class="pull-right active">
                <a href="{% url 'albums_list' %}">
                  <span class="fa fa-edit">
                     Tilbake
                  </span>
                </a>
              </li>
          	</ul>
  				</div>
        </div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<form enctype="multipart/form-data" action="{% url 'edit_album' pk=album.pk%}" method="post">
						{% csrf_token %}
						{{ edit_form|crispy }}
						<button class="btn btn-primary" type="submit" name="edit_album">
							Lagre
						</button>
					</form>
				</div>
			</div>
			
      <div class="row">
        <div class="col-md-6">
          <form enctype="multipart/form-data"  action="{% url 'edit_album' pk=album.pk %}" method="post">
            {% csrf_token %}
            <br>
            <label class="btn btn-primary">
              <span class="glyphicon glyphicon-image"></span>
              Last opp
              <input type="file" name="upload_photos" multiple class="hidden" id="id_photos" onchange="this.form.submit()">
            </label>
          </form>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <form action="{% url 'edit_album' pk=album.pk %}" method="post" >
          {% csrf_token %}
            {% for photo in photos %}
              <label>
                <input type="checkbox" class="hidden_checkbox" name="photos[]" value="{{ photo.id }}">
                <div class="tiny">
                  <div class="flex_div">
                    <img src="{{MEDIA_URL}}{{ photo.photo}}" alt="{{ photo.photo }}" class="photo photo_edit">
                  </div>
                </div>
              </label>
            {% endfor  %}
            <br>
            <button class="btn btn-primary" type="submit" name="delete_photos">
              <span class="glyphicon glyphicon-trash"></span>
              Slett bilder
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
