{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load addcss %}
{% load render_bundle from webpack_loader %}

{% block title %}
Kontakt oss - Online
{% endblock title %}

{% block content %}

<section id="contact">
	<div class="container">
		<div class="col-md-12">
			<div class="page-header">
				<h1 id="resourcecenter-heading">Kontakt oss</h1>
			</div>
		</div>

		<div class="row" id="introduction">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-12">
                    <p>
                        Her kan du kontakte HS eller dotkom.
                    </p>
                    <hr>
                </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<form method="POST" id="contact_form" action="{% url 'submit' %}">
					{% csrf_token %}
						{{ form.contact_name|addclass:"form-control" }}
						{{ form.contact_email|addclass:"form-control" }}
						{{ form.content|addclass:"form-control" }}
						<button class="btn btn-success" id="submitContactForm" type="submit">Send</button>
				</form>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
</section>

{% endblock content %}
