{% extends "base.html" %}
{% load markup %}
{% load fb_versions %}
{% block content %}

<section id="company">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="page-header">
					<h2>{{ company.name }}</h2>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span7">
				<div class="ingress">
					{{ company.short_description|striptags|markdown }}
				</div>
				<div class="content">
					{{ company.long_description|striptags|markdown }}
				</div>
			</div>
			<div class="span5">
				<img src="{% version company.image 'companies_main' %}" alt="" />
			</div>
		</div>
	</div>
</section>
{% endblock %}