
{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load fb_versions %}

{% block title %}
{{ company.name }} - Online
{% endblock title %}

{% block content %}

<section id="company">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="page-header">
					<h2>{{ company.name }}</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
				<div class="ingress">
					{{ company.short_description|striptags|markdown }}
				</div>
				<div class="content">
					{{ company.long_description|striptags|markdown }}
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
				<picture>
						<source srcset="{{ company.image.lg }}" media="(max-width: 768px)">
						<img src="{{ company.image.md }}" width="100%" alt=""/>
				</picture>
                {% if company.site or company.email_address or company.phone_number %}
                <div class="contactinfo">
                    {% if company.site %}
                    <p><i class="glyphicon glyphicon-globe"></i><a href="{{ company.site }}" title="{{ company.name }}">{{ company.site|markdown }}</a></p><br/>
                    {% endif %}
                    {% if company.email_address %}
                    <p><i class="glyphicon glyphicon-envelope"></i><a href="mailto:{{ company.email_address }}" title="{{ company.name }}">{{ company.email_address }}</a></p><br/>
                    {% endif %}
                    {% if company.phone_number %}
                    <p><i class="glyphicon glyphicon-phone-alt"></i>{{ company.phone_number }}</p>
                    {% endif %}
                </div>
                {% endif %}

			</div>
		</div>
	</div>
</section>
{% endblock %}
