{% load compress %}
{% load sekizai_tags %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Online er linjeforeningen for informatikkstudentene ved NTNU. Våre studenter går Bachelor- eller Mastergradstudium i informatikk.">
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}mimg/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}mimg/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}mimg/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}mimg/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}mimg/favicon-16x16.png" sizes="16x16">
    <meta name="theme-color" content="#005fa2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/core.less">
        {% endcompress %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
    {% render_block "css" %}
    {% block apple-webapp %}{% endblock %}
</head>
<body>
    <nav id="mainnav">
        <div class="container">
            <ul class="mn-collapse">
                <li>
                    <button id="mainnav-button">
                        <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="mn-svg" enable-background="new 0 0 96 96">
                            <rect width="32" height="4" x="32" y="46" class="mn-svg-rect-top"></rect>
                        </svg>
                        <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="mn-svg" enable-background="new 0 0 96 96">
                            <rect width="32" height="4" x="32" y="46" class="mn-svg-rect-bottom"></rect>
                        </svg>
                    </button>
                </li>
                <li>
                    <a href="{% url 'home' %}">
                        <img src="{{ STATIC_URL }}img/online_logo.svg" alt="Online" class="online-logo">
                    </a>
                </li>
            </ul>
            <ul class="mn-nav">
                <li><a class="online-logo-link" href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/online_logo.svg" alt="Online"></a></li>
                <li><a href="{% url 'events_index' %}">Arkiv</a></li>
                <li><a href="{% url 'careeropportunity_index' %}">Karriere</a></li>
                <li><a href="{% url 'resourcecenter_index' %}">Ressurser</a></li>
                <li><a href="/wiki/">Wiki</a></li>
                <li><a href="/webshop/">Webshop</a></li>
            </ul>
            <ul class="mn-user-nav">
            {% if user.is_authenticated %}
                <li>
                    <a href="#login_menu" class="dropdown-toggle dropdown-signin login glyphicon glyphicon-user" data-toggle="dropdown"></a>
                    <span class="username_menu hidden-xs hidden-sm hidden-md">{{ user.username }}</span>

                    <ul class="dropdown-menu login-box" role="menu">

                        {% if user.is_staff %}
                            <li><a href="/admin/">Administrasjon</a></li>
                        {% endif %}
                        {% if user.is_committee %}
                            <li><a href="/dashboard/">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{% url 'profiles' %}">Min side<span class="hidden-lg">: {{ user.username }}</span></a></li>
                        <li><a href="{% url 'profiles_user_search' %}">Finn brukere</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'auth_logout' %}">Logg ut</a></li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="#login_menu" class="dropdown-toggle dropdown-signin login glyphicon glyphicon-lock" data-toggle="dropdown"></a>
                    <ul class="dropdown-menu login-box" role="menu">
                        <li>
                            <form class="navbar-form" method="POST" action="{% url 'auth_login' %}">
                                {% csrf_token %}
                                <fieldset class="textbox">
                                    <div class="input-group">
                                        <label for="id_username">Brukernavn</label>
                                        <input type="text" name="username" id="id_username" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <label for="id_password">Passord</label>
                                        <input type="password" name="password" id="id_password" class="form-control">
                                    </div>
                                </fieldset>
                                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                                <button type="submit" class="btn btn-primary">Logg inn</button>
                            </form>
                            <div id="login-form-btn-group">
                                <a class="btn btn-default" href="{% url 'auth_register' %}">Registrer</a>
                                <a class="btn btn-default" href="{% url 'auth_recover' %}">Glemt passord</a>
                            </div>
                        </li>
                    </ul>
                </li>
            {% endif %}

            </ul>

            <div id="main-sponsor">
                <a href="http://www.soprasteria.no/">
                    <img class="ms-img" src="{{ STATIC_URL }}img/soprasteria.svg" alt="Hovedsamarbeidspartner - Sopra Steria">
                </a>
                <span class="ms-span">Hovedsamarbeidspartner</span>
            </div>
            </ul>
        </div>
    </nav>

    {% block submenu %}{% endblock %}


    {% if messages %}
        <div class="container messages">
            <div class="row">
                <div class="message-container col-md-12">
                    {% for message in messages %}
                        <div class="alert {{ message.level_tag }}" {{ message.extra_tags }}>
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% block content %}{% endblock %}

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="row row-space">
                        <div class="col-md-12 footer-social">
                            <a href="http://facebook.com/LinjeforeningenOnline" class="socialIcon-link">
                                <img src="{{ STATIC_URL }}img/social/facebook.svg" alt="Facebook">
                            </a>
                            <a href="http://twitter.com/Online_NTNU" class="socialIcon-link">
                                <img src="{{ STATIC_URL }}img/social/twitter.svg" alt="Twitter">
                            </a>
                            <a href="https://www.instagram.com/online_ntnu/" class="socialIcon-link">
                                <img src="{{ STATIC_URL }}img/social/instagram.svg" alt="Instagram">
                            </a>
                            <a href="https://www.github.com/dotkom/" class="socialIcon-link">
                                <img src="{{ STATIC_URL }}img/social/github.svg" alt="Github">
                            </a>
                            <a href="https://plus.google.com/107294836198591872251" class="socialIcon-link">
                                <img src="{{ STATIC_URL }}img/social/gpluss.svg" alt="Google Plus">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Har du funnet en feil på nettsiden?<br>Ta kontakt med <a href="mailto:dotkom@online.ntnu.no">Utviklingsteamet</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-info">
                                 <div class="contact-item">
                                    <span class="glyphicon glyphicon-briefcase"></span>992 548 045 (OrgNr)
                                </div>
                                <div class="contact-item">
                                    <span class="glyphicon glyphicon-envelope"></span>kontakt@online.ntnu.no
                                </div>
                                <div class="contact-item">
                                    <span class="glyphicon glyphicon-phone"></span>73 59 64 89
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="address">
                                <div class="address-heading">Besøksadresse <span class="glyphicon glyphicon-map-marker"></span></div>
                                <div class="address-info">
                                    Rom 303<br>
                                    Høgskoleringen 3<br>
                                    NTNU Gløshaugen
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="address">
                                <div class="address-heading">Postadresse <span class="glyphicon glyphicon-map-marker"></span></div>
                                <div class="address-info">
                                    Online Linjeforening<br>
                                    Sem Sælandsv. 7-9<br>
                                    7034 Trondheim<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div id="footer-map"></div>
                </div>
            </div>
        </div>
    </section>

    {% block js %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
        <script src="{{ STATIC_URL }}js/libs/jquery-2.1.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/underscore.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/moment.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
        <script src="{{ STATIC_URL }}django_js_reverse/js/reverse.js"></script>
        <script src="{{ STATIC_URL }}js/libs/picturefill.min.js"></script>
        {% compress js %}
        <script src="{{ STATIC_URL }}js/libs/jquery.debouncedresize.js"></script>
        <script src="{{ STATIC_URL }}js/libs/fastclick.js"></script>
        <script src="{{ STATIC_URL }}js/init.js"></script>
        <script src="{{ STATIC_URL }}js/microevent.js"></script>
        {% endcompress %}
        <script src="{{ STATIC_URL }}js/libs/konami.js"></script>
        <script src="{{ STATIC_URL }}js/christmas.js"></script>
        {% render_bundle 'vendor' %}
    {% endblock %}

    {% render_block "js" %}

    {% if GOOGLE_ANALYTICS_KEY %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_KEY }}']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
    </body>
</html>
