{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Online er linjeforeningen for informatikkstudentene ved NTNU. Våre studenter går Bachelor- eller Mastergradstudium i informatikk.">
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/font-awesome-4.2.0/font-awesome.less">
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/dashboard/main.less">
        {% endcompress %}
    {% endblock %}
</head>
<body>
    <nav id="dashboard_main_nav">
        <span class="sidebar-center">
            <a href="/"><img src="{{ STATIC_URL }}img/online_logo.svg" alt="Online" id="online-logo"></a>
        </span>
        <span class="pull-right" id="sidebar_toggle" data-toggle="offcanvas"><i class="fa fa-bars fa-lg"></i></span>
    </nav>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar topspacing">
                <br />
                <h4 class="center-text"><small>Velkommen</small><br />{{ request.user.first_name }}</h4>
                <ul class="sidebar-menu">
                    {% block sidebar %}
                    <li class="active">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/widgets.html">
                            <i class="fa fa-th"></i> <span>Widgets</span> <small class="badge pull-right bg-green">new</small>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>Charts</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
                            <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
                            <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>UI Elements</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
                            <li><a href="pages/UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
                            <li><a href="pages/UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
                            <li><a href="pages/UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
                            <li><a href="pages/UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Forms</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a></li>
                            <li><a href="pages/forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced Elements</a></li>
                            <li><a href="pages/forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Tables</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/tables/simple.html"><i class="fa fa-angle-double-right"></i> Simple tables</a></li>
                            <li><a href="pages/tables/data.html"><i class="fa fa-angle-double-right"></i> Data tables</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="pages/calendar.html">
                            <i class="fa fa-calendar"></i> <span>Calendar</span>
                            <small class="badge pull-right bg-red">3</small>
                        </a>
                    </li>
                    <li>
                        <a href="pages/mailbox.html">
                            <i class="fa fa-envelope"></i> <span>Mailbox</span>
                            <small class="badge pull-right bg-yellow">12</small>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>Examples</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/examples/invoice.html"><i class="fa fa-angle-double-right"></i> Invoice</a></li>
                            <li><a href="pages/examples/login.html"><i class="fa fa-angle-double-right"></i> Login</a></li>
                            <li><a href="pages/examples/register.html"><i class="fa fa-angle-double-right"></i> Register</a></li>
                            <li><a href="pages/examples/lockscreen.html"><i class="fa fa-angle-double-right"></i> Lockscreen</a></li>
                            <li><a href="pages/examples/404.html"><i class="fa fa-angle-double-right"></i> 404 Error</a></li>
                            <li><a href="pages/examples/500.html"><i class="fa fa-angle-double-right"></i> 500 Error</a></li>
                            <li><a href="pages/examples/blank.html"><i class="fa fa-angle-double-right"></i> Blank Page</a></li>
                        </ul>
                    </li>
                    {% endblock %}
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side topspacing">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h2>
                    {% block page-header %}
                        Dashboard
                    {% endblock %}
                </h2>
                <ol class="breadcrumb">
                    {% block breadcrumbs %}
                    <li><i class="fa fa-dashboard"></i> Dashboard</li>
                    {% endblock %}
                </ol>

                {% if messages %}
                    <div class="container messages">
                        <div class="row">
                            <div class="message-container col-md-12">
                                {% for message in messages %}
                                    <div class="alert {% if message.tags %}
                                        {% if message.tags == 'alert-error' %} alert-danger {% else %}
                                        {{ message.tags }}{% endif %}{% endif %}">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

            </section>
            <!-- Main content -->
            <section class="content">
                {% block content %}

                {% endblock %}
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

    {% block js %}
        <script src="{{ STATIC_URL}}js/libs/jquery-1.9.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
        <script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/moment.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/fastclick.js"></script>
        <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.10.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/dashboard/dashboard.js"></script>
    {% endblock %}

    {% if GOOGLE_ANALYTICS_KEY %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_KEY }}']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
    </body>
</html>
