{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Online er linjeforeningen for informatikkstudentene ved NTNU. Våre studenter går Bachelor- eller Mastergradstudium i informatikk.">
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/font-awesome-4.2.0/font-awesome.less">
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/dashboard/main.less">
        {% endcompress %}
    {% endblock %}
</head>
<body>
    <nav id="dashboard_main_nav">
        <span class="sidebar-center">
            <a href="/"><img src="{{ STATIC_URL }}img/online_logo.svg" alt="Online" id="online-logo"></a>
        </span>
        <span class="pull-right" id="sidebar_toggle" data-toggle="offcanvas"><i class="fa fa-bars fa-lg"></i></span>
    </nav>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar topspacing">
                <br />
                <h4 class="center-text"><small>Velkommen</small><br />{{ request.user.first_name }}</h4>
                <ul class="sidebar-menu">
                    {% block sidebar %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-wheelchair blue"></i>
                            <span>Arrangement</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Adgangsregler</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Deltakere</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Opprett</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Oversikt</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Reservasjoner</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-file-text-o blue"></i>
                            <span>Artikler</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Ny artikkel</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Oversikt</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Tags</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user blue"></i>
                            <span>Autentisering</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Brukerprofiler</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Medlemsregister</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Posisjoner</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Spesialposisjoner</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-money blue"></i> <span>Bedrifter</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Ny bedrift</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Oversikt</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-file-o blue"></i> <span>Chunks</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Ny Chunk</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Oversikt</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-group blue"></i> <span>Grupper</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Ny gruppe</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Oversikt</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-suitcase blue"></i> <span>Karrieremuligheter</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Ny karrieremulighet</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Oversikt</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-plug blue"></i> <span>Offline</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Informasjonstekster</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Ny utgivelse</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Oversikt</a></li>
                        </ul>
                    </li>                   <li class="treeview">
                        <a href="#">
                            <i class="fa fa-times-circle blue"></i> <span>Prikker</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Ny prikk</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Oversikt</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-trophy blue"></i> <span>Redwine</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/approval/">
                            <i class="fa fa-envelope-o blue"></i> <span>Søknader</span>
                            <small class="badge pull-right bg-red">2</small>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-envelope blue"></i> <span>Tilbakemelding</span>
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Flervalgsspørsmål</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right orange"></i> Tilbakemeldingsskjema</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-bell blue"></i> <span>Til oppfølging</span>
                            <small class="badge pull-right bg-red">21</small>
                        </a>
                    </li>
                    {% endblock %}
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side topspacing">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h2>
                    {% block page-header %}
                        Dashboard
                    {% endblock %}
                </h2>
                <ol class="breadcrumb">
                    {% block breadcrumbs %}
                    <li><i class="fa fa-dashboard"></i> Dashboard</li>
                    {% endblock %}
                </ol>


                <div class="messages">
                    <div class="row">
                        {% if messages %}
                        <div class="message-container col-md-12">
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}
                                    {% if message.tags == 'alert-error' %} alert-danger {% else %}
                                    {{ message.tags }}{% endif %}{% endif %}">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

            </section>
            <!-- Main content -->
            <section class="content">
                {% block content %}

                {% endblock %}
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

    {% block js %}
        <script src="{{ STATIC_URL}}js/libs/jquery-1.9.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
        <script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/moment.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/fastclick.js"></script>
        <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.10.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/dashboard/dashboard.js"></script>
    {% endblock %}

    {% if GOOGLE_ANALYTICS_KEY %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_KEY }}']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
    </body>
</html>
