{% extends 'base.html' %}
{% load chunks %}
{% load markdown_deux_tags %}
{% load render_bundle from webpack_loader %}


{% block styles %}
    {{ block.super }}
    {% render_bundle 'frontpage' 'css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% render_bundle 'frontpage' 'js' %}
{% endblock %}

{% block apple-webapp %}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="Online">

    <link href="{{ STATIC_URL }}mimg/splash-320x460.png" sizes="320x460" media="(device-width: 320px)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-640x920.png" sizes="640x920" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-640x1096.png" sizes="640x1096" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-768x1004.png" sizes="768x1004" media="(min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-1024x748.png" sizes="1024x748" media="(min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-1536x2008.png" sizes="1536x2008" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-2048x1496.png" sizes="2048x1496" media="(device-width: 1536px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}mimg/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}mimg/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}mimg/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}mimg/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}mimg/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}mimg/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}mimg/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}mimg/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}mimg/apple-touch-icon-180x180.png">

    <link rel="manifest" href="{{ STATIC_URL }}mimg/manifest.json">
    <link rel="mask-icon" href="{{ STATIC_URL }}mimg/safari-pinned-tab.svg" color="#005fa2">
    <meta name="msapplication-TileColor" content="#005fa2">
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}mimg/mstile-144x144.png">

{% endblock %}

{% block submenu %}
    <nav class="subnavbar">
        <div class="container">
            <ul>
                <li class="top-menu-link">
                    <a data-section="events" class="active" href="{% url 'events-link' %}">Arrangementer</a>
                </li>
                <li class="top-menu-link">
                    <a data-section="articles" href="{% url 'articles-link' %}">Artikler</a>
                </li>
                <li class="top-menu-link">
                    <a data-section="offline" href="{% url 'offline-link' %}">Offline</a>
                </li>
                <li class="top-menu-link">
                    <a data-section="business" href="{% url 'business-link' %}">For bedrifter</a>
                </li>
                <li class="top-menu-link">
                    <a data-section="about" href="{% url 'about-link' %}">Om Online</a>
                </li>
                <li class="top-menu-link">
                    <a data-section="about" href="{% url 'about-link' %}">Foto album</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <section id="events">
        <div class="container">
            <div id="event-items"></div>
        </div>
    </section>

    <section id="articles">
        <div class="container">
            <div id='article-items'></div>
        </div>
    </section>

    <section id="offline">
        <div class="container">
            <div class="page-header clearfix">
                <div class="row">
                    <div class="col-md-8 col-xs-6">
                        <h1 id="offline-heading">Offline</h1>
                    </div>
                    <div class="col-md-4 col-xs-6 archive-link">
                        <a href="{% url 'offline' %}">Arkiv<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="ingress">
{% filter markdown %}
{% chunk "offline_ingress" %}
{% endfilter %}
                    </div>
{% filter markdown %}
{% chunk "offline_brodtekst" %}
{% endfilter %}
                </div>
                <div class="col-md-6">
                    <div id="offlineCarousel" class="carousel slide">
                        <div class="carousel-inner"></div>
                        <a class="carousel-control left" href="#offlineCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="carousel-control right" href="#offlineCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="business">
        <div class="container">
            <div class="page-header clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <h1 id="business-heading">Bedrifter</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 col-md-6">
                    <div class="ingress">
                        <p>Er du en bedrift som er på jakt etter skarpe IT-studenter?<br />
                        Da vil vi gjerne høre fra deg! Les videre for å finne ut hva vi kan tilby.</p>
                    </div>
                    <div class="business-text">
                        <p>Online er en linjeforening for Informatikkstudentene ved NTNU Gløshaugen. 
                            Informatikkstudiet hører til Institutt for datateknologi og informatikk (IDI).  
                            Dette innebærer blant annet å lære om utvikling, forbedring, evaluering og bruk av datasystemer. 
                            For mer informasjon om studiet, se NTNU sine offisielle nettsider for <a href="https://www.ntnu.no/studier/bit" target="_blank">bachelor</a> og <a href="https://www.ntnu.no/studier/msit" target="_blank">master</a>.</p>
                        <p>Linjeforeningen drives av frivillige, og har som formål å være en sosial og faglig ressurs for studentene, samt et bindeledd mellom studentene, universitetets institusjoner og næringslivet. 
                            Linjeforeningen har gjennom flere år opparbeidet seg et repertoar av tjenester som vi tilbyr våre studenter. 
                            I samarbeid med næringslivet tilbyr vi kurs og bedriftspresentasjoner for å gi studentene våre en bredere og dypere fagkunnskap samt et innblikk i hverdagen til aktuelle arbeidsplasser.</p>
                        <p>Send oss en forespørsel for å komme i kontakt. Vi gleder oss til å samarbeide med dere!</p>
                        <p>
                            <span class="sales-contact"> 
                                <span><i class="glyphicon glyphicon-chevron-right"></i>
                                    <a href="mailto:bedriftskontakt@online.ntnu.no" title="bedriftskontakt@online.ntnu.no">Send epost til bedriftskontakt</a>
                                </span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-5 col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12 sale-box">
                                <div class="sale-heading">Profilering</div>
                            </div>
                            <div class="col-md-12 sale-content">
                                <ul class="list-unstyled sale-points">
                                    <li><span class="glyphicon glyphicon-ok"></span> Bedriftspresentasjon</li>
                                    <li><span class="glyphicon glyphicon-ok"></span> Annonse i Offline</li>
                                    <li><span class="glyphicon glyphicon-ok"></span> Stillingsutlysning</li>
                                </ul>
                                <div class="link" style="text-align:center">
                                    <a href="#business-profiling" data-toggle="modal">Les mer</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 sale-box">
                                <div class="sale-heading">Faglig</div>
                            </div>
                            <div class="col-md-12 sale-content">
                                <ul class="list-unstyled sale-points">
                                    <li><span class="glyphicon glyphicon-ok"></span> Kurs</li>
                                    <li><span class="glyphicon glyphicon-ok"></span> Workshop</li>
                                </ul>
                                <div class="link" style="text-align:center">
                                    <a href="#business-academic" data-toggle="modal">Les mer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="page-header clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <h1 id="about-heading">Om Online</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="about-online">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="ingress">Online er linjeforeningen for informatikkstudenter ved
                                    NTNU i Trondheim. Linjeforeningens oppgave er å forbedre studiemiljøet ved
                                    å fremme sosialt samvær, faglig kompetanse og kontakt med næringslivet.</p>
                                    <p>Linjeforeningen består av omtrent 100 frivillige medarbeidere,
                                    fordelt over Hovedstyret, komiteer og nodekomiteer. I tillegg til vervene i
                                    linjeforeningen er mange studenter også engasjert i Realfagskjelleren,
                                    Datakameratene FK og Casual Gaming.</p>
                                    <p>Vi har kontorer i A-blokka på Realfagbygget, Gløshaugen. Her
                                    fins det mat og drikke for alle som vil ha, og ofte kan det være greit å
                                    finne hjelp til en øving eller et prosjekt man jobber med. Det er heller
                                    ikke uhørt at triKom serverer vafler eller kake.</p>
                                    <p>Ekskursjoner, kurs og presentasjoner fra bedrifter er ukentlige hendelser
                                    hos oss. Mange arrangementer er sponset av linjeforeningen eller bedrifter
                                    slik at du kan hygge deg i godt selskap selv om studielånet er langt unna.</p>
                                    <p>I de siste årene har Online hatt en eventyrlig vekst på alle områder,
                                    og har etablert seg som en betydningsfull organisasjon i Trondheim. Fokus
                                    på samarbeid og kommunikasjon har drevet frem mange gode initiativer hvor
                                    vi har stått langt fremme som pådrivere.</p>
                                    <p>Hos oss vil du stifte nye vennskap som vil vare livet ut, og hjelpe
                                    deg når du skal ut i arbeidslivet. Du vil trives i Online!</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="about-hovedstyret">
{% filter markdown %}
{% chunk 'om_hovedstyret' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-hovedsamarbeidspartner">
{% filter markdown %}
{% chunk 'om_hovedsamarbeidspartner' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-arrkom">
{% filter markdown %}
{% chunk 'om_arrkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-bankom">
{% filter markdown %}
{% chunk 'om_bankom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-bedkom">
{% filter markdown %}
{% chunk 'om_bedkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-dotkom">
{% filter markdown %}
{% chunk 'om_dotkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-fagkom">
{% filter markdown %}
{% chunk 'om_fagkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-prokom">
{% filter markdown %}
{% chunk 'om_prokom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-senkom">
{% filter markdown %}
{% chunk 'om_senkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-trikom">
{% filter markdown %}
{% chunk 'om_trikom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-noder">
{% filter markdown %}
{% chunk 'om_noder' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-interessegrupper">
{% filter markdown %}
{% chunk 'om_interessegrupper' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-kjelleren">
{% filter markdown %}
{% chunk 'om_kjelleren' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-datakameratene">
{% filter markdown %}
{% chunk 'om_datakameratene' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-cag">
{% filter markdown %}
{% chunk 'om_casual_gaming' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-output">
{% filter markdown %}
{% chunk 'om_output' %}
{% endfilter %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <ul class="nav nav-pills nav-stacked" id="about-tabs">
                        <li class="nav-header">Organisasjonen</li>
                        <li class="active"><a data-prefixom="false" href="#about-online">Om Online</a></li>
                        <li><a href="#about-hovedstyret">Hovedstyret</a></li>
                        <li><a href="#about-hovedsamarbeidspartner">Hovedsamarbeidspartner</a></li>
                        <li class="nav-header">Komiteer</li>
                        <li><a href="#about-arrkom">Arrkom</a></li>
                        <li><a href="#about-bankom">Bankom</a></li>
                        <li><a href="#about-bedkom">Bedkom</a></li>
                        <li><a href="#about-dotkom">Dotkom</a></li>
                        <li><a href="#about-fagkom">Fagkom</a></li>
                        <li><a href="#about-prokom">Prokom</a></li>
                        <li><a href="#about-senkom">Seniorkom</a></li>
                        <li><a href="#about-trikom">Trikom</a></li>
                        <li class="nav-header">Annet</li>
                        <li><a href="#about-noder">Nodekomiteer</a></li>
                        <li><a href="#about-interessegrupper">Interessegrupper</a></li>
                        <li><a href="#about-kjelleren">Realfagskjelleren</a></li>
                        <li><a href="#about-datakameratene">Datakameratene FK</a></li>
                        <li><a href="#about-cag">Casual Gaming</a></li>
                        <li><a href="#about-output">Output</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div id="business-profiling" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="businessProfiling" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Bedriftspresentasjon</h3>
                    <p>Under en bedriftspresentasjon får en bedrift 45 minutter til rådighet for å presentere seg for våre studenter. Dette er en ypperlig mulighet for å gi studentene et bedre innblikk hva det er bedriften driver med og hvilke muligheter studentene har i bedriften. Deretter følger en uformell sesjon hvor bedriftens representanter kan mingle med studentene. Minglingen innebærer ofte bespisning, men er på ingen måte låst til dette. Vi er alltid åpen for å prøve nye løsninger på mingling uten for det som er standard.</p>
                    <p>Dersom en bedrift uttrykker et ønske for det kan linjeforeningen være behjelpelig med å legge til rette for intervjuer i etterkant av bedriftspresentasjonen. Linjeforeningen vil da etterstrebe å få reservert lokaler hvor intervjuene kan avholdes.</p>
                    <h5>Generelt rundt presentasjonen</h5>
                    <ul>
                        <li>Vanligvis holdes presentasjonen på NTNU Gløshaugen. Bedriftskomiteen sørger for passende lokale etter størrelse på bedriftspresentasjonen. Rommene vil være utstyrt med lydanlegg og videokanon. Dersom annet utstyr ønskes skal det etterstrebes å anskaffe dette.</li>
                        <li>Utenfor lokalet hvor presentasjonen holdes vil det være gode muligheter til å profilere bedriften ved hjelp av roll-ups og lignende.</li>
                        <li>Bedriftskomiteen sørger for alt det praktiske rundt presentasjonen, herunder også adgangskontroll, utdeling av rekvisitter, markedsføring av presentasjonen, innsamling av tilbakemeldinger om presentasjonen og liknende.</li>
                        <li>Alle bygg på NTNU Gløshaugen er lett ankommelig med bil, og det er gode muligheter for parkering i nærheten av lokalet der presentasjonen holdes.</li>
                    </ul>
                    <h3>Annonsering i Offline</h3>
                    <p>Offline er linjeforeningsmagasinet til Online. Det er skrevet og produsert av Onlines Profil- og aviskomité. Vi fokuserer på å skrive interessante og underholdende artikler som skal være noe våre skribenter kan trekke frem senere og være stolte av. Målgruppen for magasinet er primært egne studenter, men innholdet er ikke for internt og appellerer derfor også til ikke-informatikere.</p>
                    <p>Magasinet er ment å være fullfinansiert gjennom annonser, prisene er kalkulert deretter. Vi ønsker at annonsene skal være av verdi for bedriften og har satt et tak på mengden annonser til cirka 15%. Dette gir for eksempel fire fulle sider på et 28-siders magasin. Opplaget vil variere med annonsesalget for den gitte utgivelsen, men vi sikter på å ha minimum 250 i opplag til en hver tid. Tidligere utgaver finnes på <a href="/offline">våre nettsider</a>.</p>
                    <h3>Stillingsutlysning på web</h3>
                    <p><a href="/careeropportunity">Karrieremuligheter</a> er en egen side på vår nettside hvor bedrifter kan legge ut søknadsinformasjon til sommerjobb og fastjobb. Siden er ment å være en portal for våre studenter hvor de kan følge med på hvordan de kan søke på stillinger og eventuelle søknadsfrister. Utformingen av selve annonsen avtales i dialog med bedriftskomiteen. Man står fritt til å velge tekst og struktur så lenge det ser presentabelt ut.</p>
                    <p>Vi har delt opp annonsekategoriene i to deler: Fast jobb og sommerjobb/internship. Alle sommerjobbannonser er gratis for alle bedrifter, med en begrensning på 1. Ønsker man å annonsere flere forskjellige sommerjobber vil dette koste pr. ekstra annonse.</p>
                    <p>Vi tar betalt for fastjobbannonser. Priser er ekskludert MVA. Annonsene vil ligge ute det semesteret den publiseres, eller eventuelt til søknadsfristen går ut.</p>
                    <p>Dersom en bedrift har et arrangement hos oss i løpet av et semester(kurs eller bedriftspresentasjon), får de én gratis annonseplass det semesteret. Dette betyr at dersom en bedrift har en bedriftspresentasjon et semester, vil man få én gratis sommerjobbannonse og én gratis fastjobbannonse.</p>
                    <p><b>Ta kontakt med <a href="mailto:bedriftskontakt@online.ntnu.no">Bedriftskomiteen</a> for spørsmål og mer informasjon om priser.</b></p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <div id="business-academic"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="businessAcademic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Kurs/Foredrag</h3>
                    <p>Studentene ved informatikk har mange ulike interesser og det er alltid gøy å se hva bedrifter holder på med. Det har blitt gjennomført kurs i for eksempel Ruby on Rails, Test Driven Development, Scrum og mye mer.</p>
                    <p>Online tilbyr arrangering av kurs og workshops. Kurs varer normalt 2-3 timer, og bedriften får 5 minutter i begynnelsen av kurset til å presentere seg selv og jobbmuligheter. Dette tilbudet er ment som et faglig tilskudd til studiet og innholdet må gjenspeile dette. Selve gjennomføringen er ofte litt mer uformell enn ved en bedriftspresentasjon. Det å få studentene til å være med er viktig. Det er vanlig med enkel bespisning under kurset. Etter arrangementet er det mange som velger å arrangere mingling ved et av Trondheims mange lokaler sammen med deltagerne på kurset.</p>
                    <h5>Generelt rundt arrangementet</h5>
                    <ul>
                        <li>Vanligvis holdes kurs på NTNU Gløshaugen. Fag- og kurskomiteen sørger for passende lokale etter størrelse på arrangementet. Rommene vil være utstyrt med lydanlegg og videokanon. Dersom annet utstyr ønskes, kan det ordnes.</li>
                        <li>Utenfor lokalet hvor kurset holdes vil det alltid være gode muligheter til å profilere bedriften ved hjelp av roll-ups og lignende.</li>
                        <li>Fag- og kurskomiteen sørger for alt det praktiske rundt arrangementet, herunder også adgangskontroll, utdeling av rekvisitter, markedsføring av arrangementet, innsamling av tilbakemeldinger om kurset og liknende.</li>
                        <li>Alle bygg på NTNU Gløshaugen er lett ankommelig med bil, og det er gode muligheter for parkering i nærheten av lokalet der kurset holdes.</li>
                    </ul>
                    <p>Ta kontakt for mer informasjon.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
