{% extends 'base.html' %}
{% load chunks %}
{% load markup %}

{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}js/scroller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/EventWidget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/initFrontpage.js"></script>
    <section id="events">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="page-header">
                        <h2 id="events-heading">ARRANGEMENTER</h2>
                    </div>
                </div>
            </div>
            <div id="event-items">
            </div>
        </div>
    </section>
    <section id="articles">
        <div class="container-fluid">
            <div class="row-fluid" >
                <div class="span12">
                    <div class="page-header">
                        <h2 id="articles">ARTIKLER</h2>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <a class="" href="#">
                        <img src="{{ STATIC_URL}}js/holder.js/584x275" alt="">
                    </a>
                    <h3>Hovedstyret er ganske kule</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Pellentesque hendrerit enim id arcu placerat vitae volutpat libero commodo. Sed ullamcorper molestie nibh quis sagittis. 
                    Praesent ut varius mauris. Nunc risus nibh, porttitor id porta at, mollis id neque. Sed interdum vehicula porttitor.</p>
                </div>
                <div class="span6">
                    <a class="">
                        <img src="{{ STATIC_URL}}js/holder.js/584x275" alt="">
                    </a>
                    <h3>Archlinux er for prostituerte</h3>
                    <p>Dette mener Dag Olav Prestegarden consectetur adipiscing elit. 
                    Pellentesque hendrerit enim id arcu placerat vitae volutpat libero commodo. Sed ullamcorper molestie nibh quis sagittis. 
                    Praesent ut varius mauris. Nunc risus nibh, porttitor id porta at, mollis id neque.</p>
                </div>
            </div>
            <div class="row-fluid">
                    <div class="span2">
                        <a class="">
                            <img src="{{ STATIC_URL}}js/holder.js/174x100" alt="">
                        </a>
                        <br /><h4>Triksete folk</h4>
                    </div>
                    <div class="span2">
                        <a class="">
                            <img src="{{ STATIC_URL}}js/holder.js/174x100" alt="">
                        </a>
                        <br /><h4>Idun ketchup er mongofett</h4>
                    </div>
                    <div class="span2">
                        <a class="">
                            <img src="{{ STATIC_URL}}js/holder.js/174x100" alt="">
                        </a>
                        <br /><h4>Nikesko er bra</h4>
                    </div>
                    <div class="span2">
                        <a class="">
                            <img src="{{ STATIC_URL}}js/holder.js/174x100" alt="">
                        </a>
                        <br /><h4>Min mor er kulere enn din ass motherfucker</h4>
                    </div>
                    <div class="span2">
                        <a class="">
                            <img src="{{ STATIC_URL}}js/holder.js/174x100" alt="">
                        </a>
                        <br /><h4>Offline besoker Nidarosdomen</h4>
                    </div>
                    <div class="span2">
                        <a class="">
                            <img src="{{ STATIC_URL}}js/holder.js/174x100" alt="">
                        </a>
                        <br /><h4>Lorem Ipsum Tjohei</h4>
                    </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="page-header">
                        <h2 id="about">OM ONLINE</h2>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                
                <div class="span3">
                    <ul class="nav nav-list" id="about-tabs">
                        <li class="active"><a href="#online">Om Online</a></li>
                        <li><a href="#hovedstyret">Hovedstyret</a></li>
                        <li class="nav-header">Komiteer</li>
                        <li><a href="#arrkom">ArrKom</a></li>
                        <li><a href="#bankom">BanKom</a></li>
                        <li><a href="#bedkom">BedKom</a></li>
                        <li><a href="#dotkom">DotKom</a></li>
                        <li><a href="#fagkom">Fagkom</a></li>
                        <li><a href="#pankom">Pankom</a></li>
                        <li><a href="#prokom">ProKom</a></li>
                        <li><a href="#trikom">TriKom</a></li>
                        <li class="nav-header">Nodekomiteer</li>
                        <li><a href="#ekskom">EksKom</a></li>
                        <li><a href="#jubkom">JubKom</a></li>
                        <li><a href="#velkom">VelKom</a></li>
                        <li class="nav-header">Annet</li>
                        <li><a href="#kjelleren">Realfagskjelleren</a></li>
                        <li><a href="#datakameratene">Datakameratene FK</a></li>
                        <li><a href="#cag">Casual Gaming</a></li>
                    </ul>
                </div>
                <div class="span9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="online">
{% filter markdown %}
{% chunk 'om_online' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="hovedstyret">
{% filter markdown %}
{% chunk 'om_hovedstyret' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="arrkom">
{% filter markdown %}
{% chunk 'om_arrkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="bankom">
{% filter markdown %}
{% chunk 'om_bankom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="bedkom">
{% filter markdown %}
{% chunk 'om_bedkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="dotkom">
{% filter markdown %}
{% chunk 'om_dotkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="fagkom">
{% filter markdown %}
{% chunk 'om_fagkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="pankom">
{% filter markdown %}
{% chunk 'om_pankom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="prokom">
{% filter markdown %}
{% chunk 'om_prokom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="trikom">
{% filter markdown %}
{% chunk 'om_trikom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="ekskom">
{% filter markdown %}
{% chunk 'om_ekskom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="jubkom">
{% filter markdown %}
{% chunk 'om_jubkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="velkom">
{% filter markdown %}
{% chunk 'om_velkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="kjelleren">
{% filter markdown %}
{% chunk 'om_kjelleren' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="datakameratene">
{% filter markdown %}
{% chunk 'om_datakameratene' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="cag">
{% filter markdown %}
{% chunk 'om_casual_gaming' %}
{% endfilter %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="business">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="page-header">
                        <h2 id="business">BEDRIFTER</h2>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="business-ingress">
                            <p>Er du en bedrift som er på jakt etter noen av de flinkeste IT-studentene i landet? Da vil vi gjerne høre fra deg! Les videre for å finne ut hva vi kan tilby.</p>
                        </div>
                        <div class="business-text">
                            <p>Online er linjeforeningen for informatikkstudentene ved NTNU. Våre studenter går Års-, Bachelor- eller Mastergradstudium i informatikk, det vil si at vi studerer utvikling, forbedring, evaluering og bruk av datasystemer. 
                            For mer informasjon om studiet, se: Bachelor - Master</p>
                            <p>
                            Samarbeid med næringslivet
                            Linjeforeningen har gjennom flere år opparbeidet seg et repertoar av tjenester som vi tilbyr våre studenter. I samarbeid med næringslivet tilbyr vi kurs og bedriftspresentasjoner for å gi studentene våre en bredere og dypere fagkunnskap samt et innblikk i hverdagen i aktuelle på arbeidsplasser.
                            </p>
                            <p>Er du interessert? Ta en titt under for mer informasjon om hva vi tilbyr. Ta gjerne kontakt for mer informasjon!
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="btn-group contact-buttons">
                                <button class="btn">Kontakt bedriftskomiteen</button>
                                <button class="btn">Kontakt fag- og kurskomiteen</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4 sale-box">
                            <div class="well well-small">
                                <h5>Bedriftspresentasjon</h5>
                                <ul class="unstyled">
                                    <li>45min presentasjon</li>
                                    <li>Valgfritt innhold</li>
                                    <li>Med eller uten mingling</li>
                                </ul>
                            </div>
                        </div>
                        <div class="span4 sale-box">
                            <div class="well well-small">
                                <h5>Kurs/Workshop</h5>
                                <ul class="unstyled">
                                    <li>5-10min presentasjon</li>
                                    <li>Faglig innhold 1/3timer+</li>
                                    <li>Med eller uten mingling</li>
                                </ul>
                            </div>
                        </div>
                        <div class="span4 sale-box">
                            <div class="well well-small">
                                <h5>Kurserier</h5>
                                <ul class="unstyled">
                                    <li>Tre kurs i ett tema</li>
                                    <li>Økende vanskelighetsgrad</li>
                                    <li>Med eller uten mingling</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4 sale-box">
                            <div class="well well-small">
                                <h5>Hackathon</h5>
                                <ul class="unstyled">
                                    <li>24timer</li>
                                    <li>Små kurs, konkurranser o.l.</li>
                                    <li>Med eller uten mingling</li>
                                </ul>
                            </div>
                        </div>
                        <div class="span4 sale-box">
                             <div class="well well-small">
                                <h5>Annonsering i Offline</h5>
                                <ul class="unstyled">
                                    <li>Helside</li>
                                    <li>Halvside</li>
                                    <li>Spalte</li>
                                </ul>
                            </div>
                        </div>
                        <div class="span4 sale-box">
                             <div class="well well-small">
                                <h5>Annen annonsering</h5>
                                <ul class="unstyled">
                                    <li>Plakater på campus</li>
                                    <li>Annonsepakke</li>
                                    <li>Tilby noe mer kult her</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 expander">
                    <a  data-toggle="collapse" data-target="#offers"><i class="icon-plus"></i></a>
                </div>
            </div>
            <div class="collapse" id="offers">
                <div class="row-fluid">
                    <div class="span6">
                        <h3>Bedriftspresentasjon</h3>
                        <p>Vi får ganske regelmessig besøk fra både små og store IT-bedrifter som har behov for dyktige utviklere, konsulenter og systemarkitekter o.l. En bedriftspresentasjon gir hovedsaklig en mulighet for å opprette kontakt mellom bedrift og aktuelle studenter. Rekruttering gjennom denne kanalen er veldig aktuell og de aller fleste studentene bruker dette som et springbrett for sin karriere. </p>
                        <p>Dette er et eksempel på hvordan mange bedrifter velger å gjøre det, men er på ingen måte en fasit. Noen bedrifter har valgt å gå utenfor denne «malen» med suksess, så det er alltid rom for nye ideer. Bedriftspresentasjonene blir vanligvis gjennomført på Gløshaugen, med påfølgende servering i en uformell setting, hvor det kan stilles spørsmål og der studentene kan bli kjent med dere og omvendt. Vi stiller med lokaler, markedsføring, påmelding og deltagere. I tillegg tilrettelegger vi servering og eventuell transport etter ønske og behov. Fra deres side håper vi at dere stiller med motiverte ansatte som leverer en informativ og hyggelig presentasjon, og som kan svare på de spørsmål studentene måtte ha.</p>
                        <p>Som nevnt består informatikk av både års-, bachelor og masterstudie. De fleste bedrifter henvender seg til masterstudentene våre, men det skal nevnes at bachelorstudentene også har et fullverdig studium.</p>
                    </div>
                    <div class="span6">
                        <h3>Kurs/Workshop/Foredrag</h3>
                        <p>Studentene ved informatikk har mange ulike interesser og det er alltid gøy å se hva bedrifter holder på med. Det har blitt gjennomført kurs i for eksempel Ruby on Rails, Test Driven Development, Scrum og mye mer.</p>
                        <p>I motsetning til bedriftspresentasjoner er det begrensinger på hvor lenge bedriften kan fortelle om seg selv. Det er ment som et faglig tilskudd til studiet og innholdet må gjenspeile dette. Selve kursgjennomføringen er ofte litt mer uformell enn ved en bedriftspresentasjon. Det å få studentene til å vere med er viktig. Som ved en bedriftspresentasjon vil vi ordne det meste, ved spesialbehov gjør vi vårt beste for å ordne dette også.</p>
                        <p>Da kurs gjerne ikke er direkte rettet for rekruttering er det mye vanligere å åpne for alle årstrinn slik at folk med alle mulige interesser kan delta. Det er selvsagt en del kurs som krever forkunnskaper, men det er bare å spesifisere i eventen.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Offline -->
    {% include 'frontpage_offline.html' %}

    <div class="dark-grayed">
        <div class="container-fluid footer">
            <p>Footer</p>
        </div>
    </div>
{% endblock content %}
