{% extends 'base.html' %}
{% load chunks %}
{% load compress %}
{% load markdown_deux_tags %}
{% load render_bundle from webpack_loader %}


{% block title %}Online, linjeforeningen for informatikk ved NTNU{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'frontpage' 'css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/OfflineWidget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/Utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/initFrontpage.js"></script>
    {% endcompress %}

    {% render_bundle 'frontpage' 'js' %}
{% endblock %}

{% block apple-webapp %}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="Online">

    <link href="{{ STATIC_URL }}mimg/splash-320x460.png" sizes="320x460" media="(device-width: 320px)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-640x920.png" sizes="640x920" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-640x1096.png" sizes="640x1096" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-768x1004.png" sizes="768x1004" media="(min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-1024x748.png" sizes="1024x748" media="(min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-1536x2008.png" sizes="1536x2008" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ STATIC_URL }}mimg/splash-2048x1496.png" sizes="2048x1496" media="(device-width: 1536px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}mimg/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}mimg/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}mimg/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}mimg/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}mimg/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}mimg/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}mimg/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}mimg/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}mimg/apple-touch-icon-180x180.png">

    <link rel="manifest" href="{{ STATIC_URL }}mimg/manifest.json">
    <link rel="mask-icon" href="{{ STATIC_URL }}mimg/safari-pinned-tab.svg" color="#005fa2">
    <meta name="msapplication-TileColor" content="#005fa2">
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}mimg/mstile-144x144.png">

{% endblock %}

{% block submenu %}
    <nav class="subnavbar">
        <div class="container">
            <ul>
                <li class="top-menu-link">
                    <a data-section="events" class="active" href="{% url 'events-link' %}">Arrangementer</a>
                </li>
                <li class="top-menu-link">
                    <a data-section="articles" href="{% url 'articles-link' %}">Artikler</a>
                </li>
                <li class="top-menu-link">
                    <a data-section="offline" href="{% url 'offline-link' %}">Offline</a>
                </li>
                <li class="top-menu-link">
                    <a data-section="business" href="{% url 'business-link' %}">For bedrifter</a>
                </li>
                <li class="top-menu-link">
                    <a data-section="about" href="{% url 'about-link' %}">Om Online</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <section id="events">
        <div class="container">
            <div id="event-items"></div>
        </div>
    </section>

    <section id="articles">
        <div class="container">
            <div id='article-items'></div>
        </div>
    </section>

    <section id="offline">
        <div class="container">
            <div class="page-header clearfix">
                <div class="row">
                    <div class="col-md-8 col-xs-6">
                        <h1 id="offline-heading">Offline</h1>
                    </div>
                    <div class="col-md-4 col-xs-6 archive-link">
                        <a href="{% url 'offline' %}">ARKIV
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="ingress">
{% filter markdown %}
{% chunk "offline_ingress" %}
{% endfilter %}
                    </div>
{% filter markdown %}
{% chunk "offline_brodtekst" %}
{% endfilter %}
                </div>
                <div class="col-md-6">
                    <div id="offlineCarousel" class="carousel slide" data-prefix="{{ MEDIA_URL }}">
                        <div class="carousel-inner"></div>
                        <a class="carousel-control left" href="#offlineCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="carousel-control right" href="#offlineCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="business">
        <div class="container">
            <div class="page-header clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <h1 id="business-heading">Bedrifter</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 col-md-6">
                    <div class="ingress">
                        <p>Er du en bedrift som er på jakt etter skarpe IT-studenter?<br />
                        Da vil vi gjerne høre fra deg! Les videre for å finne ut hva vi kan tilby.</p>
                    </div>
                    <div class="business-text">
                        <p>Online er linjeforeningen for informatikkstudentene ved NTNU. Våre studenter går Bachelor- eller
                        Mastergradstudium i informatikk. Dette innebærer blant annet å lære om utvikling, forbedring, evaluering
                        og bruk av datasystemer. For mer informasjon om studiet, se NTNU sine
                        <a href="http://www.ntnu.no/studier/informasjonsteknologi-informatikk" target="_blank">offisielle nettsider.</a></p>
                        <p>Linjeforeningen har gjennom flere år opparbeidet seg et repertoar av tjenester som vi tilbyr våre studenter.
                        I samarbeid med næringslivet tilbyr vi kurs og bedriftspresentasjoner for å gi studentene våre en bredere og dypere
                        fagkunnskap samt et innblikk i hverdagen til aktuelle arbeidsplasser.</p>
                        <p>Send oss en forespørsel for å komme i kontakt. Vi gleder oss til å samarbeide med dere!</p>
                        <p>
                            <span class="sales-contact">
                                <span><i class="glyphicon glyphicon-chevron-right"></i>
                                <a href="mailto:bedkom@online.ntnu.no" title="bedkom@online.ntnu.no">Send epost til bedriftskontakt</a></span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-5 col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12 sale-box">
                                <div class="sale-heading">Profilering</div>
                            </div>
                            <div class="col-md-12 sale-content">
                                <ul class="list-unstyled sale-points">
                                    <li><span class="glyphicon glyphicon-ok"></span> Bedriftspresentasjon</li>
                                    <li><span class="glyphicon glyphicon-ok"></span> Annonse i Offline</li>
                                    <li><span class="glyphicon glyphicon-ok"></span> Stillingsutlysning</li>
                                </ul>
                                <div class="link" style="text-align:center">
                                    <a href="#business-profiling" data-toggle="modal">Les mer</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 sale-box">
                                <div class="sale-heading">Faglig</div>
                            </div>
                            <div class="col-md-12 sale-content">
                                <ul class="list-unstyled sale-points">
                                    <li><span class="glyphicon glyphicon-ok"></span> Kurs/kursserie</li>
                                    <li><span class="glyphicon glyphicon-ok"></span> Workshop</li>
                                    <li><span class="glyphicon glyphicon-ok"></span> Hackathon</li>
                                </ul>
                                <div class="link" style="text-align:center">
                                    <a href="#business-academic" data-toggle="modal">Les mer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="page-header clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <h1 id="about-heading">Om Online</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="about-online">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="ingress">Online er linjeforeningen for informatikkstudenter ved
                                    NTNU i Trondheim. Linjeforeningens oppgave er å forbedre studiemiljøet ved
                                    å fremme sosialt samvær, faglig kompetanse og kontakt med næringslivet.</p>
                                    <p>Linjeforeningen består av omtrent 100 frivillige medarbeidere,
                                    fordelt over Hovedstyret, komiteer og nodekomiteer. I tillegg til vervene i
                                    linjeforeningen er mange studenter også engasjert i Realfagskjelleren,
                                    Datakameratene FK og Casual Gaming.</p>
                                    <p>Vi har kontorer på Gløshaugen i Høgskoleringen 3, også kjent som P15. Her
                                    fins det mat og drikke for alle som vil ha, og ofte kan det være greit å
                                    finne hjelp til en øving eller et prosjekt man jobber med. Det er heller
                                    ikke uhørt at triKom serverer vafler eller kake.</p>
                                    <p>Ekskursjoner, kurs og presentasjoner fra bedrifter er ukentlige hendelser
                                    hos oss. Mange arrangementer er sponset av linjeforeningen eller bedrifter
                                    slik at du kan hygge deg i godt selskap selv om studielånet er langt unna.</p>
                                    <p>I de siste årene har Online hatt en eventyrlig vekst på alle områder,
                                    og har etablert seg som en betydningsfull organisasjon i Trondheim. Fokus
                                    på samarbeid og kommunikasjon har drevet frem mange gode initiativer hvor
                                    vi har stått langt fremme som pådrivere.</p>
                                    <p>Hos oss vil du stifte nye vennskap som vil vare livet ut, og hjelpe
                                    deg når du skal ut i arbeidslivet. Du vil trives i Online!</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="about-hovedstyret">
{% filter markdown %}
{% chunk 'om_hovedstyret' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-hovedsamarbeidspartner">
{% filter markdown %}
{% chunk 'om_hovedsamarbeidspartner' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-arrkom">
{% filter markdown %}
{% chunk 'om_arrkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-bankom">
{% filter markdown %}
{% chunk 'om_bankom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-bedkom">
{% filter markdown %}
{% chunk 'om_bedkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-dotkom">
{% filter markdown %}
{% chunk 'om_dotkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-fagkom">
{% filter markdown %}
{% chunk 'om_fagkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-prokom">
{% filter markdown %}
{% chunk 'om_prokom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-senkom">
{% filter markdown %}
{% chunk 'om_senkom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-trikom">
{% filter markdown %}
{% chunk 'om_trikom' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-noder">
{% filter markdown %}
{% chunk 'om_noder' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-interessegrupper">
{% filter markdown %}
{% chunk 'om_interessegrupper' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-kjelleren">
{% filter markdown %}
{% chunk 'om_kjelleren' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-datakameratene">
{% filter markdown %}
{% chunk 'om_datakameratene' %}
{% endfilter %}
                        </div>
                        <div class="tab-pane" id="about-cag">
{% filter markdown %}
{% chunk 'om_casual_gaming' %}
{% endfilter %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <ul class="nav nav-pills nav-stacked" id="about-tabs">
                        <li class="nav-header">Organisasjonen</li>
                        <li class="active"><a data-prefixom="false" href="#about-online">Om Online</a></li>
                        <li><a href="#about-hovedstyret">Hovedstyret</a></li>
                        <li><a href="#about-hovedsamarbeidspartner">Hovedsamarbeidspartner</a></li>
                        <li class="nav-header">Komiteer</li>
                        <li><a href="#about-arrkom">Arrkom</a></li>
                        <li><a href="#about-bankom">Bankom</a></li>
                        <li><a href="#about-bedkom">Bedkom</a></li>
                        <li><a href="#about-dotkom">Dotkom</a></li>
                        <li><a href="#about-fagkom">Fagkom</a></li>
                        <li><a href="#about-prokom">Prokom</a></li>
                        <li><a href="#about-senkom">Seniorkomiteen</a></li>
                        <li><a href="#about-trikom">Trikom</a></li>
                        <li class="nav-header">Annet</li>
                        <li><a href="#about-noder">Nodekomiteer</a></li>
                        <li><a href="#about-interessegrupper">Interessegrupper</a></li>
                        <li><a href="#about-kjelleren">Realfagskjelleren</a></li>
                        <li><a href="#about-datakameratene">Datakameratene FK</a></li>
                        <li><a href="#about-cag">Casual Gaming</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div id="business-profiling" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="businessProfiling" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Bedriftspresentasjon</h3>
                    <p>Vi får ganske regelmessig besøk fra både små og store IT-bedrifter som har behov for dyktige utviklere, konsulenter og systemarkitekter o.l. En bedriftspresentasjon gir hovedsaklig en mulighet for å opprette kontakt mellom bedrift og aktuelle studenter. Rekruttering gjennom denne kanalen er veldig aktuell og de aller fleste studentene bruker dette som et springbrett for sin karriere. </p>
                    <p>Dette er et eksempel på hvordan mange bedrifter velger å gjøre det, men er på ingen måte en fasit. Noen bedrifter har valgt å gå utenfor denne «malen» med suksess, så det er alltid rom for nye ideer. Bedriftspresentasjonene blir vanligvis gjennomført på Gløshaugen, med påfølgende servering i en uformell setting, hvor det kan stilles spørsmål og der studentene kan bli kjent med dere og omvendt. Vi stiller med lokaler, markedsføring, påmelding og deltagere. I tillegg tilrettelegger vi servering og eventuell transport etter ønske og behov. Fra deres side håper vi at dere stiller med motiverte ansatte som leverer en informativ og hyggelig presentasjon, og som kan svare på de spørsmål studentene måtte ha.</p>
                    <p>Som nevnt består informatikk av både bachelor- og masterstudie. De fleste bedrifter henvender seg til masterstudentene våre, men det skal nevnes at bachelorstudentene også har et fullverdig studium.</p>
                    <h3>Annonsering i Offline</h3>
                    <p>Ta kontakt for mer informasjon.</p>
                    <h3>Stillingsutlysning på web</h3>
                    <p>Ta kontakt for mer informasjon.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <div id="business-academic"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="businessAcademic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Kurs/Workshop/Foredrag</h3>
                    <p>Studentene ved informatikk har mange ulike interesser og det er alltid gøy å se hva bedrifter holder på med. Det har blitt gjennomført kurs i for eksempel Ruby on Rails, Test Driven Development, Scrum og mye mer.</p>
                    <p>I motsetning til bedriftspresentasjoner er det begrensinger på hvor lenge bedriften kan fortelle om seg selv. Det er ment som et faglig tilskudd til studiet og innholdet må gjenspeile dette. Selve kursgjennomføringen er ofte litt mer uformell enn ved en bedriftspresentasjon. Det å få studentene til å være med er viktig. Som ved en bedriftspresentasjon vil vi ordne det meste, ved spesialbehov gjør vi vårt beste for å ordne dette også.</p>
                    <p>Da kurs gjerne ikke er direkte rettet for rekruttering er det mye vanligere å åpne for alle årstrinn slik at folk med alle mulige interesser kan delta. Det er selvsagt en del kurs som krever forkunnskaper, men det er bare å spesifisere i eventen.</p>
                    <h3>Hackathon</h3>
                    <p>Ta kontakt for mer informasjon.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
