{% load chunks %}
{% load markup %}

<section id="offline">
    <div class="container">
        <div class="page-header clearfix">
            <div class="row">
                <div class="col-md-8 col-xs-6">
                    <h2 id="events-heading">OFFLINE</h2>
                </div>
                <div class="col-md-4 col-xs-6 archive-link">
                    <a href="{% url 'offline' %}">ARKIV
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ingress">
{% filter markdown %}
{% chunk "offline_ingress" %}
{% endfilter %}
                </div>
{% filter markdown %}
{% chunk "offline_brodtekst" %}
{% endfilter %}
            </div>
            <div class="col-md-6">
                <div id="offlineCarousel" class="carousel slide" data-prefix="{{ MEDIA_URL }}">
                    <!-- Carousel items -->
                    <div class="carousel-inner"></div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#offlineCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="carousel-control right" href="#offlineCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
