.form-group {
  padding-bottom: 30px;
}

#id_description {
  height: 130px;
}

.event-hero-title, h5 {
  font-weight: bold;
  font-size: 1.5em;
}

.event-hero-large-text {
  padding: 20px 5px;
  font-size: 1.1em;
}

.event-hero-meta .row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
