<div class="row-fluid">
    <form method="post" action="{% url 'apps.profiles.views.savePassword' %}">
        <div class="span12">
            {% csrf_token %}
            <div class="row-fluid row-space">
                <h3>Bytt passord</h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {{ password_change_form }}
                </div>
            </div>
        </div>
        <div class="span12 form-actions" style="margin-left: 0px">
            <button class="btn btn-success pull-right" type="submit">Lagre passord</button>
        </div>
    </form>
</div>