{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-12">
        <h3>Bytt passord</h3>
    </div>
</div>
<form method="post" action="{% url 'profile_password' %}">
    <div class="col-md-12">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ password_change_form|crispy }}
                <div class="col-md-12 form-actions" style="margin-left: 15px">
                    <button class="btn btn-success pull-right" type="submit">Lagre passord</button>
                </div>
            </div>
        </div>
    </div>
</form>
