{% load gravatar_url_resolver %}
{% load crispy_forms_tags %}

<div class="row row-space">
	<div class="col-md-10">
		<p class="ingress">Velkommen til din side, {{ user.get_full_name}}.</p>
		<p>Bruk menyen til venstre for å justere dine innstillinger.</p>
	</div>
	<div class="col-md-2">
		{% gravatar_url user 120 as gravatar_url %}
        <img class="img-thumbnail" src="{{ gravatar_url }}" alt="" />
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h4>Din profilinformasjon</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="row" style="margin-bottom:20px;">
			<div class="col-md-4">
				<b>Navn</b><br />{{ user.get_full_name }}
			</div>
			<div class="col-md-4">
				<b>Studieretning</b><br />{{ user.get_field_of_study_display }}
			</div>
			<div class="col-md-4">
				<b>Klassetrinn</b><br />{{ user.year }}
			</div>
		</div>
		<div class="row" style="margin-bottom:20px;">
	    	<div class="col-md-4">
				<b>Adresse</b><br />{{ user.address }}<br />{{ user.zip_code }}
			</div>
			<div class="col-md-4">
				<b>Telefonnummer</b><br />{{ user.phone_number }}
			</div>
			<div class="col-md-4">
				<b>Kallenavn</b><br />{{ user.nickname }}
			</div>
		</div>
		<div class="row" style="margin-bottom:40px;">
			<div class="col-md-12" style="margin-bottom:10px;">
				<b>Posisjoner</b>
			</div>
			{% if not user.positions.all %}
				<div class="col-md-12">
					<em>Ingen posisjoner registrert...</em>
				</div>
			{% else %}
				{% for position in user.positions.all %}
					<div class="col-md-12">
						{{ position.period }}: {{ position.get_position_display }}, {{ position.get_committee_display }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>