{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
Min side - Online
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'profiles' 'css' %}
{% endblock %}

{% block content %}
    <section id="profile">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Min side</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <ul class="nav nav-pills nav-stacked" id="profile-tabs">
                        <li class="{% ifequal 'overview' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'overview' %}" data-section="overview">Oversikt</a>
                        </li>
                        {% if feedback_pending|length > 0 or active_tab == 'feedback_pending' %}
                            <li class="{% ifequal 'feedback_pending' active_tab %}active{% endifequal %}">
                                <a href="{% url 'profiles_active' 'feedback_pending' %}" data-section="feedback_pending">
                                    Manglende tilbakemeldinger ({{ feedback_pending|length }})
                                </a>
                            </li>
                        {% endif %}
                        <li class="{% ifequal 'edit' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'edit' %}" data-section="edit">Rediger profil</a>
                        </li>
                        <li class="{% ifequal 'saldo' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'saldo' %}" data-section="saldo">Saldo</a>
                        </li>
                        <li class="{% ifequal 'position' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'position' %}" data-section="position">Legg til verv</a>
                        </li>
                        <li class="{% ifequal 'privacy' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'privacy' %}" data-section="privacy">Personvern</a>
                        </li>
                        <li class="{% ifequal 'connected_apps' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'connected_apps' %}" data-section="connected_apps">Apptilkoblinger</a>
                        </li>
                        <li class="{% ifequal 'marks' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'marks' %}" data-section="marks">Prikker &amp; suspensjoner</a>
                        </li>
                        <li class="{% ifequal 'password' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'password' %}" data-section="password">Passord</a>
                        </li>
                        <li class="{% ifequal 'email' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'email' %}" data-section="email">Epost-innstillinger</a>
                        </li>
                        <li class="{%ifequal 'membership' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'membership' %}" data-section="membership">Medlemskap</a>
                        </li>
                        <li class="{% ifequal 'payments' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'payments' %}" data-section="payments">Betalinger</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-12">
                    <div id="tab-content">
                        <section id="overview">
                            {% include "profiles/overview.html" %}
                        </section>
                        <section id="feedback_pending">
                            {% include "profiles/feedback_pending.html" %}
                        </section>
                        <section id="edit">
                            {% include "profiles/edit.html" %}
                        </section>
                        <section id="saldo">
                            {% include "profiles/saldo_redirect.html" %}
                        </section>
                        <section id="position">
                            {% include "profiles/positions.html" %}
                        </section>
                        <section id="privacy">
                            {% include "profiles/privacy.html" %}
                        </section>
                        <section id="connected_apps">
                            {% include "profiles/connected_apps.html" %}
                        </section>
                        <section id="marks">
                            {% include "profiles/marks.html" %}
                        </section>
                        <section id="password">
                            {% include "profiles/change_password.html" %}
                        </section>
                        <section id="email">
                            {% include "profiles/email.html" %}
                        </section>
                        <section id="membership">
                            {% include "profiles/membership.html" %}
                        </section>
                        <section id="payments">
                            {% include "profiles/payments.html" %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}
{% block js %}
    {{ block.super }}
    {% render_bundle 'profiles' 'js' %}
{% endblock %}
