{% extends "base.html" %}
{% load compress %}

{% block title %}
Min side - Online
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}less/jcrop/jquery.Jcrop.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}less/jquery-ui/jquery.ui.datepicker.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}less/jquery-ui/jquery.ui.theme.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}less/jquery-ui/jquery.ui.core.min.css" />
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/profiles.less" />
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/typeahead.less" />
    {% endcompress %}
{% endblock %}

{% block content %}
    <section id="profile">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Min side</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <ul class="nav nav-pills nav-stacked" id="profile-tabs">
                        <li class="{% ifequal 'overview' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'overview' %}" data-section="overview">Oversikt</a>
                        </li>
                        <li class="{% ifequal 'edit' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'edit' %}" data-section="edit">Rediger profil</a>
                        </li>
                        <li class="{% ifequal 'saldo' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'saldo' %}" data-section="saldo">Saldo</a>
                        </li>
                        <li class="{% ifequal 'position' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'position' %}" data-section="position">Legg til verv</a>
                        </li>
                        <li class="{% ifequal 'privacy' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'privacy' %}" data-section="privacy">Personvern</a>
                        </li>
                        <li class="{% ifequal 'connected_apps' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'connected_apps' %}" data-section="connected_apps">Apptilkoblinger</a>
                        </li>
                        <li class="{% ifequal 'marks' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'marks' %}" data-section="marks">Prikker &amp; Suspansjoner</a>
                        </li>
                        <li class="{% ifequal 'password' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'password' %}" data-section="password">Passord</a>
                        </li>
                        <!--{% if  in_comittee %}
                        <li class="{% ifequal 'internal_services' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'internal_services' %}" data-section="internal_services">Interne tjenester</a>
                        </li>-->
                        {% endif %}
                        <li class="{% ifequal 'email' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'email' %}" data-section="email">Epost-innstillinger</a>
                        </li>
                        <li class="{%ifequal 'membership' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'membership' %}" data-section="membership">Medlemskap</a>
                        </li>
                        <li class="{% ifequal 'payments' active_tab %}active{% endifequal %}">
                            <a href="{% url 'profiles_active' 'payments' %}" data-section="payments">Betalinger</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-12">
                    <div id="tab-content">
                        <section id="overview">
                            {% include "profiles/overview.html" %}
                        </section>
                        <section id="edit">
                            {% include "profiles/edit.html" %}
                        </section>
                        <section id="saldo">
                            {% include "profiles/saldo.html" %}
                        </section>
                        <section id="position">
                            {% include "profiles/positions.html" %}
                        </section>
                        <section id="privacy">
                            {% include "profiles/privacy.html" %}
                        </section>
                        <section id="connected_apps">
                            {% include "profiles/connected_apps.html" %}
                        </section>
                        <section id="marks">
                            {% include "profiles/marks.html" %}
                        </section>
                        <section id="password">
                            {% include "profiles/change_password.html" %}
                        </section>
                        <section id="internal_services">
                            {% include "profiles/internal_services.html" %}
                        </section>
                        <section id="email">
                            {% include "profiles/email.html" %}
                        </section>
                        <section id="membership">
                            {% include "profiles/membership.html" %}
                        </section>
                        <section id="payments">
                            {% include "profiles/payments.html" %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/hogan-2.0.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/typeahead.min.js"></script>
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.color.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/Utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/profiles.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/zipcodecity.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/imagesloaded.pkgd.min.js"></script>
    {% endcompress %}
        <script type="text/javascript">
        // Smart toggle function that we add to jQuery
        (function($) {
            $.fn.toggleDisabled = function(){
                return this.each(function(){
                    this.disabled = !this.disabled;
                });
            };
        })(jQuery);

        $(function () {
            {% verbatim %}
            var user_search_template =  [
            '<img width="100%" src="{{ image }}" alt="" />',
            '<span data-id="{{ id }}" class="user-meta"><h4>{{ name }}</h4>',
            ].join('');
            {% endverbatim %}

            $('#search-users').typeahead({
                remote: "{% url 'profiles_api_user_search' %}?query=%QUERY",
                updater: function (item) {
                    return item;
                },
                template: user_search_template,
                engine: Hogan
            }).on('typeahead:selected typeahead:autocompleted', function(e, datum) {
                window.location = '/profile/' + datum.username;
            });

            $('#id_present').on('change', function () {
                $('#id_end_year').toggleDisabled();
            });
        });
        </script>
{% endblock %}
