{% load crispy_forms_tags %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <h3>E-post-instillinger</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <table class="table emailtable">
            <thead>
                <tr><th>Epostadresser</th><th></th></tr>
            </thead>
            <tbody>
            {% for email in user.get_emails %}
                <tr>
                    <form method="post">
                        <td><span class="email">{{ email }}</span></td>
                        <td>
                            <div class="btn-group pull-right">
                            {% if email.verified %}
                                {% if email.primary %}
                                    <button type="button" class="btn btn-sm btn-success primary active" disabled>
                                {% else %}
                                    <button type="button" class="btn btn-sm btn-default primary">
                                {% endif %}
                                    {% if email.primary %}Primær{% else %}Sett primær{% endif %}
                                </button>
                            {% endif %}
                            {% if not email.verified %}
                                <button type="button" class="btn btn-sm btn-primary verify">Verifiser</button>
                            {% endif %}
                                <button type="button" class="btn btn-danger btn-sm delete">Slett</button>
                            </div>
                        </td>
                    </form>
                </tr>
            {% endfor %}
                <tr class="addnewemail" style="display:none;">
                    <form method="post" action="{% url 'profile_add_email' %}">
                        {% csrf_token %}
                        <td><input type="text" name="new_email" value="Ny Epostadresse" id="addnewemailinput" class="emptyonclick" /></td>
                        <td>
                            <button type="submit" class="btn btn-success btn-sm add">Legg til</button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success btn-sm addnewemail">Legg til ny epostadresse</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        {{ mail_settings|crispy }}
    </div>
</div>
