<div class="row">
    <div class="col-md-12">
        <h3>Godkjenning av prikkeregler</h3>
    </div>
</div>
<div class="row-space"></div>
<div class="row">
    <div class="col-md-12">
	<p><strong>NB!</strong> Godkjennig av prikkereglene er endelig, med mindre endringer i reglene forekommer.</p>
        <button class="marks {% ifequal mark_rules_accepted True %}on{% else %}off{% endifequal %}" {% ifequal mark_rules_accepted True %}disabled{% endifequal %}>
            <input id="marks-checkbox" type="checkbox" {% ifequal mark_rules_accepted True %}checked{% endifequal %}>
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h3>Mine prikker</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="marksaccordion">
            {% for heading, mark_list, is_collapsed in marks %}
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#marksaccordion" href="#collapse-{{ heading|slugify }}">
                        <h5>{{ heading|capfirst }}</h5>
                    </div>
                    <div id="collapse-{{ heading|slugify }}" class="panel-collapse collapse {% if not is_collapsed %}in{% endif %}">
                        <div class="panel-body">
                            {% if mark_list|length == 0 %}
                                Du har ingen {{ heading }}.
                            {% endif %}
                            {% for mark in mark_list %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mark">
                                            <div class="markheader">
                                                {{ mark.title }}
                                            </div>
                                            <div class="markbody">
                                                <div class="inline">
                                                    <div class="row">
                                                        <div class="col-md-5"><b>Kategori:</b></div>
                                                        <div class="col-md-7">
                                                            {{ mark.get_category_display }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="inline">
                                                    <div class="row">
                                                        <div class="col-md-5"><b>Beskrivelse:</b></div>
                                                        <div class="col-md-7">
                                                            {{ mark.description }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="inline">
                                                    <div class="row">
                                                        <div class="col-md-5"><b>Utdelt:</b></div>
                                                        <div class="col-md-7">
                                                            {{ mark.added_date }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="inline">
                                                    <div class="row">
                                                        <div class="col-md-5"><b>Utløpsdato:</b></div>
                                                        <div class="col-md-7">
                                                            {{ mark.expiration_date }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<hr>
<div class="row">
    <div class="col-md-12">
        <h3>Prikk?</h3>
        <ul>
            <p>En prikk innebærer at du vil måtte vente 24 timer lenger enn alle andre på å kunne få meldt deg på et arrangement. To prikker gir 48 timer, og så videre.
        </ul>
        <h3>Generelle prikkeregler for kurs, bedriftspresentasjoner og arrangementer:</h3>
        <ul>
            <li>
                 kreves at en møter opp ved påmelding til et arrangement. Dersom du må melde deg av etter avmeldingsfristen har gått ut, sender du en mail til den ansvarlige komiteen og melder frafall slik at vi kan gi plassen din videre. Du vil få prikk så lenge avmeldingsfristen er ute.
            </li>
            <li>
                Ved frafall etter avmeldingsfristen pga sykdom må dette meldes til den ansvarlige komiteen senest samme dag som kurset/bedriftspresentasjonen/arrangementet kl.12.00. Dette for å kunne endre antall personer ved bespisning. Avbud senere enn dette vil gi en prikk.
            </li>
            <li>
                Ved kurs og bedriftspresentasjon åpnes ventelisten normalt ti minutter etter dørene åpnes. Kommer du senere enn dette kan du risikere at din plass er gitt videre til en annen student. Du vil da få prikk for manglende oppmøte.</p>
            </li>
            <li>
                Det kreves at en deltager svarer på den elektroniske tilbakemeldingen etter bedriftspresentasjon og kurs. Det vil komme epost dagen etter presentasjonen med lenke til tilbakemeldingsskjema som må besvares innen noen få dager (frist er oppgitt i eposten). Om en deltager ikke svarer innen fristen vil dette gi en prikk.
            </li>
        </ul>
        <p><strong>Betalingsarrangement</strong></p>
        <ul>
            <li>
                Betalingsfrister skal overholdes! Man får en prikk for betaling etter fristen, og utestenging fra neste betalingsarrangement fram til man har betalt det utestående beløpet
            </li>
            <li>
                Hvis man er påmeldt et betalingsarrangement, og har betalt, er det ikke mulighet for å få tilbakebetalt pengene etter betalingsfristen. Unntak for dette vil være om det er personer på ventelisten. Da kan vi kontakte disse for å ta over plassen og betalingen. Dette må avtales med komiteen som har ansvar for betalingsarrangementet, som oftest Arrangementskomiteen. Man får en prikk som vanlig, når man melder seg av for sent.
            </li>
        </ul>
        <h3>Hvorfor har jeg fått en prikk?</h3>
        <ul>
            <p>På toppen av denne siden vil du kunne se grunnen til prikkene dine. Om de ikke vises kan du ta kontakt med  <a href="mailto:dotkom@online.ntnu.no">dotKom</a>, så finner de det ut for deg.</p>
        </ul>
        <p><strong>Ved upassende oppførsel under et av Onlines arrangement vil du stå økonomisk ansvarlig for eventuelle skader, og i verste fall risikere utestengelse fra <em>alle</em> Onlines arrangement</strong></p>
    </div>
</div>
