{% load markdown_deux_tags %}
<div class="row">
    <div class="col-md-12">
        <h3>Godkjenning av prikkeregler</h3>
    </div>
</div>
<div class="row-space"></div>
<div class="row">
    <div class="col-md-12">
	<p><strong>NB!</strong> Godkjennig av prikkereglene er endelig, med mindre endringer i reglene forekommer.</p>
        <button class="marks {% ifequal mark_rules_accepted True %}on{% else %}off{% endifequal %}" {% ifequal mark_rules_accepted True %}disabled{% endifequal %}>
            <input id="marks-checkbox" type="checkbox" {% ifequal mark_rules_accepted True %}checked{% endifequal %}>
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h3>Mine prikker</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="marksaccordion">
            {% for heading, mark_list, is_collapsed in marks %}
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#marksaccordion" href="#collapse-{{ heading|slugify }}">
                        <h5>{{ heading|capfirst }}</h5>
                    </div>
                    <div id="collapse-{{ heading|slugify }}" class="panel-collapse collapse {% if not is_collapsed %}in{% endif %}">
                        <div class="panel-body">
                            {% if mark_list|length == 0 %}
                                Du har ingen {{ heading }}.
                            {% endif %}
                            {% for mark_user in mark_list %}
                                <div class="row row-space">
                                    <div class="col-md-12">
                                        <h4>{{ mark_user.mark.title }} <span class="pull-right">{{ mark_user.mark.added_date }}</span></h4>
                                        <p>{{ mark_user.mark.description}}</p>
                                        <p><b>Kategori: </b>{{ mark_user.mark.get_category_display }}</p>
                                        <p><b>Utløpsdato: </b>{{ mark_user.expiration_date }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Mine suspensjoner</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="marksaccordion">
            {% for heading, suspension_list, is_collapsed in suspensions %}
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#marksaccordion" href="#collapse-{{ heading|slugify }}">
                        <h5>{{ heading|capfirst }}</h5>
                    </div>
                    <div id="collapse-{{ heading|slugify }}" class="panel-collapse collapse {% if not is_collapsed %}in{% endif %}">
                        <div class="panel-body">
                            {% if suspension_list|length == 0 %}
                                Du har ingen {{ heading }}.
                            {% endif %}
                            {% for suspension in suspension_list %}
                                <div class="row row-space">
                                    <div class="col-md-12">
                                        <h4>{{ suspension.title }} <span class="pull-right">{{ suspension.added_date }}</span></h4>
                                        <p>{{ suspension.description|urlize }}</p>
                                        {% if suspension.expiration_date %}
                                            <p><b>Utløpsdato: </b>{{ suspension.expiration_date }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-12">
        {{ mark_rule_set.content|striptags|markdown }}
    </div>
</div>
