{% load crispy_forms_tags %}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Medlemskap</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 membership-text">
        Her kan du søke medlemskap i Online, Linjeforeningen for Informatikk! <br>
        Ved å bli medlem i Online, så får du muligheten til å delta på Online sine mange arrangementer
        gjennom skoleåret.
        {% if not has_active_approvals %}
        <br/> Hvorfor nøle? Søk nå!
        {% endif %}
    </div>
</div>
{% if not has_active_approvals %}
    {% if not user.ntnu_username %}
        <div class="row">
            <div class="col-xs-12">
                <h4>Vennligst bekreft din studentstatus først:</h4>
                {% comment %}
                med auth0 vil dette endres til "Knytt NTNU-konto til Online-brukeren", og samtidig legge til støtte for
                innlogging via FEIDE.
                {% endcomment %}
                <a href="{% url 'dataporten:study' %}" class="btn btn-success membership-button">
                    Bekreft studentstatus hos NTNU
                </a>

                <p>
                    Dersom du studerer informatikk vil du automatisk bli innvilget medlemskap.
                </p>
            </div>
        </div>
    {% else %}
    {% comment %} user has confirmed student-status at a previous time {% endcomment %}
        {% if user.has_expiring_membership %}
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <p class="ingress">
                        Ettersom du har et gammelt medlemskap kan du søke om å få dette forlenget. Forlengelsen er for ett år om gangen.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <form id="membership-application" method="post" action="{% url 'approval_send_membership_application' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success pull-right">Send søknad om forlengelse</button>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <a href="{% url 'dataporten:study' %}" class="btn btn-success membership-button">
                    Oppdater medlemskapet ditt via NTNU
                </a>
            </div>
        </div>
        <p>
            Nettopp kommet inn på master?

            Du kan automatisk oppdatere medlemskapet ditt her så snart det er registrert i Studentweb.
        </p>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <button class="btn btn-warning membership-button manual-membership-button">
                    Søk medlemskap med manuell godkjenning
                </button>
            </div>
        </div>
        <div class="manual-membership-form">
            <div class="row">
                <div class="col-md-12">
                    <p class="ingress">
                        Ble klassetrinnet feil, eller planlegger du å søke overgang til informatikk og vil bli sosialt medlem? Da kan du søke om å få det manuellt godkjent her.
                    </p>
                    <p>
                        Merk at det er viktig at du legger inn virkelig informasjon i dette skjemaet. Fusk med feil startdato
                        og studieretning kan få konsekvenser, og du risikerer utestengelse fra linjeforeningens
                        arrangementer.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <form id="field-of-study-application" enctype="multipart/form-data" method="post" action="{% url 'approval_send_fos_application' %}">
                        {% csrf_token %}
                        {{ field_of_study_application.started_semester|as_crispy_field }}
                        {{ field_of_study_application.started_year|as_crispy_field }}
                        {{ field_of_study_application.field_of_study|as_crispy_field }}
                        <div id="field-of-study-application-documentation">
                            <p>
                                Manuell søknad om studieretning krever at du laster opp f.eks et skjermbilde av
                                Studentweb for å vise at du studerer informatikk.
                            </p>
                            <p id="social-membership-application">
                                For å søke sosialt medlemsskap i linjeforeningen, kreves det at du tar over 50% informatikk
                                emner (15 stp+) ved NTNU per semester og at du planlegger å søke overgang til informatikk.
                                Dette kan du vise ved studieplanen på Studentweb.
                            </p>
                            {{ field_of_study_application.documentation|as_crispy_field }}
                        </div>
                        <button type="submit" class="btn btn-success pull-right">Send søknad</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
<div class="row">
    <div class="col-md-12">
        <p>Dersom du oppdager feil eller mangler i søknaden din kan du slette den og sende inn en ny.</p>
    </div>
</div>
{% endif %}
<hr>
<div class="row row-space-sm">
    <div class="col-md-12">
        <div class="panel-group" id="approvalsaccordion">
            {% for heading, app_list, is_collapsed in approvals %}
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#approvalsaccordion" href="#collapse-{{ heading|slugify }}">
                        <h5>{{ heading|capfirst }}</h5>
                    </div>
                    <div id="collapse-{{ heading|slugify }}" class="panel-collapse collapse {% if not is_collapsed %}in{% endif %}">
                        <div class="panel-body">
                            {% for app in app_list %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="application">
                                            <div class="applicationheader">
                                                {{ app }}
                                            </div>
                                            <div class="applicationbody">
                                                <div class="inline">
                                                    <div class="row">
                                                        <div class="col-md-3"><b>Opprettet dato:</b></div>
                                                        <div class="col-md-9"> {{ app.created }}</div>
                                                    </div>
                                                </div>
                                                {% if app.is_fos_application %}
                                                    <div class="inline">
                                                        <div class="row">
                                                            <div class="col-md-3"><b>Startet på studiet:</b></div>
                                                            <div class="col-md-9"> {{ app.started_date }}</div>
                                                        </div>
                                                    </div>
                                                    <div class="inline">
                                                        <div class="row">
                                                            <div class="col-md-3"><b>Studieretning:</b></div>
                                                            <div class="col-md-9"> {{ app.get_field_of_study_display }}</div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if app.is_membership_application %}
                                                    <div class="inline">
                                                        <div class="row">
                                                            <div class="col-md-3"><b>Utløpsdato for medlemskap:</b></div>
                                                            <div class="col-md-9"> {{ app.new_expiry_date }}</div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if app.message %}
                                                    <div class="inline">
                                                        <div class="row">
                                                            <div class="col-md-3"><b>Melding fra godkjenner:</b></div>
                                                            <div class="col-md-9"> {{ app.message }}</div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if not app.processed %}
                                                    <div class="row-space-top-sm">
                                                        <a href="{% url 'approval_cancel_application' application_id=app.id %}" type="submit" class="btn btn-danger" value="{{ app.id }}">Slett søknad</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p>Du har ingen {{ heading }}.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
