{% load crispy_forms_tags %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <h3>Medlemskap</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
        {% if user.is_member %}
        <form method="post" action="{% url 'profile_save_membership_details' %}" >
            {{ membership_settings|crispy }}
            <button type="submit" id="save-membership-details" class="btn btn-success pull-right">Lagre</button>
        </form>
        {% else %}
            For å aktivere ditt medlemskap kreves det at du har knyttet din studentkonto til din profil.<br/ ><br />

            Gå til Epost-innstillinger og registrer din @stud.ntnu.no epost.
        {% endif %}
    </div>
</div>
