{% load gravatar_url_resolver %}
{% load crispy_forms_tags %}

<div class="row row-space">
	<div class="col-md-10">
		<p class="ingress">Velkommen til din side, {{ user.get_full_name}}.</p>
		<p>Bruk menyen til venstre for å justere dine innstillinger. På denne siden vil det etterhvert komme mer hendig info.</p>
		
	</div>
	<div class="col-md-2">
		{% gravatar_url user 120 as gravatar_url %}
        <img class="img-thumbnail dashboard-image" src="{{ gravatar_url }}" alt="" style="margin-bottom:20px" />
        <a href="{% url 'profiles_view' user.username %}" class="btn btn-primary btn-sm pull-right official-link">
			Offentlig profil 
			<i class="glyphicon glyphicon-chevron-right"></i>
		</a>
    </div>
</div>
<div class="row">
	<div class="col-md-12 ">
		<div class="page-header">
			<h4>Din profilinformasjon</h4>
		</div>			
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="row attribute-list">
			<div class="col-md-4">
				<b>Navn</b><br />{{ user.get_full_name }}
			</div>
			<div class="col-md-4">
				<b>Studieretning</b><br />{{ user.get_field_of_study_display }}
			</div>
			<div class="col-md-4">
				<b>Klassetrinn</b><br />{{ user.year }}
			</div>
		</div>
		<div class="row attribute-list">
            <div class="col-md-4">
                <b>Adresse</b><br />
                {% if user.address %}
                    <div id="address">{{ user.address|striptags }}</div>
                    <div id="zip-code">{{ user.zip_code|striptags }}</div>
                    <div id="city"><div class="refresh"></div></div>
                {% else %}
                    Ikke tilgjenglig
                {% endif %}
            </div>
            <div class="col-md-4">
                <b>Telefonnummer</b><br />
                {% if user.phone_number %}
                    {{ user.phone_number|striptags }}
                {% else %}
                    Ikke tilgjengelig
                {% endif %}
            </div>
            <div class="col-md-4">
                <b>Kallenavn</b><br />
                {% if user.nickname %}
                    {{ user.nickname }}
                {% else %}
                    Ikke tilgjengelig
                {% endif %}
            </div>
        </div>
        <div class="row attribute-list">
            <div class="col-md-4">
                <b>E-post</b><br />
                {% if user.get_email %}
                    {{ user.get_email }}
                {% else %}
                    Ikke tilgjengelig
                {% endif %}
            </div>
            <div class="col-md-4">
                <b> Komité E-Post</b><br />
                {% if user.online_mail%}
                    {{ user.online_mail }}@online.ntnu.no
                {% else %}
                    Ikke tilgjengelig
                {% endif%}
            </div>
            <div class="col-md-4">
                <b>NTNU-brukernavn</b><br />
                {% if user.ntnu_username %}
                    {{ user.ntnu_username }}
                {% else %}
                    Ikke tilgjengelig
                {% endif %}
            </div>
        </div>
        <div class="row attribute-list">
            <div class="col-md-4">
                <b>RFID</b><br />
                {% if user.rfid %}
                    {{ user.rfid }}
                {% else %}
                    Ikke tilgjengelig
                {% endif %}
            </div>
            <div class="col-md-4">
                <b>Hjemmeside</b><br />
                {% if user.website %}
                    {{ user.website }}
                {% else %}
                    Ikke tilgjengelig
                {% endif %}
            </div>
            <div class="col-md-4">
                <b>Github</b><br />
                {% if user.github %}
                    {{ user.github }}
                {% else %}
                    Ikke tilgjengelig
                {% endif %}
            </div>
        </div>    
        <div class="row attribute-list">
            <div class="col-md-4">
                <b>LinkedIn</b><br />
                {% if user.linkedin %}
                    {{ user.linkedin }}
                {% else %}
                    Ikke tilgjengelig
                {% endif %}
            </div>
        </div>
		<div class="row row-space">
			<div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <b>Verv i linjeforeningen</b>
                    </div>
                    <div class="col-md-8">
                        <b>Bio</b><br/>
                    </div>
                </div>
            {% if not user.positions.all and not user.special_positions.all %}
                <div class="row">
                    <div class="col-md-4">
                        <em>Ingen posisjoner registrert...</em>
                    </div>
                    <div class="col-md-8 bio">{{ user.bio }}</div>
                </div>
            {% else %}
                <div class="row row-small-space">
                    <div class="col-md-4 position">
                    {% for position in user.positions.all %}
                        <div>
                            <span class="glyphicon glyphicon-remove delete-position" data-position-id="{{ position.id }}"></span>
                            <p>{{ position.period }}: {{ position.get_position_display }}, {{ position.get_committee_display }}</p>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-md-8 bio">{{ user.bio }}</div>
                </div>
                {% if user.special_positions.all %}
                    <div class="row">
                        <div class="col-md-4" style="margin-top:10px;">
                            <b>Hedersposisjoner</b>
                        </div>
                        <div class="col-md-8 bio">{{ user.bio }}</div>
                    </div>
                    {% for position in user.special_positions.all %}
                        <div class="row row-small-space">
                            <div class="col-md-4">
                                Fra {{ position.since_year }}, {{ position.position }}
                            </div>
                            {% if forloop.first %}
                                <div class="col-md-8 bio">{{ user.bio }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %} 
            </div>
		</div>
	</div>
</div>
