<div class="row">
    <div class="col-md-12">
        <h3>Din Saldo: {{ request.user.saldo }}kr</h3>
    </div>
</div>
<div class="row-space"></div>
<div class="row">
    <div class="col-md-6">
        <select id="amount" class="form-control">
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
        </select>
    </div>

    <div class="col-md-6">
        <button id="stripeButton{{ payment_price.id }}" class="btn btn-primary payment-button">Fyll på saldo</button>
        <script src="{{ STATIC_URL }}js/libs/jquery-2.1.3.min.js"></script>
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script src="{{ STATIC_URL }}js/saldo.js"></script>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h3>Transaksjons Historikk</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <th>Beløp</th>
                <th>Tidspunkt</th>
                <th>Betalingsmetode</th>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.amount }}kr</td>
                        <td>{{ transaction.datetime }}</td>
                        {% if transaction.used_stripe %}
                            <td>Web</td>
                        {% else %}
                            <td>Kontant</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>