{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-sm-5">
                <div class="row row-space">
                    <div class="col-md-12">
                        <h3>Posisjoner</h3>
                        <p class="">
                            Her kan du registrere verv du har hatt i linjeforeningen Online.
                            En periode kan være på opptil et år. F.eks. fra høsten 2013 til våren 2014 vil skrives '2013-2014'.
                        </p>
                    </div>
                </div>
                <form action="{% url 'profile_position' %}" method="post">
                    <div class="row row-space">
                        {% csrf_token %}
                        {% for field in position_form %}
                            <div class="inline">
                                <div class="col-md-4">{{ field.label }}</div>
                                <div class="col-md-8" style="margin-bottom:5px;">
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row row-space">
                        <div class="col-md-12">
                            <input class="btn btn-success pull-right" type="submit" name="submit" value="Legg til stilling" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
