<div class="row-fluid">
    <form method="post" action="{% url 'save_privacy' %}" enctype="multipart/form-data">
        <div class="span12">
            {% csrf_token %}
            <div class="row-fluid">
                <div class="row-fluid row-space">
                    <div class="span12 inline">
                        <h3 style="display: inline">Personvern</h3>
                        <a href="#"
                           class="icon-question-sign"
                           data-toggle="popover"
                           data-content="Mørkere farge indikerer valgt, lysere indikerer ikke valgt. Dersom du velger at profilen din ikke skal være synlig for andre brukere, vil ikke de andre valgene ha noen effekt."
                           data-original-title="Hjelpeinformasjon"
                           id="privacy-help">
                        </a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        {% for field in privacy_form %}
                            <div class="privacybox {% if field.value %}on{% else %}off{% endif %} pull-left">
                                <span>{{ field.label }} {{ field }} </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="span12 form-actions" style="margin-left: 0px">
            <button class="btn btn-success pull-right" type="submit">Lagre personvern</button>
        </div>
    </form>
</div>