<div class="row">
    <div class="col-md-12">
        <h3>Saldo</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            13. januar 2018 ble betalingstjenestedirektivet (også kjent som
            PSD2) innført. PSD2 stiller krav om blant annet "Strong customer
            authentication" (SCA) fra 14. september 2019, som betyr at vi må
            støtte 3-D Secure. Derfor har dotkom måttet lage en ny saldoside.
        </p>
        <p>
            Den nye saldosiden ligger på beta-versjonen av Onlines nye
            nettsider. Dotkom minner om at beta-siden enda er under utvikling,
            og vi setter pris på all tilbakemelding dere kan gi.
        </p>
        <p>
            Vi er klar over at man må logge inn igjen på den nye siden, men hvis
            dere møter på problemer med den nye saldosiden kan dere sende en
            mail til <a href="mailto:dotkom@online.ntnu.no">dotkom</a> eller
            legge inn et issue på vårt Github
            <a href="https://github.com/dotkom/onlineweb-frontend">repository</a
            >.
        </p>
        <a href="https://beta.online.ntnu.no/payments" class="btn btn-primary">
            Gå til saldosiden
        </a>
    </div>
</div>
