{% extends 'base.html' %}
{% load gravatar_url_resolver %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}


{% block styles %}
    {{ block.super }}
    {% render_bundle 'profiles' 'css' %}
{% endblock %}

{% block title %}
    Finn brukere - Online
{% endblock title %}

{% block content %}
<section id="user-search">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-header">Brukersøk</h1>
		</div>
	</div>
	<div class="row row-space-sm">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
			<p class="ingress">Her kan du søke i brukere og komitemedlemmer. Brukere som har skjult profilen sin vil ikke dukke opp her.</p>
			<form action="" role="search" method="get">
				<input type="text" id="search-users" autocomplete="off" name="search-users" placeholder="Søk etter bruker" />
			</form>
		</div>
	</div>
	<div class="row clearfix">
		<div id="display-users-wrapper" class="col-md-9">
			{% for group in groups %}
				<section id="{{ group }}">
					<div class="row">
						<div class="col-md-12">
							<h4 class="page-header">{{ group }}</h4>
						</div>
					</div>
					{% for user in group.user_set.all %}
						{% if user.privacy.visible_for_other_users %}
							<div class="row">
								<a href="{% url 'profiles_view' user.username %}">
									<div class="col-md-12 row-space-sm">
										<div class="col-md-2 profile-picture">
											{% gravatar_url user 120 as gravatar_url %}
										        <img class="img-thumbnail" src="{{ gravatar_url }}" width="100%" alt="" />
										</div>
										<div class="col-md-10">
											<div class="profile-name">{{ user.get_full_name|striptags }} &nbsp;</div>
											<b>Telefon</b>
											{% if user.privacy.expose_phone_number %}
												{% firstof user.phone_number|striptags '<em>Ikke tilgjengelig</em>' %}
											{% else %}
												<em>Ikke tilgjengelig</em>
											{% endif %}<br />
											<b>Epost</b> {% if user.privacy.expose_email %}
												{% firstof user.get_email.email|striptags '<em>Ikke tilgjengelig</em>' %}
											{% else %}
												<em>Ikke tilgjenglig</em>
											{% endif %}
										</div>
									</div>
								</a>
							</div>
						{% endif %}
					{% endfor %}
				</section>
			{% endfor %}
		</div>
		<div class="col-md-3 sidebar">
			<div id="affix" class=" hidden-print hidden-xs hidden-sm">
				<div class="affix-spinner-wrapper" style="margin-top:40px;">
					<p class="ingress text-center">Laster inn profilbilder...</p>
					<div class="affix-spinner" style="margin-top:120px;"></div>
				</div>
				<ul class="nav affix" style="margin-top:40px; display:none;">
					{% for group in groups %}
						<li class="{% if group.name == 'Hovedstyret' %}active{% endif %}">
							<a href="#{{ group }}">{{ group }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% render_bundle 'profiles' 'js' %}
{% endblock %}
