{% extends 'base.html'%}
{% load gravatar_url_resolver %}
{% load crispy_forms_tags %}
{% load compress %}
{% load firstof from future %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/profiles.less" />
    {% endcompress %}
{% endblock %}
{% block title %}
    Profilen til {{ user_profile.get_full_name }}
{% endblock title %}
{% block content %}
    <section id="public-profile">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Profil for {{ user_profile.get_full_name|striptags }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row attribute-list">
                        <div class="col-md-4">
                            <b>Navn</b><br />{{ user_profile.get_full_name|striptags }}
                        </div>
                        <div class="col-md-4">
                            <b>Studieretning</b><br />{{ user_profile.get_field_of_study_display }}
                        </div>
                        <div class="col-md-4">
                            <b>Klassetrinn</b><br />{{ user_profile.year }}
                        </div>
                    </div>
                    <div class="row attribute-list">
                        <div class="col-md-4">
                            <b>Adresse</b><br />
                            {% if user_profile.privacy.expose_address %}
                                {% if user_profile.address %}
                                    <div id="address">{{ user_profile.address|striptags }}</div>
                                    <div id="zip-code">{{ user_profile.zip_code|striptags }}</div>
                                    <div id="city"></div>
                                {% else %}
                                    Ikke tilgjenglig
                                {% endif %}
                            {% else %}
                                Ikke tilgjengelig
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <b>Telefonnummer</b><br />
                            {% if user_profile.privacy.expose_phone_number %}
                                {% firstof user_profile.phone_number|striptags 'Ikke tilgjengelig' %}
                            {% else %}
                                Ikke tilgjengelig
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <b>Kallenavn</b><br />
                            {% if user_profile.privacy.expose_nickname %}
                                {% firstof user_profile.nickname|striptags 'Ikke tilgjengelig' %}
                            {% else %}
                                Ikke tilgjengelig
                            {% endif %}
                        </div>
                    </div>
                    <div class="row attribute-list">
                        <div class="col-md-4">
                            <b>E-Post</b><br />
                            {% if user_profile.privacy.expose_email %}
                                {% firstof user_profile.get_email|striptags 'Ikke tilgjengelig' %}
                            {% else %}
                                Ikke tilgjengelig
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <b>NTNU-brukernavn</b><br />
                            {{ user_profile.ntnu_username }}
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:40px;">
                        <div class="col-md-12">
                        {% if user_profile.positions.all %}
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom:10px;">
                                    <b>Verv i linjeforeningen</b>
                                </div>
                            </div>
                            {% for position in user_profile.positions.all %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ position.period }}: {{ position.get_position_display }}, {{ position.get_committee_display }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if user_profile.special_positions.all %}
                            <div class="row">
                                <div class="col-md-12" style="margin:10px 0;">
                                    <b>Hedersposisjoner</b>
                                </div>
                            </div>
                            {% for position in user_profile.special_positions.all %}
                                <div class="row">
                                    <div class="col-md-12">
                                        Fra {{ position.since_year }}, {{ position.position }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if not user_profile.positions and not user_profile.special_positions %}
                            <div class="row">
                                <div class="col-md-12">
                                    <em>Ingen verv registrert...</em>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                        <div class="col-md-12" id="bio">
                            <b>Bio</b><br />
                            {% if user_profile.bio %}
                                {{ user_profile.bio|striptags }}
                            {% else %}
                                Ikke tiljengelig
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="{% url 'profiles' %}" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> Tilbake til profiloversikt</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    {% gravatar_url user_profile 286 as gravatar_url2 %}
                    <img class="img-thumbnail pull-right" src="{{ gravatar_url2 }}" alt="" />
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block js %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/zipcodecity.js"></script>
    {% endcompress %}
{% endblock %}
