<div class="row">
    <div class="col-lg-12">
        <a href="#" class="btn btn-primary" id="event_users_button"><i class="fa fa-users"></i> Legg til</a>
        <div id="event_edit_users" style="display: none;">
            <hr />
            <h4>Legg til brukere</h4>
            <p>Klikk på den aktuelle brukeren for å legge dem til på arrangementet</p>
            <input type="text" class="form-control" maxlength="50" autocomplete=off name="usersearch" id="usersearch" placeholder="Søk..." />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Påmeldte (<span id="attendees-count">{{ event.attendance_event.number_of_seats_taken }}</span>/{{ event.attendance_event.max_capacity }})</h3>
            </div>
            <div class="panel-body">
                <div id="attendees-content"{% if not event.attendance_event.attending_attendees_qs %} style="display: none;"{% endif %}>
                    <table class="table table-striped table-condensed tablesorter attendees" id="attendees-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fornavn</th>
                                <th>Etternavn</th>
                                {% if event.attendance_event.payment %}
                                    <th>Betalt</th>
                                {% endif %}
                                {% if payment_prices %}
                                    <th>Betalingstype</th>
                                {% endif %}
                                    <th>Møtt</th>
                                {% if event.attendance_event.has_extras %}
                                    <th>Extra</th>
                                {% else %}
                                    <th>Allergier</th>
                                {% endif %}
                                <th>Fjern</th>
                            </tr>
                        </thead>
                        <tbody id="attendeelist">
                        {% for attendee in event.attendance_event.attending_attendees_qs %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'dashboard_attendee_details' attendee.id %}">{{ attendee.user.first_name }}</a></td>
                                <td><a href="{% url 'dashboard_attendee_details' attendee.id %}">{{ attendee.user.last_name }}</a></td>
                                {% if event.attendance_event.payment %}
                                    <td>
                                        <a href="#" data-id="{{ attendee.id }}" class="toggle-attendee paid">
                                        <i class="fa fa-lg {% if attendee.paid %}fa-check-square-o checked{% else %}fa-square-o{% endif %}"></i>
                                        </a>
                                    </td>
                                {% endif %}
                                {% if payment_prices %}

                                    {% for key, value in payment_prices.items %}
                                        {%  if key == attendee %}
                                            <td>{{ value }}</td>
                                        {%  endif %}
                                    {%  endfor %}
                                {% endif %}
                                <td>
                                    <a href="#" data-id="{{ attendee.id }}" class="toggle-attendee attended">
                                    <i class="fa fa-lg {% if attendee.attended %}fa-check-square-o checked{% else %}fa-square-o{% endif %}"></i>
                                    </a>
                                </td>
                                {% if event.attendance_event.has_extras %}
                                <td>
                                    {% if attendee.extras %}{{ attendee.extras }}{% else %}-{% endif %}
                                </td>
                                {% else %}
                                <td>
                                    {% if attendee.user.allergies %}{{ attendee.user.allergies }}{% else %}-{% endif %}
                                </td>
                                {% endif %}
                                <td>
                                    <a href="#modal-delete-attendee" data-toggle="modal" data-id="{{ attendee.id }}" data-name="{{ attendee.user.get_full_name }}" class="remove-user">
                                        <i class="fa fa-times fa-lg red"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="no-attendees-content"{% if event.attendance_event.attending_attendees_qs %} style="display: none;"{% endif %}>
                    <p>Dette arrangementet har ingen påmeldte.</p>
                </div>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- col-lg-6 -->
</div><!-- row -->


<div id="modal-delete-attendee" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Bekreft avmelding av deltaker!</h3>
            </div>
            <div class="modal-body">
                <p>Er du sikker på at du vil fjerne <span class="modal-remove-user-name"></span> fra {{ event.title }}?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
                <button class="btn btn-danger confirm-remove-user" data-dismiss="modal" aria-hidden="true">Fjern</button>
            </div>
        </div>
    </div>
</div>
