{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}
Logg inn - Online
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'authentication' 'css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% render_bundle 'authentication' 'js' %}
{% endblock %}

{% block content %}
<section id="login">
    <div class="container">
        <div class="page-header">
            <h2>Logg inn</h2>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success" type="submit">Logg inn</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
