{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h2>Glemt passord</h2>
    </div>
    <div class="ingress">
    <p>Har du glemt passordet ditt? Skriv inn epostadressen din for å få tilsendt et nytt.</p>
    </div>
    <form method="post" action={% url 'auth_recover' %}>
        {% csrf_token %}
        <div class="row-fluid">
            <div class="span6">
                {% for field in form %}
                    <div class="inline">
                        <div class="span4">{{ field.label }}</div>
                        <div class="span8">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            </div><!-- /span6 -->
        </div><!-- /row-fluid -->
        
        <div class="span12 form-actions">
            <button class="tbn btn-success pull-right" type="submit">Registrer</button>
        </div>
    </form>
</div>
{% endblock content %}
