{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Lag bruker - Online
{% endblock title %}

{% block content %}
<section id="register">
    <div class="container">
        <div class="page-header">
            <h2>Registrer bruker</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="ingress">
                    Her kan du registerer en bruker hos Online. Om du er informatikkstudent må du legge inn din NTNU-epost i enten dette skjemaet, eller på din profil senere. For at du skal få riktige tilganger må du også registrere studieretning og startår på din profil etter du har gjennomført registreringen. Spørsmål? Kontakt oss på dotkom (at) online.ntnu.no.
                </p>
                <p class="ingress" style="color: red">
                    På grunn av et midlertidig problem i systemet vårt med NTNU-eposter, krever vi at alle nyregistrerte brukere bruker en epost-adresse fra en annen leverandør. Vi anbefaler å bruke personlig epost-adresse for registrering.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <form method="post" action={% url 'auth_register' %}>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success" type="submit">Registrer</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
