{% extends "base.html" %}
{% load compress %}

{% block title %}
Ressurssenter - Online
{% endblock title %}

{% block styles %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/resourcecenter.less">
{% endcompress %}
{% endblock %}

{% block content %}

<section id="resourcecenter">
	<div class="container">
		<div class="col-md-12">
			<div class="page-header">
				<h1 id="resourcecenter-heading">Ressurssenter</h1>
			</div>
		</div>
		<div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/mailingslists.png" alt="Epostlister" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Epostlister</h3>
					<p>
                        Kontakt linjeforeningene via epostlistene laget av Online.
						<ul>
							<li><a href="/resourcecenter/mailinglists">Epostlister her</a></li>
						</ul>
					</p>
				</div>
			</div>
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/slack.png" alt="Slack" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Slack</h3>
					<p>
						Vi har en Slack-kanal hvor det snakkes om alt mellom himmel og jord til alle døgnets tider.<br /><br />
                        Adressen til kanalen er <a href="https://onlinentnu.slack.com/">onlinentnu.slack.com</a>. Registrer deg med din @ntnu.no-eposten din.
						<ul>
							<li><a href="https://slack.com/downloads">Last ned app til mobil eller dekstop</a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/info.png" alt="Infosider" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Infosider</h3>
					<p>
						Lær om linjeforeningene i Trondheim på Onlines infosider.
						<ul>
							<li>Gløshaugen: <a href="http://gloshaugen.info">gloshaugen.info</a></li>
							<li>Dragvoll: <a href="http://dragvoll.info">dragvoll.info</a></li>
							<li>International orgs: <a href="http://studorg.info">studorg.info</a></li>
							<li>Moholtkjellerne: <a href="http://moholt.info">moholt.info</a></li>
							<li>Karrieredagene: <a href="http://karrieredager.info">karrieredager.info</a></li>
						</ul>
					</p>
				</div>
			</div>
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/samfundet.png" alt="Studentressurser" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Studentressurser</h3>
					<p>
						Nyttige lenker i studenthverdagen din.
						<ul>
							<li><a href="http://kid.item.ntnu.no/">Næringslivsnettverket KiD</a></li>
							<li><a href="http://samfundet.no">Studentersamfundet i Trondhjem</a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/code.png" alt="Kode" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Kode</h3>
					<p>
						Mange av dotkoms kodebaser ligger åpent på GitHub. Du er herved invitert til å bidra til våre prosjekter, <strong>send en pull request</strong>.
						<ul>
							<li><a href="https://github.com/dotKom/">github.com/dotkom</a></li>
						</ul>
					</p>
				</div>
			</div>
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/notifier.png" alt="Online Notifier" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Online Notifier</h3>
					<p>
						Linjeforeningsnyheter, middagsmeny, sanntidsbuss og mer. Notifier er en utvidelse til Chrome og Opera.
						<ul>
							<li><a href="http://chrome.google.com/webstore/detail/online-notifier/hfgffimlnajpbenfpaofmmffcdmgkllf">Notifier for Chrome</a></li>
							<li><a href="http://addons.opera.com/en/extensions/details/online-notifier/?display=no">Notifier for Opera</a></li>
							<li><a href="https://github.com/appKom/notifier">Åpen kildekode på GitHub</a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/servers.png" alt="Spillservere" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Spillservere</h3>
					<p>
						Ta en pause fra lesingen og spill med oss!
                        <ul>
							<li>MineCraft: <a href="minecraft.online.ntnu.no:25567">minecraft.online.ntnu.no:25567</a></li>
                            <li>CS:S: <a href="css.online.ntnu.no:27015">css.online.ntnu.no:27015</a></li>
					    </ul>
                    </p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/discord.png" alt="online_discord" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Discord</h3>
					<p>
						Online har i tillegg til sin hovedkanal på Slack en egen Discord-kanal! </br>Primært brukt til diverse gaming samtaler.
                        <ul>
							<li><a href="https://discord.gg/2XB9egU">Bli medlem av vår kanal her!</a></li>
					    </ul>
                    </p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}
