{% extends "base.html" %}
{% load compress %}

{% block title %}
Ressurssenter - Online
{% endblock title %}

{% block styles %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/resourcecenter.less">
{% endcompress %}
{% endblock %}

{% block content %}

<section id="resourcecenter">
	<div class="container">
		<div class="col-md-12">
			<div class="page-header">
				<h2 id="resourcecenter-heading">RESSURSSENTER</h2>
			</div>
		</div>
		<div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/mailinglists.jpg" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Epostlister</h3>
					<p>
						Kontakt linjeforeningene via epostlistene laget av Online.
						<ul>
							<li><a href="/resourcecenter/mailinglists">Epostlister her</a></li>
						</ul>
					</p>
				</div>
			</div>
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/irc.jpg" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>IRC</h3>
					<p>
						<strong>#online</strong> på <strong>irc.freenode.net</strong> er aktiv døgnet rundt, året rundt. Bli med i samtalen.
						<ul>
							<li><a href="http://webchat.freenode.net/?channels=online">Join #online via enkel WebChat</a></li>
							<li><a href="https://wiki.online.ntnu.no/projects/online/wiki/IRC">Guide til IRC i terminalen</a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/infopages.jpg" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Infosider</h3>
					<p>
						Lær om linjeforeningene i Trondheim på Onlines infosider.
						<ul>
							<li><a href="http://gloshaugen.info">gloshaugen.info</a>, Gløshaugen</li>
							<li><a href="http://dragvoll.info">dragvoll.info</a>, Dragvoll</li>
							<li><a href="http://kalvskinnet.info">kalvskinnet.info</a>, HiST</li>
							<li><a href="http://studorg.info">studorg.info</a>, International orgs</li>
							<li><a href="http://moholt.info">moholt.info</a>, Moholtkjellerne</li>
							<li><a href="http://karrieredager.info">karrieredager.info</a>, Karrieredagene</li>
						</ul>
					</p>
				</div>
			</div>
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/studentresources.jpg" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Studentressurser</h3>
					<p>
						Nyttige lenker i studenthverdagen din.
						<ul>
							<li><a href="http://kid.item.ntnu.no/">Næringslivsnettverket KiD</a></li>
							<li><a href="http://samfundet.no">Studentersamfundet i Trondhjem</a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/github.jpg" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Kode</h3>
					<p>
						Mange av dotKoms kodebaser ligger åpent på GitHub. Du er herved invitert til å bidra til våre prosjekter, <strong>send en pull request</strong>.
						<ul>
							<li><a href="https://github.com/dotKom/">github.com/dotkom</a></li>
						</ul>
					</p>
				</div>
			</div>
            <div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/notifier.jpg" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Online Notifier</h3>
					<p>
						Linjeforeningsnyheter, middagsmeny, sanntidsbuss og mer. Notifier er en utvidelse til Chrome og Opera.
						<ul>
							<li><a href="http://chrome.google.com/webstore/detail/online-notifier/hfgffimlnajpbenfpaofmmffcdmgkllf">Notifier for Chrome</a></li>
							<li><a href="http://addons.opera.com/en/extensions/details/online-notifier/?display=no">Notifier for Opera</a></li>
							<li><a href="mailto:dotkom@online.ntnu.no">Kontakt oss med ønsker</a></li>
							<li><a href="https://wiki.online.ntnu.no/projects/online/wiki/Notifier">Les om Notifier i wikien</a></li>
							<li><a href="http://github.com/dotKom/online-notifier">Åpen kildekode på GitHub</a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="col-md-5">
					<img src="{{ STATIC_URL }}img/resourcecenter/gameservers.jpg" />
				</div>
				<div class="col-md-7 resourcedescription">
					<h3>Spillservere</h3>
					<p>
						Ta en pause fra lesingen og spill Minecraft eller Counter-Strike: Source med oss!
					</p>
					<p>
						Åpne Minecraft og logg på <a href="minecraft.online.ntnu.no:25567">minecraft.online.ntnu.no:25567</a>
					</p>
					<p>
						Åpne CS:S og legg til <a href="css.online.ntnu.no:27015">css.online.ntnu.no:27015</a> i favorittene dine,
						eller koble til <a href="steam://connect/css.online.ntnu.no:27015">direkte.</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}
