{% extends "base.html" %}

{% block styles %}
	{{ block.super }}
    <link rel="stylesheet/less" href="{{ STATIC_URL }}less/resourcecenter.less">
{% endblock %}

{% block content %}
<section id="resourcecenter">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="page-header">
                    <h2 id="resourcecenter-heading">RESSURSSENTER</h2>
                </div>
            </div>
        </div>

		<div id="resourcecenter-items">
			
	        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			</div>

	        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div id="mailinglists" class="flipper">
					<div class="front">
						<img src="{{ STATIC_URL }}img/resourcecenter/mailinglists.png" />
						<div class="textwrapper">
							<h3>Epostlister</h3>
							<p>Kontakt linjeforeninger</p>
						</div>
					</div>
					<div class="back">
						<h3>Epostlister</h3>
						<p>
							Kontakt linjeforeningene via epostlistene laget av Online.
							<ul>
								<li><a href="/resourcecenter/mailinglists">Mailinglists her</a></li>
							</ul>
						</p>
					</div>
				</div>
			</div>

	        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div id="infopages" class="flipper">
					<div class="front">
						<img src="{{ STATIC_URL }}img/resourcecenter/infopages.png" />
						<div class="textwrapper">
							<h3>Infosider</h3>
							<p>Lær om linjeforeninger</p>
						</div>
					</div>
					<div class="back">
						<h3>Infosider</h3>
						<p>
							Lær om linjeforeningene i Trondheim på Onlines infosider.
							<ul>
								<li><a href="http://gloshaugen.info">gloshaugen.info</a></li>
								<li><a href="http://dragvoll.info">dragvoll.info</a></li>
							</ul>
						</p>
					</div>
				</div>
			</div>
			
	        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	        	<div id="gameservers" class="flipper">
					<div class="front">
						<img src="{{ STATIC_URL }}img/resourcecenter/gameservers.png" />
						<div class="textwrapper">
							<h3>Spillservere</h3>
							<p>Go down the rabbit hole.</p>
						</div>
					</div>
					<div class="back">
						<h3>Spillservere</h3>
						<p>
							Go down the rabbit hole.
							<ul>
								<li>Minecraft</li>
								<li>Counter-Strike</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
			
	        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div id="github" class="flipper">
					<div class="front">
						<img src="{{ STATIC_URL }}img/resourcecenter/github.png" />
						<div class="textwrapper">
							<h3>Kode</h3>
							<p>dotKom på GitHub</p>
						</div>
					</div>
					<div class="back">
						<h3>Kode</h3>
						<p>
							Mange av dotKoms repositories ligger åpent på GitHub. Du er herved invitert til å bidra til våre prosjekter, <strong>send en pull request</strong>.
							<ul>
								<li><a href="https://github.com/dotKom/">dotKom @ GitHub</a></li>
							</ul>
						</p>
					</div>
				</div>
			</div>
			
	        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
				<div id="irc" class="flipper">
					<div class="front">
						<img src="{{ STATIC_URL }}img/resourcecenter/irc.png" />
						<div class="textwrapper">
							<h3>IRC</h3>
							<p>#online @ irc.freenode.net</p>
						</div>
					</div>
					<div class="back">
						<h3>IRC</h3>
						<p>
							<strong>#online</strong> på <strong>irc.freenode.net</strong> er aktiv døgnet rundt, året rundt. Bli med i samtalen.
							<ul>
								<li><a href="http://webchat.freenode.net/?channels=online">Join #online via enkel WebChat</a></li>
								<li><a href="https://wiki.online.ntnu.no/projects/online/wiki/IRC">Guide til IRC i terminalen</a></li>
							</ul>
						</p>
					</div>
				</div>
			</div>

		</div>
		
		<!-- 
			
			<div id="notifier" class="flipper">
				<div class="back">
					<h3>Online Notifier</h3>
					<p>
						Linjeforeningsnyheter, middagsmeny, sanntidsbuss og mer. Notifier er en extension til Chrome og Opera.
						<ul>
							<li><a href="http://chrome.google.com/webstore/detail/online-notifier/hfgffimlnajpbenfpaofmmffcdmgkllf">Notifier for Chrome</a></li>
							<li><a href="http://addons.opera.com/en/extensions/details/online-notifier/?display=no">Notifier for Opera</a></li>
							<br />
							<li><a href="mailto:dotkom@online.ntnu.no">Kontakt dotkom@online.ntnu.no</a></li>
							<li><a href="http://github.com/dotKom/online-notifier">Åpen Kildekode på GitHub</a></li>
						</ul>
					</p>
				</div>
			</div>
			
			<!- hole after mailingslists here -!>

			<!- hole after infopages here -!>

			



		-->
    </div>
</section>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/ResourceCenter.js"></script>
    <script src="{{ STATIC_URL }}js/ResourceCenter.jquery.flippy.min.js"></script>
{% endblock js %}
