{% extends 'dashboard_base.html' %}
{% block title %}Dashboard{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Velkommen til Online Dashboard</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <p>Dashboardet er under kontinuerlig utvikling, og vil få utvidet funksjonalitet etter hvert som modulene blir utviklet.
        Dersom du har feedback, ønsker om ny funksjonalitet eller opplever feil, fyr av en mail til <a href="mailto:dotkom@online.ntnu.no">dotkom</a>.</p>
        <p>Vær oppmerksom på at modulene kan være aktive, men kun ha delvis funksjonalitet, slik som listeoversikt, men ikke endring og/eller nyopprettelser.</p>
    </div>
    <div class="col-md-4">
        <p><b>Nylig aktiverte moduler</b></p>
        <ul>
            <li><a href="{% url 'hobbies_dashboard_index' %}">Interessegrupper</a></li>
            <li><a href="{% url 'resources_dashboard_index' %}">Ressurser</a></li>
            <li><a href="{% url 'user_list' %}">Medlemsregister</a></li>
            <li><a href="{% url 'groups_index' %}">Grupper</a></li>
            <li><a href="{% url 'approvals' %}">Søknader</a></li>
            <li><a href="{% url 'companyprofiles' %}/">Bedrifter</a></li>
            <li><a href="{% url 'dashboard_inventory_index' %}">Varelager</a></li>
            <li><a href="{% url 'dashboard_events_index' %}">Arrangement</a></li>
            <li><a href="{% url 'dashboard:index' %}">Ekstern tilgang</a></li>
            <li><a href="{% url 'careeropportunity_dashboard_index' %}">Karrieremuligheter</a></li>
            <li><a href="{% url 'dashboard_article_index' %}">Artikler</a></li>
            <li><a href="{% url 'posters' %}">Plakatbestilling</a></li>
            <li><a href="{% url 'marks_index' %}">Prikker</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- Dashboard JS here -->
{% endblock %}
