{% extends "dashboard_base.html" %}
{% load render_bundle from webpack_loader %}
{% load addcss %}

{% block title %}
{{ image.name }} - Online Dashboard
{% endblock title %}

{% block page-header %}
Bilder
{% endblock %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'dashboardGallery' 'css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% render_bundle 'dashboardGallery' 'js' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'gallery_dashboard:index' %}">Bilder</a></li>
    <li>{{ image.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="#modal-delete" data-toggle="modal" class="btn btn-danger pull-right">
            <i class="fa fa-times fa-lg"></i> Slett
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Detaljer</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <label for="{{ field.auto_id }}"{% if field.errors %} class="red"{% endif %}>{{ field.label }}</label>
                                {{ field|addclass:"form-control" }}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save fa-lg"></i> Lagre
                            </button>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        {% if image.file_status_ok %}
                        <a href="{{ image.original }}">
                            <img class="responsive-image" src="{{ image.xs }}" alt title="{{ image.name|striptags }}" />
                        </a>
                        <p></p>
                        <dl class="dl-horizontal">
                            <dt>Diskforbruk</dt>
                            <dd>{{ image.sizeof_total }}</dd>
                            <dt>Original</dt>
                            <dd><a href="{{ image.original }}">
                                {{ image.image_original.width }}x{{ image.image_original.height }}
                            </a></dd>
                            <dt>Bred</dt>
                            <dd><a href="{{ image.wide }}">
                                {{ image.image_wide.width }}x{{ image.image_wide.height }}
                            </a></dd>
                            <dt>LG</dt>
                            <dd><a href="{{ image.lg }}">
                                {{ image.image_lg.width }}x{{ image.image_lg.height }}
                            </a></dd>
                            <dt>MD</dt>
                            <dd><a href="{{ image.md }}">
                                {{ image.image_md.width }}x{{ image.image_md.height }}
                            </a></dd>
                            <dt>SM</dt>
                            <dd><a href="{{ image.sm }}">
                                {{ image.image_sm.width }}x{{ image.image_sm.height }}
                            </a></dd>
                            <dt>XS</dt>
                            <dd><a href="{{ image.xs }}">
                                {{ image.image_xs.width }}x{{ image.image_xs.height }}
                            </a></dd>
                            <dt>Thumbnail</dt>
                            <dd><a href="{{ image.thumb }}">
                                {{ image.thumbnail.width }}x{{ image.thumbnail.height }}
                            </a></dd>
                        </dl>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Bekreft sletting av bilde</h3>
            </div>
            <div class="modal-body">
                <p>Er du sikker på at du vil slette dette bildet?</p>
                <p><strong>NB!</strong> Alle tilhørende filer vil bli slettet, dette kan ikke angres.</p>
            </div>
            <div class="modal-footer">
                <button class="btn pull-left" data-dismiss="modal" aria-hidden="true">Lukk</button>
                <form method="POST" action="delete/">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" aria-hidden="true">Slett</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
