{% extends 'base.html' %}

{% load chunks %}
{% load markup %}

{% block title %}
Artikkelarkiv - Online
{% endblock title %}

{% block submenu %}
    <nav class="subnavbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="top-menu-link">
                        <a href="{% url 'events_index' %}">Arrangementer</a>
                    </li>
                    <li class="top-menu-link active">
                        <a class="active" href="{% url 'article_archive' %}">Artikler</a>
                    </li>
                    <li class="top-menu-link">
                        <a href="{% url 'offline' %}">Offline</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<section id="article_archive">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h2>ARTIKKELARKIV</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="min-height: 400px;" id="article_archive_container"></div>
                </div>
            </div>

            <div class="col-sm-5 col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h3>TAGS</h3>
                        </div>
                        <div class="tag-cloud" id="article_archive_tagcloud">
                            {% for tag in tags %}
                                <span><a href="{{ tag.get_absolute_url }}" class="tag">{{ tag }}</a></span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h3>FILTER</h3>
                        </div>
                        <div class="date-filter" id="article_archive_filter">
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="tag tag-all" id="article_archive_filter_reset" href="{% url 'article_archive' %}">Alle</a>
                                </div>
                            </div>
                            {% for year, months in dates.items %}
                                <div class="row">
                                    <div class="year col-md-4">
                                        <a class="tag tag-year" data-year="{{ year }}" data-month="" href="{% url 'article_archive_year' year %}">{{ year }}</a>
                                    </div>
                                    {% for month in months %}
                                    <div class="col-md-4"><a class="tag tag-month" data-year="{{ year }}" data-month="{{ month }}" href="{% url 'article_archive_month' year month %}">{{ month }}</a></div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/Utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/Article-archive.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/TagCloud.js"></script>
{% endblock js %}
