{% extends 'base.html' %}
{% load chunks %}
{% load markup %}
{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}js/TagCloud.js"></script>
<section id="article_archive">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="page-header">
                    <h2 id="offline-heading">Article Archive</h2>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="ingress">
{% filter markdown %}
{% chunk "article_archive" %}
{% endfilter %}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                {% for article in articles %}
                    {% if forloop.first or forloop.counter|divisibleby:'5' %}
                        <div class="row-fluid">
                            <div class="span12">
                    {% endif %}

                    <div class="span3">
                        <div class="row-fluid">
                            <div class="span12"><b>{{ article.heading }}</b></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <img src="holder.js/174x100" />
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12"><i>{{ article.tagstring }}</i></div>
                        </div>
                    </div>

                    {% if forloop.last or forloop.counter|divisibleby:'4' %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="span4 well">
                <div class="row-fluid">
                    <div class="span12">
                        <h3>Tags</h3>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 tagcloud">
                        {% for tag in tags %}
                            {% comment %}
                                FIXME: fancy-tagcloud :D
                            {% endcomment %}
                            <span data-frequency="{{ tag.frequency }}">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
