{% extends "base.html" %}

{% load markup %}

{% load fb_versions %}

{% block content %}
<div id="article-wrapper">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="flex-video">
                    {% if article.video %}
                    <iframe src="http://player.vimeo.com/video/{{ article.video }}" frameborder="0" webkitAllowFullscreen mozallowfullscreen allowFullScreen></iframe>
                    {% else %}
                    <img src="{% version article.image 'article_main' %}" alt="{{ article.heading }}"/>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h1>{{ article.heading }}</h2>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <p>Publisert: {{ article.published_date }}, endret: {{ article.changed_date }}</p>
                <p>Av: {{ article.created_by }}<p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span7">
                <div class="article-details-ingress">
                    <p>{{ article.ingress }}</p>
                </div>
            </div>
            <div class="span5">
                <div class="span12">
                    <p style="font-size:20px">Siste nytt:</p>
                </div>
            {% for l in latest %}
                <div class="row-fluid">
                    <div class="span12">
                        <div class="article-latestnews">
                            <a href="../{{ l.id }}">{{ l.heading }}</a> </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="article-details-content">
                    <p>{{ article.content|striptags|markdown }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
    

	
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/Utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ArticleWidget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/article-latest.js"></script>
{% endblock js %}
