{% extends "base.html" %}

{% block content %}
<div id="article_wrapper">
	<img src="{{ STATIC_URL }}{{ article.image_article }}" alt="{{ article.heading }}" width="950" height="200"/>
	<p>Skrevet av: <a href="/user/{{ article.created_by.id }}">{{ article.created_by.get_full_name }}</a> den {{ article.published_date }}{% if article.isChanged %}, sist endret {{ article.changed_date }} av <a href="/user/{{ article.changed_by.id }}">{{ article.changed_by.get_full_name }}</a>{% endif %}</p>
	<h1>{{ article.heading }}</h1>
	
	<p>{{ article.ingress }}</p>
	
	{{ article.content }}
</div>
{% endblock content %}
