{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<script type="text/javascript">
    function uploadVideo() {
        $.ajax({type:'POST', url: '{{ upload_ticket }}', data:$('upload').serialize(), success: function(response) {
            console.log("sucess");
            verifyUpload();
        }});
    }

    function verifyUpload() {
        $.ajax({type:'POST', url: '
    }
</script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>Vimeo video archive:</h1>
            </div>
            {% if message %}
            <p> {{ message }} </p>
            {% elif authorize_url %}
            <a href="{{ authorize_url }}">Authorize on vimeo</a>
            {% else %}
            <p>{{ upload_ticket }}</p>
            <form id="upload" enctype="multipart/form-data" onSubmit="uploadVideo();"> {%csrf_token %}
                <input type="hidden" name="ticket_id" value="{{ ticket_id }}" />
                <input type="hidden" name="chunk_id" value="0" />
                <input type="file" name="file_data" />
                <input type="submit" value="Upload" />
            <form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
