{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load compress %}

{% block title %}
Generalforsamling logg inn- Online
{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}less/jquery-ui/jquery.ui.datepicker.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}less/jquery-ui/jquery.ui.theme.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}less/jquery-ui/jquery.ui.core.min.css" />
    {% endcompress %}
{% endblock %}

{% block content %}
<section id="generalforsamling">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <a href="{% url 'genfors_admin_logout' %}"class="btn btn-warning pull-right" id="gf_admin_logout">Logg ut</a>
                <h2>Generalforsamling adminpanel</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            {% if meeting %}
                <h1>{{ meeting.title }}</h1>
                {% if question %}
                {{ question.description }}
                {% else %}
                <h3>Nytt spørsmål</h3>
                <div class="col-md-6">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success" type="submit">Legg til spørsmål</button>
                    </form>
                </div>
                {% endif %}
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success" type="submit">Opprett nytt møte</button>
                </form>
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#id_start_date').datepicker({dateFormat: "dd.mm.yy"});
        });
    </script>
{% endblock %}
