{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Generalforsamling logg inn- Online
{% endblock %}

{% block content %}
<section id="generalforsamling">
    <div class="container">
        <div class="row">
            <div class="page-header">
            <h2>Generalformsamling logg inn</h2>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success" type="submit">Logg inn</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- insert JS-stuff here -->
{% endblock %}
