{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load formset_tags %}

{% block title %}
Generalforsamling bekreft valg - Online
{% endblock %}

{% block content %}
<section id="generalforsamling">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <a href="{% url 'genfors_admin_logout' %}"class="btn btn-warning pull-right" id="gf_admin_logout">Logg ut</a>
                    <h2>Administrasjonspanel</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4><p id="text-danger">{{ question }}</p></h4>
                {% if description %}
                <p>{{ description }}</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-success">Bekreft</button>
                    <a class="btn btn-danger" href="{% url 'genfors_admin' %}">Avbryt</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
