{% extends "base.html" %}
{% block title %}
Generalforsamling - Online
{% endblock %}

{% block content %}
<section id="generalforsamling">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>{% if meeting %}{{ meeting.title }}{% else %}GENERALFORSAMLING{% endif %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% if meeting %}
            <div class="col-md-12">
                {% with meeting.get_active_question as q %}
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-8">
                        <h3>Aktiv sak</h3>
                        <div class="well">{% if q %}{{ q.description }}{% else %}Ingen aktiv sak.{% endif %}</div>
                        {% if q.question_type == 0 %}
                        <button class="btn btn-success" id="boolean_yes">JA</button>
                        <button class="btn btn-danger" id="boolean_no">NEI</button>
                        <button class="btn btn-primary" id="boolean_blank">BLANKT</button>
                        {% else %}
                        <p>Velg en av alternativene:</p>
                        <form action="/genfors/vote" id="vote">
                        {% for alt in active_question.alternatives %}
                            <input type="radio" id="0" value="0">Blankt</input>
                        {% endfor %}
                            <input type="radio" id="{{ alt.alt_id }}" value="{{ alt.alt_id }}">{{ alt.description }}</input>
                        {% endif %}
                            <button class="btn btn-success" type="submit">Stem</button>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <h3>Foreløpig status</h3>
                        {% if q %}
                            {% with q.get_results as res %}
                            {% if q.question_type == 0 %}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ active_question.yes_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ active_question.yes_percent }}%">
                                        {{ res.JA }} JA ({{ active_question.yes_percent }}%)
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ active_question.no_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ active_question.no_percent }}%">
                                        {{ res.NEI }} NEI ({{ active_question.no_percent }}%)
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ active_question.blank_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ active_question.blank_percent }}%">
                                        {{ res.BLANKT }} JA ({{ active_question.blank_percent }}%)
                                    </div>
                                </div>
                            {% else %}
                                {% for alternative in res %}
                                    {% if forloop.counter0 == 0 %}
                                     <div class="progress">
                                         <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ active_question.blank_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ active_question.blank_percent }}%">
                                              {{ res.0 }} BLANKT ({{ active_question.0 }}%)
                                         </div>
                                    </div>
                                    {% else %}
                                     <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ active_question.0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ active_question.0 }}%">
                                        {{ alternative }} Alternativ {{ forloop.counter0 }} ({{ active_question.forloop.counter0 }}%)
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                        {% else %}
                            <p>Ingen aktiv sak.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-8">
                        <h3>Avsluttede saker</h3>
                        <p>Liste over tidligere besvarte spørsmål og aktivt spørsmål</p>
                        <p class="text-muted">
                        <ol reversed>
                            {% for question in meeting.get_locked_questions %}
                                <li>{{ question.description }} ({{ question.result }})</li>
                            {% endfor %}
                        </ol>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <h3>Stemmer</h3>
                        <!-- insert list of registered votes here -->
                        {% if q %}<!-- If active queestion -->
                        <ul>
                        {% for vote in q.get_votes %}
                            <li>{{ vote.get_voter_name }}
                                {% if q.question_type == 0 %}<!-- If question type is boolean -->
                                    {% if vote.answer %}
                                        <span class="label label-success pull-right">JA</span>
                                    {% else %}
                                        {% if vote.answer == False %}
                                            <span class="label label-danger pull-right">NEI</span>
                                        {% else %}
                                            <span class="label label-primary pull-right">BLANKT</span>
                                        {% endif %}
                                    {% endif %}
                                {% else %}<!-- If question type is multiple choice -->
                                    <span class="label label-primary pull-right">{{ vote.answer }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <p>Ingen aktiv sak.</p>
                        {% endif %}<!-- End if active question -->
                    </div>
                    {% endwith %}
                </div>
            </div>
            {% else %}
                <div class="col-md-12">
                    <p>Det er ingen aktiv generalforsamling.</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- insert JS-stuff here -->
{% endblock %}
