{% extends "base.html" %}
{% block title %}
Generalforsamling - Online
{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="page-header">
            <h3>Generalforsamlingen</h3>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <!-- insert stats stuff here -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <!-- insert genfors secific stuff here -->
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <!-- insert list of registered voters here -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
    {% block.super %}
    <!-- insert JS-stuff here -->
{% endblock %}
