{% extends "base.html" %}
{% block title %}
Generalforsamling - Online
{% endblock %}

{% block content %}
<section id="generalforsamling">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <button class="btn btn-warning pull-right" id="gf_admin_login">Admin</button>
                    <h2>{% if meeting %}{{ meeting.title }}{% else %}GENERALFORSAMLING{% endif %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% if meeting %}
            <div class="col-md-12">
                {% with meeting.get_active_question as q %}
                <div class="row">
                    <div class="col-md-12">
                        <p>Diverse statistikk og metadata</p>
                        <!-- insert stats stuff here -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-8">
                        <h3>Saker</h3>
                        <p>Liste over tidligere besvarte spørsmål og aktivt spørsmål</p>
                        <ol reversed>
                            <li><p><strong>{{ q.description }}</strong></p><br /><br />
                            {% for question in meeting.get_locked_questions %}
                                <li><p class="text-muted">{{ question.description }}</p></li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <h3>Stemmer</h3>
                        <!-- insert list of registered votes here -->
                        <ul>
                        {% for vote in q.get_votes %}
                            <li>{{ vote.voter.user.first_name }} {{ vote.voter.user.last_name }}
                                {% if q.question_type == 0 %}
                                    {% if vote.answer %}
                                        <span class="label label-success pull-right">JA</span>
                                    {% else %}
                                        {% if vote.answer == False %}
                                            <span class="label label-danger pull-right">NEI</span>
                                        {% else %}
                                            <span class="label label-primary pull-right">BLANKT</span>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <span class="label label-primary pull-right">{{ vote.answer }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endwith %}
                </div>
            </div>
            {% else %}
                <div class="col-md-12">
                    <p>Det er ingen aktiv generalforsamling.</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- insert JS-stuff here -->
{% endblock %}
