{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
Generalforsamling brukere - Online
{% endblock %}

{% block styles %}
    {{ block.super }}
    {% render_bundle 'genfors' 'css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% render_bundle 'genfors' 'js' %}
{% endblock %}

{% block content %}
<section id="generalforsamling">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="page-header">
                <a href="{% url 'genfors_admin' %}" class="btn btn-warning pull-right" id="gf_admin">Admin</a>
                <h2>REGISTRERTE DELTAKERE</h2>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Oversikt over stemmeberettigelse</h4></div>
                    <div class="panel-body">
                    <p>Denne oversikten viser alle brukere som er registrert som møtt på generalforsamlingen. I tillegg vises deres status som deltaker,
                    nærmere bestemt om de har stemmerett eller ikke. Klikk på "Kan stemme" knappen for en person for å endre status. Denne statusen <u>skal</u> brukes
                    dersom en person forlater salen for å gå på toalettet under et spørsmål, eller om personen forlater generalforsamlingen for godt.</p>
                    <p><strong>NB:</strong> man må <em>ikke</em> endre status på personer dersom det er en aktiv pågående sak/avstemning. Dette vil påvirke resultatkalkuleringen og gjøre
                    resultatet ugyldig.</p>
                    <a href="/genfors/admin/"><button class="btn btn-primary">Tilbake til dashbord</button></a>
                    </div>
                    <table class="table table-hover table-striped">
                        <tr>
                            <th>Bruker</th>
                            <th>Kan stemme</th>
                            <th>Regisrert</th>
                        </tr>
                        {% for user in registered_voters %}
                        <tr>
                            <td>{{ user }}</td>
                            <td><button data-user-id="{{ user.id }}" class="vote-button btn btn-sm {% if user.can_vote %}btn-success">Ja{% else %}btn-danger">Nei{% endif %}</button></td>
                            <td>{{ user.timestamp }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>Ingen brukere har registrert seg enda</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="errorModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">En feil skjedde</h4>
                </div>
                <div class="modal-body">
                    <p>Error</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
