{% extends "dashboard_base.html" %}
{% load compress %}
{% load addcss %}
{% load crispy_forms_tags %}

{% block title %}
Ny bestilling - Online
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/dashboard/posters.less" />
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/posters.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
Ny bestilling
{% endblock %}

{% block breadcrumbs %}
    <li>Bestilling</li> 
{% endblock %}

{% block content %}
    <h4>Fyll ut info om bestillingen</h4>
    <section>
    <form action="" method="POST">
        {{add_poster_form.non_field_errors }}
         {% for field in add_poster_form %}
            <div class="form-group">
                <div class="col-md-2">{{ field.label_tag }}</div>
                <div class="col-md-{% if field.errors %}7{% else %}10{% endif %}">{{ field|addclass:"form-control"}}</div>
                {% if field.errors %}<div class="col-md-2 error">{{ field.errors }}</div>{% endif %}
            </div>
          {% endfor %}
        <input type="submit">
        {% csrf_token %}
    </form>
        
    </section>

{% endblock content %}
