{% extends "dashboard_base.html" %}
{% load compress %}

{% block title %}
Ny plakatbestilling - Online
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/dashboard/posters.less" />
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/posters.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
Bestill ny plakat
{% endblock %}

{% block breadcrumbs %}
    <li>Plakatbestilling</li> 
{% endblock %}

{% block content %}
    <h4>Fyll ut info om ny plakatbestilling</h4>
    <section>
    <form action="" method="POST">
        {{add_poster_form.non_field_errors }}
        {{add_poster_form}}
        <input type="submit">
        {% csrf_token %}
    </form>
        
    </section>

{% endblock content %}
