{% extends "dashboard_base.html" %}
{% load compress %}
{% load addcss %}
{% load crispy_forms_tags %}

{% block title %}
{{poster.category}}: {{poster.title}} - Online
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/dashboard/posters.less" />
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/posters.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
{{poster.category}}: {{poster.title}}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/posters/">Plakatbestillinger</a></li>
    <li>Detaljer</li>
{% endblock %}

{% block content %}
    <h4>Tittel: {{ poster.title }}</h4>
    <section>
        {% for field in poster_iterator %}
        <div>
            <span style="font-weight:bold;">{{field}}</span>
            {{field.value}}
        </div>
        {% endfor %}
    </section>

{% endblock content %}
