{% extends "dashboard_base.html" %}
{% load compress %}
{% load addcss %}
{% load crispy_forms_tags %}

{% block title %}
{{poster.order_type}}: {{poster.event.title}} - Online
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/dashboard/posters.less" />
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/posters.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
{{poster.order_type}}: {{poster.event.title}}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/posters/">Bestillinger</a></li>
    <li>Detaljer</li>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 id="event-details-heading">
                    {{poster.title}}
                    <div class="btn-group pull-right">                    
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default dropdown-toggle">
                                <a href="../edit/{{poster.id}}">
                                    Rediger
                                </a>
                            </button>
                        </div>
                    </div>
                </h2>
            </div>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <div class="event-hero-meta">
                        <div class="row row-space">
                            <div class="event-hero-meta-info">
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="event-hero-title">Vises fra</div>
                                    <div class="event-hero-large-text">
                                        <span class="break">{{poster.display_from}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="event-hero-title">Pris</div>
                                    <div class="event-hero-large-text">
                                        <span class="break">{{poster.price}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="event-hero-title">Bestilt av</div>
                                    <div class="event-hero-small-text"><a href="mailto:{{poster.ordered_by.email}}">{{poster.ordered_by}}</a> i <a href="mailto:{{poster.ordered_committee}}@online.ntnu.no">{{poster.ordered_committee}}</a></div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="row">
                                <div class="event-hero-meta-info">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="event-hero-title">Vises til</div>
                                        <div class="event-hero-large-text">
                                            {{poster.display_to}}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        
                                            <div class="event-hero-title">Antall opplag</div>
                                            <div class="event-hero-large-text">{{poster.amount}}</div>
                                        
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                         
                                            <div class="event-hero-title">Event</div>
                                            <div class="event-hero-large-text">
                                                <div class="event-hero-large-text">
                                                    <a href="{{poster.event.get_absolute_url}}">{{poster.event}}</a>
                                                    <br>
                                                    <span class="date-small">{{poster.event.event_start}}</span>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="col-md-12 event-status row-space">
                                <p class="status-text">Påmeldingen er ikke åpnet enda.</p>
                            
                    <p class="help-text" style="margin-top:20px">Avmeldingsfristen 
                        
                            er
                        
                        12.00 03. Mai 2015
                    </p>
                
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h5>Beskrivelse</h5>
            <div class="ingress">
                <p>{{poster.description}}</p>
            </div>
            
            <hr>
            <p>
                <h5>Kommentarer</h5>
                {{poster.comments}}
            </p>
            <p>
            poster is {% if poster.finished == "true" %} done {% else %} not done {% endif %}
            <br> poster.finished: {{ poster.finished }}
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="completed" value="{% if poster.finished == "true" %}false{% else %}true{% endif %}" hidden>
                    <input type="submit" value="{% if poster.finished == "true" %}Uf{% else %}F{% endif %}erdigstill">
                </form>
            </p>
        </div>
    </div>


    <!-- MODALS -->


    <div id="attend" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Meld deg på Studentaften, Sikkerhet og Sårbarhet</h3>
                </div>
                <form action="/events/133/attend/" method="POST">
                    <div class="modal-body">
                        <input type="hidden" name="csrfmiddlewaretoken" value="WySFl3nApWjitupvx8z4YgemfDhWwhgB">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="waitlist" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Sett meg på venteliste på Studentaften, Sikkerhet og Sårbarhet</h3>
                </div>
                <form action="/events/133/attend/" method="POST">
                    <div class="modal-body">
                        <p>Ved å sette deg på venteliste godtar du at du automatisk får plass om
                            arrangementet utvides med flere plasser, eller andre påmeldte melder seg av, slik at du rykker frem i køen.
                        </p>
                        <p>Ved å melde deg på, godtar du prikkereglene.</p>
                        <input type="hidden" name="csrfmiddlewaretoken" value="WySFl3nApWjitupvx8z4YgemfDhWwhgB">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="unattend" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Meld deg av Studentaften, Sikkerhet og Sårbarhet </h3>
                </div>
                <form action="/events/133/unattend/" method="POST">
                    <div class="modal-body">
                        <input type="hidden" name="csrfmiddlewaretoken" value="WySFl3nApWjitupvx8z4YgemfDhWwhgB">
                        <p>Er du sikker på at du vil melde deg av?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
                        <button type="submit" class="btn btn-danger">Meld meg av</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}
