{% extends "dashboard_base.html" %}
{% load compress %}
{% load addcss %}
{% load crispy_forms_tags %}

{% block title %}
{{poster}} - Online
{% endblock title %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/dashboard/posters.less" />
    {% endcompress %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/posters.js"></script>
    {% endcompress %}
{% endblock js %}

{% block page-header %}
{{poster}}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dashboard/posters/">Bestillinger</a></li>
    <li>Detaljer</li>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row row-space">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="event-hero-meta">
                        <div class="row row-space">
                            <div class="event-hero-meta-info">
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="event-hero-title">Pris</div>
                                    <div class="event-hero-large-text">
                                        <span class="break">
                                            {%if poster.price %}{{poster.price}}
                                            {%else %}Ikke oppgitt
                                            {%endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="event-hero-title">Bestilt av</div>
                                    <div class="event-hero-large-text"><a href="mailto:{{poster.ordered_by.email}}">{{poster.ordered_by}}</a> i <a href="mailto:{{poster.ordered_committee}}@online.ntnu.no">{{poster.ordered_committee}}</a></div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="event-hero-title">Status</div>
                                    <div class="event-hero-large-text">
                                        {%if poster.finished %}Ferdig
                                        {%else %}Uferdig
                                        {%endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="row">
                                <div class="event-hero-meta-info">
                                    <div class="col-xs-12 col-sm-3 col-md-3">

                                            <div class="event-hero-title">Antall</div>
                                            <div class="event-hero-large-text">
                                                {% if poster.amount %}
                                                <b>{{poster.amount}}</b> plakater
                                                {% else %}
                                                    Ikke oppgitt antall plakater
                                                {% endif %}
                                                {% if poster.bong %}
                                                <br>
                                                <span class="date-small"><b>{{poster.bong}}</b> bonger</span>
                                                {% endif %}
                                            </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">

                                            <div class="event-hero-title">Event</div>
                                            <div class="event-hero-large-text">
                                                <a href="{{poster.event.get_absolute_url}}">{{poster.event}}</a>
                                                <br>
                                                <span class="date-small">{{poster.event.event_start}}</span>
                                            </div>

                                    </div>

                                    <div class="col-xs-12 col-sm-3 col-md-3">

                                            <div class="event-hero-title">Tilordnet til</div>
                                            <div class="event-hero-large-text">
                                                {%if poster.assigned_to %}{{poster.assigned_to}}
                                                {%else %}<b>Ingen!</b>
                                                {%endif %}
                                            </div>

                                    </div>
                                    {% if poster.display_from %}
                                        <div class="col-xs-12 col-sm-3 col-md-3">
                                            <div class="event-hero-title">Vises fra</div>
                                            <div class="event-hero-large-text">
                                                <span class="break">{{poster.display_from}}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h5>Plakattekst</h5>
            <div class="ingress">
                <p>{{poster.description}}</p>
            </div>

            <hr>
            <p>
                <h5>Kommentarer</h5>
                {{poster.comments}}
            </p>
            <hr>

            <p>
                <div class="btn-group pull-left">
                    <div class="btn-group pull-left">
                        <button type="button" class="btn btn-default dropdown-toggle">
                            <a href="../edit/{{poster.id}}">
                                Rediger
                            </a>
                        </button>

                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" name="completed" value="{% if poster.finished == "true" %}false{% else %}true{% endif %}" hidden>
                            <button type="submit" class="btn btn-default dropdown-toggle">{% if poster.finished %}Uf{% else %}F{% endif %}erdigstill</button>
                        </form>
                    </div>
                </div>
            </p>

        </div>
    </div>

    </div>

{% endblock content %}
