{% extends 'dashboard_base.html' %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}

{% block title %}Opptakerperiode - Legg til{% endblock %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block page-header %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="/dashboard/approval/application-periods/">Opptaksperioder</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <form method="POST" action="">
    <div class="col-md-12">
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lagre</button>
    </div>
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Opptaksperiode</h3>
    </div>
    <div class="panel-body">
            {% csrf_token %}
            {{ form | crispy }}
        </form>
    </div>
</div>
{% endblock %}
