{% load markup %}

<h1>{{ event.title }}</h1>
<table>
    <tr><td class="event-header-description">Tittel</td><td class="event-header-value">{{ event.title }}</td><tr>
    <tr><td class="event-header-description">Fra</td><td class="event-header-value">{{ event.event_start|date:"d.m.Y" }} - {{ event.event_start|date:"H:i" }}</td><tr>
    <tr><td class="event-header-description">Til</td><td class="event-header-value">{{ event.event_end|date:"d.m.Y" }} - {{ event.event_start|date:"H:i" }}</td><tr>
    <tr><td class="event-header-description">Sted</td><td class="event-header-value">{{ event.location }}</td></tr>
    {% if attendance_event %}
        <tr><td class="event-header-description">Antall påmeldte</td><td class="event-header-value">{{ attendance_event.count_attendees }} / {{ attendance_event.max_capacity }}</td></td>
        <tr><td class="event-header-description">Registreringsfrist</td><td class="event-header-value">{{ attendance_event.registration_start|date:"d.m.Y" }} - {{ attendance_event.registration_start|date:"H:i" }}</td></tr>
        <tr><td class="event-header-description">Avmeldingsfrist</td><td class="event-header-value">{{ attendance_event.registration_end|date:"d.m.Y" }} - {{ attendance_event.registration_end|date:"H:i" }} </td></tr>
    {% endif %}
</table>

{# TODO: Add company-profile #}

<div id="event-description">
    {{ event.description|striptags|markdown }}
</div>

{# TODO: Add registration form #}
