{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load markup %}
{% block content %}

<section id="event-details">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="page-header">
                    <h2 id="event-details-heading">{{event.title}}</h2>
                    <small id="event-details-author">Oppretter: {{ event.author }}</small>
                </div>
            </div>
        </div>
        <!-- eventinformasjon -->
        <div class="row-fluid">
            <div class="span7" id="event-description">
                {{ event.description|striptags|markdown }}
            </div>
            <div class="span5" id="event-images">
                <p>Here there be images</p>
            </div>
        </div>

        <!-- horizontal line -->
        <div class="row-fluid">
            <div class="span12">
                <hr />
            </div>
        </div>

        <!-- event description -->
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span6" id="event-description">
                        <h2 class="text-center">Informasjon</h2>

                        <table class="table table-bordered table-condensed">
                            <tr><td>Starttidspunkt</td><td>{{ event.event_start }}</td></tr>
                            <tr><td>Sluttidspunkt</td><td>{{ event.event_end }}</td></tr>
                            <tr><td>Sted</td><td>{{ event.location }}</td></tr>

                        {% if attendance_event %}
                            <tr><td>Påmeldte</td><td>{{ event.number_of_attendees_not_on_waiting_list }}/{{ attendance_event.max_capacity }} </td></tr>
                            <tr><td>Antall på venteliste</td><td>{{ event.number_of_attendees_on_waiting_list }}</td></tr>
                            <tr><td>Registreringsfrist</td><td>{{ attendance_event.registration_start }}</td></tr>
                            <tr><td>Avmeldingsfrist</td><td>{{ attendance_event.registration_end }}</td></tr>
                        {% endif %}
                        </table>
                    </div>

                <!-- event registration -->
                    <div class="span6">
                        <h2 class="text-center">Registrering</h2>

                        {% if attendance_event %}
                            <form action="{% url attend_event event.id %}" method="POST"> {% csrf_token %}
                                <button type="submit">Registrer</button>
                            </form>

                        {% else %}
                            <p  class="text-center"><strong>Dette arrangementet har ingen påmelding!</strong></p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock content %}