{% load markup %}

<h1>Event</h1>
<table>
    <tr><td class="event-header-description">Oppretter</td><td class="event-header-value">{{ event.author }}</td><tr>
    <tr><td class="event-header-description">Tittel</td><td class="event-header-value">{{ event.title }}</td><tr>
    <tr><td class="event-header-description">Fra</td><td class="event-header-value">{{ event.event_start }}</td><tr>
    <tr><td class="event-header-description">Til</td><td class="event-header-value">{{ event.event_end }}</td><tr>
    <tr><td class="event-header-description">Sted</td><td class="event-header-value">{{ event.location }}</td></tr>
</table>

<div id="event-description">
    {{ event.description|striptags|markdown }}
</div>
