{% extends "base.html" %}

{% load compress %}
{% load calendar_filters %}

{% block title %}
Arrangementsarkiv - Online
{% endblock title %}

{% block styles %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/event_archive.less">
  {% endcompress %}
{% endblock %}

{% block submenu %}
    <nav class="subnavbar">
        <div class="container">
            <ul>
                <li class="top-menu-link active">
                    <a href="{% url 'events_index' %}">Arrangementer</a>
                </li>
                <li class="top-menu-link">
                    <a href="{% url 'article_archive' %}">Artikler</a>
                </li>
                <li class="top-menu-link">
                    <a href="{% url 'offline' %}">Offline</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}

<section>
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h2>ARRANGEMENTER
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-calendar"></span>
                Eksporter
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="{% url 'events_ics' %}">ICS</a></li>
                <li><a href="http://www.google.com/calendar/render?cid={{ request.build_absolute_uri|unhttps|urlencode }}events.ics">Google Calendar</a></li>
                {% if user.is_authenticated %}
                  <li role="presentation" class="divider"></li>
                  <li class="dropdown-header">Mine arrangementer</li>
                  <li><a href="{% url 'events_personal_ics' user=signer_value %}">ICS</a></li>
                  <li><a href="http://www.google.com/calendar/render?cid={{ personal_ics_path|unhttps|urlencode }}">Google Calendar</a></li>
                  {% endif %}
              </ul>
            </div>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 pull-right" id="filter">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <input type="text" class="form-control col-xs-12 col-sm-12" placeholder="Søk blant arrangementene" id="search">
        </div>
      </div>


        <div class="checkbox col-xs-12 col-sm-12 col-md-12">
          <label>
            <input type="checkbox" name="optionCheckboxs" value="option1" id="future" checked>
            Bare fremtidige arrangementer
          </label>
        </div>
	{% if user.is_authenticated %}
        <div class="checkbox col-xs-12 col-sm-12 col-md-12">
          <label>
            <input type="checkbox" name="optionCheckboxs" value="option1" id="myevents">
            Mine arrangementer
          </label>
        </div>
        <div class="checkbox col-xs-12 col-sm-12 col-md-12">
          <label>
            <input type="checkbox" name="optionCheckboxs" value="option1" id="attendable">
            Arrangement du ikke kan delta på
          </label>
        </div>
	{% endif %}

    </div> <!-- end col-md-3 -->

    <div class="col-xs-12 col-sm-12 col-md-9 pull-left" id="events">

    </div> <!-- end col-md-9 -->
<!--
  {% if events %}

  {% else %}
    <p class="ingress">Ingen arrangementer funnet.</p>
  {% endif %} -->

  </div>
</section>
{%endblock content %}

{% block js %}

  {{ block.super }}
  {% compress js %}
  <script type="text/javascript">
    var Filters = function () {

      this.query = '';
      this.future = true;
      this.myevents = false;
      this.attendable = true;
    };

    Filters.prototype.search = function () {
        var url = '{% url 'search_events' %}?query=';
        var query = this.query;
        var filters = '';
        filters += '&future=' + this.future;
        filters += '&myevents=' + this.myevents;
        filters += "&attendable=" + this.attendable;
        var self = this;
        $.get(url + query + filters, function (result) {
          $('#events').empty();
          $('#events').append(result);
          if(!self.future) {
            // Calculate menu offset
            var offset = $('nav.subnavbar').position().top+$('nav.subnavbar').outerHeight(true);
            // Scroll to closest event
            var articles = $('#events article');
            var today = new Date();
            articles.each(function(i, event) {
              var event_date = new Date($(event).data('date'));
              if(event_date < today) {
                // Scroll animation
                $('html, body').animate({scrollTop: $(event).offset().top - offset}, 250);
                return false;
              }
            });
          }
        });
      };

    $(function () {

      var filters = new Filters();
      filters.search();


      $('#search').keyup(function () {
        filters.query = $(this).val();
        filters.search();
      });

      // This is a slight hack to avoid a difficult bug in jQuery where some browsers tend to preserve checkbox states
      // without them being domready.
      $(document).ready(function () {
        $('#future').prop('checked', true);
      });

      $('#future').on('click', function () {
        filters.future = !filters.future;
        filters.search();
      });

      $('#myevents').on('click', function () {
        filters.myevents = !filters.myevents;
        filters.search();
      });
      $('#attendable').on('click',function () {
        filters.attendable = !filters.attendable;
        filters.search();
      });
    });
  </script>
  {% endcompress %}

{% endblock %}
