{% load fb_versions %}
{% load markdown_deux_tags %}

{% if events %}
  {% for event in events %}
  <article data-date="{{ event.event_start|date:"c" }}" class="row">

    <div class="col-xs-12 col-sm-4 col-md-4 left-box">
      <div class="row">
        {% if event.companies.all %}
            {% for company_relation in event.companies.all %}
                <a href="{{ event.get_absolute_url }}">
                    <img src="{{ company_relation.company.image.md }}" alt="" />
                </a>
            {% endfor %}
        {% else %}
            <a href="{{ event.get_absolute_url }}">
                <img src="{% version event.image 'events_archive' %}" alt="" />
            </a>
        {% endif %}
        {% if event.is_attendance_event %}
            <a href="{{ event.get_absolute_url }}">
                <button type="button" class="btn btn-success">Gå til påmelding</button>
            </a>
        {% endif %}
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 content">
        <div class="row">
            <div class=" col-sm-12 col-md-8">
                <h1>
                    <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                </h1>
            </div>
            <div class="col-sm-12 col-md-4">
                <span>{{ event.event_start|date:"d.m.Y"}}</span>
            </div>
        </div>

      <div class="ingress">{{ event.ingress|striptags|markdown }}</div>

      <div class="meta">
        {% if event.is_attendance_event %}
          {% ifequal event.attendance_event.number_of_seats_taken event.attendance_event.max_capacity %}
		  <div class="col-md-3">
		    <p>Venteliste: {{ event.attendance_event.number_on_waitlist }} </p>
		  </div>
		  {% else %}
          <div class="col-md-3">
            <p>Påmeldte: {{ event.attendance_event.number_of_seats_taken }} / {{ event.attendance_event.max_capacity }}</p>
          </div>
          {% endifequal %}
          <div class="col-md-3">
            <p>Sted: {{ event.location }}</p>
          </div>
          <div class="col-md-5">
            <p>Påmelding åpner {{ event.attendance_event.registration_start|date:"d.m.y H.i" }}</p>
          </div>
        {% else %}
          <div class="col-md-12">
            <p>Sted: {{ event.location }}</p>
          </div>
        {% endif %}
      </div>
    </div>

  </article>
  {% endfor %}
{% else %}
  <p class="ingress">Ingen arrangementer funnet.</p>
{% endif %}
