name: Generate Dev Container Image
on:
  workflow_call:
    inputs:
      settings-file:
        required: true
        type: string

permissions:
  contents: read
  packages: write

jobs:
  devcontainer:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update settings
        run: |
          SETTINGS=.devcontainer/devcontainer.json
          TEMP_FILE=/tmp/.devcontainer.json
          # prune comments, add build-definition to config since we are building
          cat $SETTINGS | sed 's/\/\/.*//' | jq '.dockerComposeFile += ["${{ inputs.settings-file }}"]' > $TEMP_FILE
          cp $TEMP_FILE $SETTINGS
      - name: Build and push
        run: |
          set -e
          FOLDER_WITH_DOT_DEVCONTAINER="."
          IMAGE_NAME="onlineweb4-devcontainer"
          IMAGE_REPOSITORY="$(echo "ghcr.io/${{ github.repository_owner }}/${IMAGE_NAME}" | tr '[:upper:]' '[:lower:]')"

          # [Optional] Enable buildkit, set output to plain text for logging
          export DOCKER_BUILDKIT=1
          export BUILDKIT_PROGRESS=plain

          # Do the build - update
          npm install -g "@vscode/dev-container-cli"
          devcontainer build --image-name "${IMAGE_REPOSITORY}" "${FOLDER_WITH_DOT_DEVCONTAINER}"

          # Push image to GitHub Container Registry
          echo "${{ github.token }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin
          docker push "${IMAGE_REPOSITORY}" --all-tags
