name: Lint and test

on:
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - '*'

jobs:
  test-python:
    runs-on: ubuntu-latest
    # Run if the repo is not a fork, or if it is a fork with the label 'safe to test', or if it is dependabot
    if: github.event.pull_request.head.repo.full_name == github.repository || contains(github.event.pull_request.labels.*.name, 'safe to test') || github.actor == 'dependabot[bot]'
    steps:
      - name: checkout-if-pr
        uses: actions/checkout@v2
        if: ${{ github.event_name == 'pull_request_target' }}
        with:
          # when using pull_requst, by default the code that is checked-out is actually the base of the PR, not the code of it.
          ref: ${{ github.event.pull_request.head.sha }}

      - name: checkout-if-push
        uses: actions/checkout@v2
        if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}

      - name: Set up Python 3.7
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.7

      - name: Copy settings file
        run: cp onlineweb4/settings/example-local.py onlineweb4/settings/local.py

      - name: Install python dependencies
        env:
          POETRY_VIRTUALENVS_CREATE: false
        run: |
          pip install poetry
          poetry install --no-interaction --no-ansi -E prod

      - name: Cache node modules
        uses: actions/cache@v2.1.5
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install node dependencies
        run: yarn install --pure-lockfile

      - name: npm build
        run: npm run build:prod

      - name: Python tests
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          OW4_DJANGO_STRIPE_PUBLIC_KEY_ARRKOM: ${{ secrets.STRIPE_PUBLIC_KEY_ARRKOM }}
          OW4_DJANGO_STRIPE_PUBLIC_KEY_PROKOM: ${{ secrets.STRIPE_PUBLIC_KEY_PROKOM }}
          OW4_DJANGO_STRIPE_PUBLIC_KEY_TRIKOM: ${{ secrets.STRIPE_PUBLIC_KEY_TRIKOM }}
          OW4_DJANGO_STRIPE_PRIVATE_KEY_ARRKOM: ${{ secrets.STRIPE_PRIVATE_KEY_ARRKOM }}
          OW4_DJANGO_STRIPE_PRIVATE_KEY_PROKOM: ${{ secrets.STRIPE_PRIVATE_KEY_PROKOM }}
          OW4_DJANGO_STRIPE_PRIVATE_KEY_TRIKOM: ${{ secrets.STRIPE_PRIVATE_KEY_TRIKOM }}
        run: |
          tox -e tests --recreate
          pip install codecov --quiet
          codecov
      - name: Cache python packages
        uses: actions/cache@v2.1.5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-

  lint-python:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-if-pr
        uses: actions/checkout@v2
        if: ${{ github.event_name == 'pull_request_target' }}
        with:
          # when using pull_requst, by default the code that is checked-out is actually the base of the PR, not the code of it.
          ref: ${{ github.event.pull_request.head.sha }}

      - name: checkout-if-push
        uses: actions/checkout@v2
        if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}

      - name: Set up Python 3.7
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.7

      - name: Copy settings file
        run: cp onlineweb4/settings/example-local.py onlineweb4/settings/local.py

      - name: Install python dependencies
        env:
          POETRY_VIRTUALENVS_CREATE: false
        run: |
          pip install poetry
          poetry install --no-interaction --no-ansi

      - name: Python linting
        run: tox -e flake8 -e isort -e black --recreate

  check-migrations:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-if-pr
        uses: actions/checkout@v2
        if: ${{ github.event_name == 'pull_request_target' }}
        with:
          # when using pull_requst, by default the code that is checked-out is actually the base of the PR, not the code of it.
          ref: ${{ github.event.pull_request.head.sha }}

      - name: checkout-if-push
        uses: actions/checkout@v2
        if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}

      - name: Set up Python 3.7
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.7

      - name: Copy settings file
        run: cp onlineweb4/settings/example-local.py onlineweb4/settings/local.py

      - name: Install python dependencies
        env:
          POETRY_VIRTUALENVS_CREATE: false
        run: |
          pip install poetry
          poetry install --no-interaction --no-ansi

      - name: Check migrations
        run: python manage.py makemigrations --check

  lint-js:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-if-pr
        uses: actions/checkout@v2
        if: ${{ github.event_name == 'pull_request_target' }}
        with:
          # when using pull_requst, by default the code that is checked-out is actually the base of the PR, not the code of it.
          ref: ${{ github.event.pull_request.head.sha }}

      - name: checkout-if-push
        uses: actions/checkout@v2
        if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}

      - name: Cache node modules
        uses: actions/cache@v2.1.5
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install node dependencies
        run: yarn install --pure-lockfile

      - name: JS linting
        run: npm run lint-js

      - name: less linting
        run: npm run lint-less
