{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Tilbakemeldinger - Svar - Online
{% endblock title %}

{% block content %}
<section class="container" id="feedbackanswer">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>{{ description }}</h2>
            </div>
            <form method="POST" role="form" class="feedback-answer-label" id="feedback"> 
                {% csrf_token %}
                <div class="form-group">
		            {% for f in answers %}
                        {{ f }}
                    {% endfor %}
		        </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>
{%endblock content %}
