{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>{{ description }}</h1>
            </div>
            <form method="POST" class="feedback-answer-label" id="feedback"> {% csrf_token %}
                {% for f in answers %}
                    {{f|crispy}}
                {% endfor %}
                <div class="form-actions">
                    <input class="btn btn-success" type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock content %}
